<div class="input-group">
	{{#if (and hasSource (not _hasError))}}
		<div class="input-group-addon">
			{{#if _isPlaying}}
				<button tabindex='0' type="button" class="btn btn-plain"
					{{action 'pause'}}>
					{{#if _isLoading}}
						<span class="fa fa-circle-o-notch fa-spin"></span>
					{{else}}
						<span class="fa fa-pause"></span>
					{{/if}}
				</button>
			{{else}}
				<button tabindex='0' type="button" class="btn btn-plain"
					{{action 'play'}}>
					<span class="fa fa-play"></span>
				</button>
			{{/if}}
		</div>
	{{/if}}
	<div class="input-group-element">
		<div class="audio-progress-bar">
			{{#if (and hasSource (not _hasError))}}
				<div class="audio-loaded" style='width:{{_percentBuffered}};'></div>
				<span class="time-label">{{_durationDisplay}}</span>
				<div class="audio-progress" style='width:{{_percentComplete}};'>
					<span class="time-label">{{_currentTimeDisplay}}</span>
				</div>
			{{else}}
				<p class="pad-l text-bold">
					{{#if hasBlock}}
						{{yield publicAPI _audio.error}}
					{{else}}
						<span class="fa fa-times margin-r-half"></span>
						{{#if (eq _audio.error.code 1)}}
							User canceled loading audio
						{{else if (eq _audio.error.code 2)}}
							Could not download audio
						{{else if (eq _audio.error.code 3)}}
							Could not decode audio
						{{else if (eq _audio.error.code 4)}}
							Unsupported audio format
						{{else}}
							Cannot play audio
						{{/if}}
					{{/if}}
				</p>
			{{/if}}
		</div>
	</div>
	{{#if (and hasSource (not _hasError))}}
		{{#hide-away classNames='input-group-addon'
			tabindex=false
			animation='fade'
			clickOutToClose=false
			hideTriggerOnOpen=true as |hideAway|}}
			<div class="input-group volume-control">
				<div class="input-group-addon">
					<button tabindex='0' type="button" class="btn btn-plain"
						onclick={{hideAway.actions.close}}>
						<span class="fa fa-angle-right"></span>
					</button>
				</div>
				<div class="input-group-addon">
					<button tabindex='0' type="button" class="btn btn-plain"
						{{action 'toggleVolume'}}>
						{{#if (or _isMuted (eq volume 0))}}
							<span class="fa fa-volume-off"></span>
						{{else if (gt volume 50)}}
							<span class="fa fa-volume-up"></span>
						{{else}}
							<span class="fa fa-volume-down"></span>
						{{/if}}
					</button>
				</div>
				<div class="input-group-element">
					<div class="volume-bar">
						<div class="volume-level-bar" style='width:{{_volumePercentage}};'></div>
					</div>
				</div>
			</div>
		{{else}}
			<button tabindex='0' type="button" class="btn btn-plain">
				{{#if (or _isMuted (eq volume 0))}}
					<span class="fa fa-volume-off"></span>
				{{else if (gt volume 50)}}
					<span class="fa fa-volume-up"></span>
				{{else}}
					<span class="fa fa-volume-down"></span>
				{{/if}}
			</button>
		{{/hide-away}}
	{{/if}}
</div>
