<button type='button'
    class="audio-control__button button {{if _recorder 'button--active'}}"
    onclick={{action _toggleRecording}}
    disabled={{if _isDisabled 'disabled'}}>
    {{#if _recorder}}
        {{#if _isProcessing}}
            <span class="fa fa-circle-o-notch fa-spin"></span>
        {{else}}
            <span class="fa fa-stop"></span>
        {{/if}}
    {{else}}
        <span class="fa fa-circle"></span>
    {{/if}}
</button>
{{audio-control/display
    message=_message
    currentNumSeconds=_currentTime
    maxNumSeconds=_maxTime}}
