<div class="row pad-l pad-r pad-b">
    <div class="xs-row-2 control-text">
        <label for="Availability" class='text-ellipsis'>
            Set availability
        </label>
    </div>
    {{#multi-toggle classNames='xs-row-2'
        selectIndex=(if entity.manualSchedule 0 1) as |toggle doRegister|}}
        {{#multi-toggle/item doRegister=doRegister
            color=constants.COLOR.BRAND
            onSelect=(action 'handleType' true)}}
            Manually
        {{/multi-toggle/item}}
        {{#multi-toggle/item doRegister=doRegister
            color=constants.COLOR.LIGHT_BLUE
            onSelect=(action 'handleType' false)}}
            By schedule
        {{/multi-toggle/item}}
    {{/multi-toggle}}
</div>
{{#if entity.manualSchedule}}
    <div class="pad-b pad-l pad-r">
        <div class="row">
            <div class="xs-row-2 control-text">
                <label for="Availability" class='text-ellipsis'>
                    Available now?
                </label>
            </div>
            {{#multi-toggle classNames='xs-row-2'
                selectIndex=(if entity.isAvailable 0 1) as |toggle doRegister|}}
                {{#multi-toggle/item doRegister=doRegister
                    color=constants.COLOR.BRAND
                    onSelect=(action 'handleManualAvailability' true)}}
                    Yes
                {{/multi-toggle/item}}
                {{#multi-toggle/item doRegister=doRegister
                    color=constants.COLOR.LIGHT_BLUE
                    onSelect=(action 'handleManualAvailability' false)}}
                    No
                {{/multi-toggle/item}}
            {{/multi-toggle}}
        </div>
    </div>
    {{#if others}}
        <div class="form-element pad-l pad-r pad-t">
            <label for="Team Member Availabilities" class='text-ellipsis'>
                Team Members
            </label>
        </div>
        <div class="bg-color pad-t pad-l pad-r">
            {{#each others as |_other|}}
                <div class="row pad-b">
                    {{availability-control/other entity=_other}}
                </div>
            {{/each}}
        </div>
    {{/if}}
{{else if (and entity.schedule.isFulfilled entity.schedule.content)}}
    {{#schedule-control
        scheduleClass="pad-l pad-r"
        schedule=entity.schedule.content
        onChange=(action "replaceRange" target=entity.schedule.content) as |info|}}
        {{#if others}}
            {{#hide-away tabindex=false
                hideTriggerOnOpen=false
                bodyClickClose=false
                clickOutToClose=false
                animation="slide"
                startOpen=false
                classNames="margin-t-half"
                bodyClass="pad-t pad-b-half pad-l pad-r bg-color relative-parent"}}
                {{#each others as |_other|}}
                    <div class="margin-b-half">
                        {{availability-control/other entity=_other dayOfWeek=info.dayOfWeek}}
                    </div>
                {{/each}}
            {{else}}
                <button type="button" class="btn btn-span btn--keep-case btn-plain">
                    Show team availability
                    <span class="fa fa-angle-down"></span>
                </button>
            {{/hide-away}}
        {{/if}}
    {{/schedule-control}}
{{else}}
    <div class="text-center">
        Loading
        <span class="fa fa-circle-o-notch fa-spin"></span>
    </div>
{{/if}}
