<div class="form__group">
    <div class="xs-row-2 control-text">
        <label for="Availability" class='form__label'>
            Set availability
        </label>
    </div>
    {{#multi-toggle classNames='xs-row-2'
        selectIndex=(if entity.manualSchedule 0 1) as |toggle doRegister|}}
        {{#multi-toggle/item doRegister=doRegister
            color=(constant "COLOR.BRAND")
            onSelect=(action 'handleType' true)}}
            Manually
        {{/multi-toggle/item}}
        {{#multi-toggle/item doRegister=doRegister
            color=(constant "COLOR.LIGHT_BLUE")
            onSelect=(action 'handleType' false)}}
            By schedule
        {{/multi-toggle/item}}
    {{/multi-toggle}}
</div>
{{#if entity.manualSchedule}}
    <div class="form__group">
        <div class="xs-row-2 control-text">
            <label for="Availability" class='form__label'>
                Available now?
            </label>
        </div>
        {{#multi-toggle classNames='xs-row-2'
            selectIndex=(if entity.isAvailable 0 1) as |toggle doRegister|}}
            {{#multi-toggle/item doRegister=doRegister
                color=(constant "COLOR.BRAND")
                onSelect=(action 'handleManualAvailability' true)}}
                Yes
            {{/multi-toggle/item}}
            {{#multi-toggle/item doRegister=doRegister
                color=(constant "COLOR.LIGHT_BLUE")
                onSelect=(action 'handleManualAvailability' false)}}
                No
            {{/multi-toggle/item}}
        {{/multi-toggle}}
    </div>
    {{#if others}}
        <div class="form__group">
            <label for="Team Member Availabilities" class='form__label'>
                Team Members
            </label>
        </div>
        <div class="bg-color pad-all">
            {{#each others as |_other|}}
                <div class="row form__label">
                    {{availability-control/other entity=_other}}
                </div>
            {{/each}}
        </div>
    {{/if}}
{{else if (and entity.schedule.isFulfilled entity.schedule.content)}}
    {{#schedule-control
        scheduleClass="pad-l pad-r"
        schedule=entity.schedule.content
        onChange=(action "replaceRange" target=entity.schedule.content) as |info|}}
        {{#if others}}
            {{#hide-show as |hideShow|}}
                <button type="button"
                    class="btn btn-span btn--keep-case btn-plain"
                    onclick={{hideShow.actions.toggle}}>
                    {{#if hideShow.isOpen}}
                        Hide team availability
                        <span class="fa fa-angle-up"></span>
                    {{else}}
                        Show team availability
                        <span class="fa fa-angle-down"></span>
                    {{/if}}
                </button>
                {{#if hideShow.isOpen}}
                    <div class="pad-t pad-b-half pad-l pad-r bg-color relative-parent">
                        {{#each others as |_other|}}
                            <div class="margin-b-half">
                                {{availability-control/other entity=_other dayOfWeek=info.dayOfWeek}}
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/hide-show}}
        {{/if}}
    {{/schedule-control}}
{{else}}
    <div class="text-center">
        Loading
        <span class="fa fa-circle-o-notch fa-spin"></span>
    </div>
{{/if}}
