<div class="input-group">
    <input type="text"
        class="form-control text-bold text-center"
        readonly="readonly"
        placeholder={{placeholder}}
        value={{_hexColor}}
        style={{_inputStyle}}>
    <span class="input-group-addon blend-in">
        {{#pop-over bodyClickWillClose=false as |popOver|}}
            <button class="btn"
                type="button"
                onclick={{popOver.actions.toggle}}
                disabled={{if disabled "disabled"}}>
                {{#if popOver.isOpen}}
                    <span class="fa fa-times"></span>
                {{else}}
                    <span class="fa fa-pencil"></span>
                {{/if}}
            </button>
        {{else}}
            {{col-pick value=_hexColor flat=true useHashtag=true}}
        {{/pop-over}}
    </span>
</div>
