<h1> Select Contacts to Import </h1>
<br><br>

{{#unless _hasCordova}}
  <input type="file"
      accept="text/vcard"
      multiple="multiple"
      onchange={{action _handleUpload}}>
  <br><br><br>
{{/unless}}

{{#if _hasContacts}}
  <input type="button" value="Select All" onclick={{action _selectAll}}>
  <input type="button" value="Deselect All" onclick={{action _deselectAll}}>
  <br>

  <div class="contacts-import__contact-container">
    <div class="contacts-import__contact-item">
      <h2 class="contacts-import__contact-name" style="margin-left:50px"> Name </h2>
      <h2 class="contacts-import__contact-number"> Number </h2>
    </div>

    {{#each _contacts as |person index|}}
      <div class="contacts-import__contact-item">
        <input type="checkbox" name="box" id="{{index}}"
          onchange={{action _onSelect person}}>
        <h2 class="contacts-import__contact-name"> {{person.name}} </h2>
        <div class="contacts-import__contact-number-container">
          {{#each person.number as |number|}}
            <h2 class="contacts-import__contact-number-item"> {{number}} </h2>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  Please upload contacts
{{/if}}

<br><br>
<input type="button" value="Import" onclick={{action _submitContacts}}>
