{{#if showDate}}
	<div class="{{if showBoth 'xs-row-2 pad-r-half'}}">
	    <div class="input-group">
	        <span class="input-group-text-display {{if disabled 'form-disabled'}}">
	            <span class="icon-calendar"></span>
	        </span>
	        {{pick-a-date classNames='form-control'
	        	disabled=(readonly disabled)
	            date=(readonly _value)
	            on-selected=(action 'onSelect')
	            placeholder=datePlaceholder
	            options=(readonly _dateOptions)}}
	    </div>
	</div>
{{/if}}
{{#if showTime}}
	<div class="{{if showBoth 'xs-row-2 pad-l-half'}}">
	    <div class="input-group">
	        <span class="input-group-text-display {{if disabled 'form-disabled'}}">
	            <span class="icon-clock"></span>
	        </span>
	        {{pick-a-time classNames='form-control'
	        	disabled=(readonly disabled)
	            date=(readonly _value)
	            on-selected=(action 'onSelect')
	            placeholder=timePlaceholder
	            options=(readonly _timeOptions)}}
	    </div>
	</div>
{{/if}}
