{{#responsive-image-gallery images=images thumbnailClass=(concat elementId '-item') as |gallery|}}
    {{#each images as |image index|}}
        <div class="{{itemClass}} {{concat elementId '-item'}}"
            onclick={{action gallery.actions.open (hash index=index)}}>
            {{responsive-image
                versions=image.versions
                onSuccess=(action _onSuccess index)
                onFailure=(action _onFailure index)}}
            {{yield image index}}
        </div>
    {{/each}}
{{/responsive-image-gallery}}
