{{#responsive-image-gallery images=_images thumbnailClass=(concat elementId '-item') as |gallery|}}
    <div class="image-grid__item-container">
        {{#each _images as |image index|}}
            <div class="image-grid__item {{itemClass}} {{concat elementId '-item'}}"
                onclick={{action gallery.actions.open (hash index=index)}}>
                {{responsive-image classNames="image-grid__item__image"
                    versions=image.versions.content
                    onSuccess=(action _onSuccess index)
                    onFailure=(action _onFailure index)}}
                {{yield image index}}
            </div>
        {{/each}}
    </div>
{{/responsive-image-gallery}}
