<div class="location-map">
	<div class="map-container" id={{mapId}} tabindex="0"></div>
	{{#if _isEditing}}
		<div class="map-search-bar">
			<form class="input-group" onsubmit={{action _doSearch}}>
				<input type="text"
					class="form-control"
					placeholder={{searchPlaceholder}}
					autocomplete="off">
				<span class="input-group-addon blend-in">
					<button class="btn" type="submit">
						<span class="icon-search"></span>
					</button>
				</span>
			</form>
		</div>
	{{else}}
		<button class="map-editing btn btn-default" type="button"
			onclick={{action (mut _isEditing) true}}>
			<span class="icon-search"></span>
		</button>
	{{/if}}
</div>
