<div class='row text-center pad-l-double pad-r-double'>
	{{#each _indicators as |isActive|}}
		<span class="indicator {{if isActive 'active'}}"></span>
	{{/each}}
</div>
<ul class="dial-pad">
	<li class="dial-pad-message success-message">
		<div class="center text-bold">
			{{successText}}
		</div>
	</li>
	<li class="dial-pad-message working-message">
		<div class="center">
			<div class="horizontal-items">
				<span class='clear-badge'>{{workingText}}</span>
				<span class="clear-badge">
					<span class="fa fa-circle-o-notch fa-spin"></span>
				</span>
			</div>
		</div>
	</li>
	<li class="dial-pad-message locked-message">
		<div class="center text-bold">
			{{lockedText}}
			{{#if _whenUnlock}}
				Please try again {{moment-from-now _whenUnlock interval=1000}}.
			{{/if}}
		</div>
	</li>
	{{number-control val=val
		numDigits=numDigits
		disabled=disabled
		tabindex=tabindex
		hasError=_hasError
		doChange=(action 'updateVal')}}
</ul>
