{{#if _isLocked}}
    <div class="single-container single-container-small">
        <div class="single-header">
            <img class="brand" src="/assets/images/logo.png" />
            <h3 class="text-white">Enter lock code</h3>
        </div>
        {{lock-pad focusOnInit=true
            val=val
            doUpdateVal=(optional-action onChange)
            doValidate=(action _onValidate)}}
        <div class="single-footer">
            <p class="emphasize text-white">Not {{username}}?</p>
            <h4>
                <button type="button" class="btn-link text-white" onclick={{optional-action onLogOut}}>
                    Log Out
                </button>
            </h4>
        </div>
    </div>
{{else}}
    {{yield}}
{{/if}}
