{{#hide-show doRegister=(action (mut _dropdown))
	onOpen=(action "afterDropdownOpen")
	onClose=(action "afterDropdownClose")
	disabled=disabled
	clickOutToClose=true
	focusOutToClose=true
	ignoreCloseSelector="" as |hideShow|}}
	{{#if hasBlock}}
		{{#component inputComponent data=selected
			displayProperty=displayProperty
			autoCloseEdit=false
			itemClass=itemClass
			doRegister=(action (mut _input))
			onUpdate=(action "update")
			onInsert=(action "insert")
			onRemove=(action "remove")
			onInputStart=(action "inputStart")
			onInput=(action "inputChange")
			placeholder=searchPlaceholder as |selectedItem|}}
			{{yield selectedItem publicAPI}}
		{{/component}}
	{{else}}
		{{component inputComponent data=selected
			displayProperty=displayProperty
			autoCloseEdit=false
			itemClass=itemClass
			doRegister=(action (mut _input))
			onUpdate=(action "update")
			onInsert=(action "insert")
			onRemove=(action "remove")
			onInputStart=(action "inputStart")
			onInput=(action "inputChange")
			placeholder=searchPlaceholder}}
	{{/if}}
	{{#if hideShow.isOpen}}
		<div class={{bodyClass}}>
			{{#each _remainingResults as |item index|}}
				<div class="multi-select-item multi-select-item-default {{itemClass}}"
					data-index={{index}}
					tabindex="-1"
					onclick={{action "selectItem" item index}}>
					{{#if hasBlock}}
						{{yield item publicAPI}}
					{{else}}
						<span class="text-bold">
							{{if displayProperty (get item displayProperty) item}}
						</span>
					{{/if}}
				</div>
			{{else if isSearching}}
				<div class="multi-select-item multi-select-item-default {{itemClass}}">
					{{searchingMessage}} <span class="fa fa-circle-o-notch fa-spin"></span>
				</div>
			{{else}}
				<div class="multi-select-item multi-select-item-default {{itemClass}}">
					{{noResultsMessage}}
				</div>
			{{/each}}
		</div>
	{{/if}}
{{/hide-show}}
