{{#if (or cluster.alwaysCluster (gt cluster.numItems 1))}}
    {{#hide-show classNames='record-cluster' as |hideShow|}}
        <button type='button'
            class="record-cluster__trigger"
            onclick={{hideShow.actions.toggle}}>
            {{#if hideShow.isOpen}}
                Hide
            {{else}}
                Show
            {{/if}}
            {{cluster.label}}
        </button>
        {{#if hideShow.isOpen}}
            <div class="record-cluster__body">
                {{#each cluster.items as |item index|}}
                    {{record-cluster/item item=item noteOptions=noteOptions}}
                    {{yield item index}}
                {{/each}}
            </div>
        {{/if}}
    {{/hide-show}}
{{else if (eq cluster.numItems 1)}}
    {{record-cluster/item item=cluster.items.firstObject noteOptions=noteOptions}}
    {{yield cluster.items.firstObject 0}}
{{/if}}
