{{yield}} {{!-- for overlays --}}
{{#record-actions-control/media-drawer images=images onRemoveImage=(action _onRemoveImage)}}
    <div class="record-actions-control__action-container">
        {{#pop-over as |popOver|}}
            <button class="btn btn-default btn-plain record-actions-control__dropdown-trigger"
                type="button"
                onclick={{popOver.actions.toggle}}>
                <span class="fa fa-plus"></span>
            </button>
        {{else}}
            <ul class="dropdown">
                <li tabindex="0" class="dropdown-item" onclick={{action _scheduleMessage}}>
                    Schedule message
                </li>
                {{#if hasPersonalPhoneNumber}}
                    <li tabindex="0" class="dropdown-item" onclick={{action _startCall}}>
                        Make call
                    </li>
                {{/if}}
                <li class="dropdown-divider">Documentation</li>
                {{#if hasItemsInRecord}}
                    <li tabindex="0" class="dropdown-item" onclick={{action  _addNoteInPast}}>
                        Add past note
                    </li>
                {{/if}}
                <li tabindex="0" class="dropdown-item" onclick={{action _addNoteNow}}>
                    Add note
                </li>
            </ul>
        {{/pop-over}}
        {{!-- manually create DDAU pattern for `contents` for now --}}
        {{record-actions-control/compose-text
            classNames="record-actions-control__action-item record-actions-control__action-item--grow"
            hasMedia=_hasImages
            contents=(mut _contents)
            onClearContents=(action _onContentChange '')
            onSend=(action _onSendText)
            onAddImage=(action _onAddImage)}}
    </div>
{{/record-actions-control/media-drawer}}
