<div class="tab-container-nav {{if _hasMultipleTabs "" "hidden"}}">
	<ul class="tab-container-nav-list {{_navListClass}}">
		{{#each _items as |item index|}}
			<li class="tab-container-nav-item {{if (eq _publicAPI.currentIndex index) "active"}}"
				{{action _switchToIndex index}}>
				{{item.title}}
			</li>
		{{/each}}
	</ul>
	<div class="tab-container-nav-controls">
		{{#hide-show as |hideShow|}}
			<div class="flex border-b">
				<div class="flex__item flex__item--grow">
					<button class="tab-container-nav-display btn btn-expand flex flex--spacing-between flex--justify-spread"
						type="button"
						onclick={{hideShow.actions.toggle}}>
						<span class="text-ellipsis flex__item flex__item--grow">
							{{_currentItem.title}}
						</span>
						<span class="flex__item">
							{{#if hideShow.isOpen}}
								<span class="fa fa-caret-up"></span>
	    					{{else}}
	    						<span class="fa fa-caret-down"></span>
	    					{{/if}}
						</span>
	    			</button>
				</div>
				<div class="flex__item">
					<button class="btn btn-plain"
						type="button"
						onclick={{action _switchToPrevIndex}}>
						<span class="fa fa-chevron-left"></span>
					</button>
				</div>
				<div class="flex__item">
					<button class="btn btn-plain"
						type="button"
						onclick={{action _switchToNextIndex}}>
						<span class="fa fa-chevron-right"></span>
					</button>
				</div>
			</div>
			{{#if hideShow.isOpen}}
				<ul class="dropdown border-b">
	                {{#each _items as |item index|}}
						<li tabindex="0"
							class="dropdown-item {{if (eq _publicAPI.currentIndex index) "active"}}"
							onclick={{action hideShow.actions.closeThenCall (action _switchToIndex index)}}>
							{{item.title}}
						</li>
					{{/each}}
	            </ul>
			{{/if}}
		{{/hide-show}}
	</div>
</div>
<div class="tab-container-body">
	{{yield _publicAPI}}
</div>
