{{#if (or _contactsIsAlreadyArray _singleContactIsActive)}}
    <li tabindex='0' class='dropdown-item'
        onclick={{action _onChange (constant "CONTACT.STATUS.UNREAD")}}>
        Mark as unread
    </li>
{{/if}}
{{#if (or _contactsIsAlreadyArray (not _singleContactIsActive))}}
    <li tabindex='0' class='dropdown-item'
        onclick={{action _onChange (constant "CONTACT.STATUS.ACTIVE")}}>
        {{#if _singleContactIsArchived}}
            Unarchive
        {{else if _singleContactIsBlocked}}
            Unblock
        {{else}}
            Mark as active
        {{/if}}
    </li>
{{/if}}
{{#if (or _contactsIsAlreadyArray _singleContactIsUnread _singleContactIsActive)}}
    <li tabindex='0' class='dropdown-item'
        onclick={{action _onChange (constant "CONTACT.STATUS.ARCHIVED")}}>
        Archive
    </li>
{{/if}}
{{#if (or _contactsIsAlreadyArray (not _singleContactIsBlocked))}}
    <li tabindex='0' class='dropdown-item'
        onclick={{action _onChange (constant "CONTACT.STATUS.BLOCKED")}}>
        Block
    </li>
{{/if}}
