<div class="xs-3-row-20 s-row-10 display-xs display-xs display-s
    full-height row ">
    {{#link-to backRouteName classNames='pull-left'}}
        <span class="pad-all">
            <span class="icon-thin-left-arrow"></span>
        </span>
    {{/link-to}}
</div>
<div class="xs-11-row-20 s-7-row-10 m-14-row-20 l-15-row-20
    full-height contact-info">
    <div class='contact-summary'>
        <div class="horizontal-items clickable" onclick={{action _onEdit}}>
            <span class="clear-badge no-space clickable">
                <h5>{{tag.name}}</h5>
            </span>
            <span class="display-s display-m display-l">
                <div class="margin-l badge clickable">
                    {{tag.numMembers}}
                    {{pluralize 'members' tag.numMembers}}
                </div>
            </span>
        </div>
    </div>
</div>
<div class="xs-6-row-20 s-2-row-10 m-6-row-20 l-5-row-20
    full-height row">
    <div class="horizontal-items pull-right">
        {{#if (not tag.isDeleted)}}
            <span class="clear-badge no-space">
                {{#if (can-download)}}
                    {{#pop-over as |popOver|}}
                        <button class="btn" type="button" onclick={{popOver.actions.toggle}}>
                            More
                            <span class="icon-thin-down-arrow"></span>
                        </button>
                    {{else}}
                        <ul class="dropdown">
                            <li tabindex='0' class='dropdown-item' onclick={{action _onEdit}}>
                                Details
                            </li>
                            <li tabindex='0' class='dropdown-item' onclick={{action _onExport}}>
                                Export records
                            </li>
                        </ul>
                    {{/pop-over}}
                {{else}}
                    <button class="btn" type="button" onclick={{action _onEdit}}>
                        Details
                    </button>
                {{/if}}
            </span>
        {{/if}}
        <span class="clear-badge display-m display-l">
            {{#link-to backRouteName}}
                <span class="pad-all">
                    <span class="icon-x"></span>
                </span>
            {{/link-to}}
        </span>
    </div>
</div>
