<div class="result-item row">
    <div class="contacts-control {{if contact.isSelected 'selected'}}"
        {{action 'toggleSelected' contact preventDefault=false}}>
        <span class="fa fa-check center"></span>
    </div>
    {{#link-to (if tag
            'main.tag.contact'
            (if searchQuery
                'main.search.contact'
                'main.contacts.contact'))
            contact.id
        tagName="div"}}
        <div class='contacts-info {{if contact.isUnread "unread"}}'>
            <div class="emphasize horizontal-items">
                <span class="clear-badge no-space">
                    <span class="margin-r-half">
                        {{phone-number contact.identifier}}
                    </span>
                </span>
                {{partial 'partials/contact/indicators'}}
            </div>
            <p>
                {{moment-from-now contact.lastRecordActivity interval=1000}}
            </p>
        </div>
    {{/link-to}}
</div>
