{{#if contact}}
	{{#if (not contact.isUnread)}}
		<li tabindex='0' class='dropdown-item'
			onclick={{route-action 'markUnread' contact}}>
			Mark as unread
		</li>
	{{/if}}
	{{#if (not contact.isActive)}}
		<li tabindex='0' class='dropdown-item'
			onclick={{route-action 'markActive' contact}}>
			Mark as active
		</li>
	{{/if}}
	{{#if (not contact.isArchived)}}
		<li tabindex='0' class='dropdown-item'
			onclick={{route-action 'markArchived' contact}}>
			Archive
		</li>
	{{/if}}
	{{#if (not contact.isBlocked)}}
		<li tabindex='0' class='dropdown-item'
			onclick={{route-action 'markBlocked' contact}}>
			Block
		</li>
	{{/if}}
{{else if selected}}
	<li tabindex='0' class='dropdown-item'
		onclick={{route-action 'markUnread' selected}}>
		Mark as unread
	</li>
	<li tabindex='0' class='dropdown-item'
		onclick={{route-action 'markActive' selected}}>
		Mark as active
	</li>
	<li tabindex='0' class='dropdown-item'
		onclick={{route-action 'markArchived' selected}}>
		Archive
	</li>
	<li tabindex='0' class='dropdown-item'
		onclick={{route-action 'markBlocked' selected}}>
		Block
	</li>
{{/if}}
