{{#if contact.isShared}}
    <div class="bg-color margin-b border-radius-all
        pad-t pad-l pad-r pad-b-half">
        <p class='margin-b-half'>
            <span class="text-bold">
                {{phone-number contact.sharedByName}}
            </span>
            {{#if contact.isDelegatePermission}}
                has been collaborating with you on
            {{else if contact.isViewPermission}}
                has allowed you to view
            {{else}}
                has shared
            {{/if}}
            <span class="text-bold">
                {{phone-number contact.name}}
            </span>
            since
            {{moment-from-now contact.whenCreated interval=10000}}
        </p>
    </div>
{{/if}}
<div class="form__group">
    <label class="form__label" for="Name">Name</label>
    {{input value=contact.name
        validateObj=contact
        validateField='name'
        validate='bottom'
        disabled=(if (not contact.allowEdits) 'disabled')
        type="text" placeholder="Name" class="form__input"
        autocorrect="off"}}
</div>
<div class="form__group">
    <label class="form__label" for="Note">Note</label>
    {{textarea rows="3"
        placeholder="Enter notes here..."
        disabled=(if (not contact.allowEdits) 'disabled')
        autoresize=true
        class="form__input form__input--multiline"
        maxLength=1000
        validateObj=contact
        validateField='note'
        validate='bottom'
        value=contact.note}}
</div>
<div class="form__group">
    <div class="xs-2-row-3 control-text">
        <label class="form__label" for="Language">
            Language
        </label>
    </div>
    <select name="contact-language" class="xs-row-3 form__input"
        onchange={{action (mut contact.language) value="target.value"}}
        disabled={{if (not contact.allowEdits) "disabled"}}>
        {{#each (constant "LANGUAGES") as |_lang|}}
            <option value={{_lang}}
                selected={{if (eq _lang contact.language) "selected"}}>
                {{capitalize (lowercase _lang) 1}}
            </option>
        {{/each}}
    </select>
</div>
<div class="form__group">
    <label class="form__label" for="Numbers">Numbers</label>
    {{#if contact.numberDuplicates}}
        <div class="bg-color margin-b border-radius-all pad-t pad-l pad-r pad-b-half">
            {{#each contact.numberDuplicates as |dupObj|}}
                {{#with (get dupObj.duplicates.lastObject (constant "PROP_NAME.READABLE_IDENT")) as |lastIdent|}}
                    <p class='margin-b-half'>
                        <span class="text-bold">{{phone-number dupObj.number}}</span>
                        also belongs to
                        {{#each dupObj.duplicates as |dupContact|}}
                            {{#with (get dupContact (constant "PROP_NAME.READABLE_IDENT")) as |thisIdent|}}
                                <span class='link'
                                    onclick={{action _onGoToDuplicates dupContact.id}}>
                                    {{!-- tildes present to trim whitespace --}}
                                    {{~phone-number thisIdent ~}}
                                </span>
                                {{~if (eq thisIdent lastIdent) "." ", "}}
                            {{/with}}
                        {{/each}}
                    </p>
                {{/with}}
            {{/each}}
        </div>
    {{/if}}
    {{sortable-group/numbers numbers=contact.numbers
        readonly=(not contact.allowEdits)
        onAdd=(action _onAddNumber)
        onRemove=(action _onRemoveNumber)
        validateObj=contact
        validateField='numbers'
        validate='bottom'}}
</div>
