<div class="form__group">
    <label class="form__label" for="Scheduled Message">Message</label>
    {{textarea class='form__input form__input--multiline start-focus'
        disabled=futureMessage.isDeleted
        maxLength=320
        autoresize=true
        rows='1'
        value=futureMessage.message
        placeholder="Enter message..."
        validateObj=futureMessage
        validateField='message'
        validate='bottom'}}
</div>
<div class="form__group form__group--full-width">
    {{photo-control images=futureMessage.media.content.displayedImages.content
        imageDisplayComponent=(constant "PHOTO_CONTROL.DISPLAY.GRID")
        readOnly=futureMessage.isSaving
        addComponentClass="form__item--constrain-width"
        onAdd=(action _onAddImage)
        onRemove=(action _onRemoveMedia)}}
</div>
<div class="form__group">
    {{audio-control audio=futureMessage.media.content.displayedAudio
        readOnly=futureMessage.isSaving
        onAdd=(action _onAddAudio)
        onRemove=(action _onRemoveMedia)}}
</div>
<div class="form__group">
    <label class="form__label" for="Start Date">
        {{if futureMessage.isRepeating 'Start' 'Send'}}
        Date
    </label>
    {{#if futureMessage.isNew}}
        {{!-- if the startDate has been rounded down such that it less than the
        unrounded time right now, use the unbounded startDate as the minimum --}}
        {{datetime-control
            onSelect=(action (mut futureMessage.startDate))
            timeInterval=(constant "DEFAULT.TIME_INTERVAL_IN_MINUTES")
            value=futureMessage.startDate
            min=(if (gt (now) (unbound futureMessage.startDate)) (unbound futureMessage.startDate) now)}}
    {{else}}
        {{datetime-control
            onSelect=(action (mut futureMessage.startDate))
            value=futureMessage.startDate
            disabled=true}}
    {{/if}}
</div>
<div class="form__group">
    <div class="xs-2-row-3 control-text">
        <label class="form__label" for="Type">
            Send As
        </label>
    </div>
    {{multi-toggle/binary classNames='xs-row-3'
        disabled=futureMessage.isDeleted
        value=(eq futureMessage.type (constant "FUTURE_MESSAGE.TYPE.CALL"))
        onFalse=(action (mut futureMessage.type) (constant "FUTURE_MESSAGE.TYPE.TEXT"))
        onTrue=(action (mut futureMessage.type) (constant "FUTURE_MESSAGE.TYPE.CALL"))
        falseColor=(constant "COLOR.LIGHT_BLUE")
        trueColor=(constant "COLOR.BRAND")
        falseString='Text'
        trueString='Call'}}
</div>
{{#liquid-if (eq futureMessage.type (constant "FUTURE_MESSAGE.TYPE.CALL"))
    class='animate-slide-from-top'}}
    <div class="form__group">
        <div class="xs-2-row-3 control-text">
            <label class="form__label" for="Start Date">
                Language
            </label>
        </div>
        <select name="scheduled-message-language" class="xs-row-3 form__input"
            onchange={{action (mut futureMessage.language) value="target.value"}}>
            {{#each (constant "LANGUAGES") as |_lang|}}
                <option value={{_lang}}
                    selected={{if (eq _lang futureMessage.language) "selected"}}>
                    {{capitalize (lowercase _lang) 1}}
                </option>
            {{/each}}
        </select>
    </div>
{{/liquid-if}}
<div class="form__group">
    <div class="xs-2-row-3 control-text">
        <label class="form__label" for="Notify Self">
            Notify me when sending?
            {{#if (not personalNumber)}}
                {{#tool-tip title='Notifications disabled'
                    classNames='margin-l-quarter'
                    tagName='span'}}
                    <span class="icon-question-circle-filled"></span>
                {{/tool-tip}}
            {{/if}}
        </label>
    </div>
    {{multi-toggle/binary classNames='xs-row-3'
        disabled=(or futureMessage.isDeleted (not personalNumber))
        value=futureMessage.notifySelfOnSend}}
</div>
{{#if futureMessage.isNew}}
    <div class="form__group">
        <div class="xs-2-row-3 control-text">
            <label class="form__label" for="Repeat">
                Repeat?
            </label>
        </div>
        {{multi-toggle/binary classNames='xs-row-3'
            disabled=futureMessage.isDeleted
            value=futureMessage.isRepeating}}
    </div>
{{/if}}
{{#if futureMessage.isRepeating}}
    <div class="pad-t-double bg-color">
        <div class="form__group">
            <div class="xs-row-3 control-text">
                <label class="form__label" for="Repeat">
                    Repeat Every
                </label>
            </div>
            <div class="xs-row-3 pad-r-half">
                {{input class='form__input'
                    disabled=futureMessage.isDeleted
                    type='number'
                    min='1'
                    placeholder='#'
                    value=futureMessage.repeatInterval
                    validateObj=futureMessage
                    validateField='repeatInterval'
                    validate='bottom'}}
            </div>
            {{multi-toggle/binary classNames='xs-row-3'
                disabled=futureMessage.isDeleted
                value=(eq futureMessage.intervalSize 7)
                onFalse=(action (mut futureMessage.intervalSize) 1)
                onTrue=(action (mut futureMessage.intervalSize) 7)
                falseColor=(constant "COLOR.LIGHT_BLUE")
                trueColor=(constant "COLOR.BRAND")
                falseString=(pluralize 'Day' futureMessage.repeatInterval)
                trueString=(pluralize 'Week' futureMessage.repeatInterval)}}
        </div>
        <div class="form__group">
            <div class="xs-2-row-3 control-text">
                <label class="form__label" for="Repeat">
                    Stop After
                </label>
            </div>
            {{multi-toggle/binary classNames='xs-row-3'
                disabled=futureMessage.isDeleted
                value=futureMessage.hasEndDate
                falseColor=(constant "COLOR.LIGHT_BLUE")
                trueColor=(constant "COLOR.BRAND")
                falseString='Number'
                trueString='Date'}}
        </div>
        <div class="pad-b pad-t pad-l pad-r bg-color bg-dark">
            {{#if futureMessage.hasEndDate}}
                <div class="form__group form__group--no-vertical-space">
                    <div class="xs-row-3 control-text">
                        <label for="End Date">End On</label>
                    </div>
                    {{datetime-control
                        classNames='xs-2-row-3'
                        disabled=futureMessage.isDeleted
                        onSelect=(action (mut futureMessage.endDate))
                        value=futureMessage.endDate
                        min=futureMessage.startDate
                        showTime=false}}
                </div>
            {{else}}
                <div class="form__group form__group--no-vertical-space">
                    <div class="xs-row-3 control-text">
                        <label class="form__label" for="Repeat Count">Repeat</label>
                    </div>
                    <div class="xs-row-3 pad-r-half">
                        {{input class='form__input'
                            disabled=futureMessage.isDeleted
                            type='number'
                            min='1'
                            placeholder='#'
                            value=futureMessage.repeatCount
                            validateObj=futureMessage
                            validateField='repeatCount'
                            validate='bottom'}}
                    </div>
                    <div class="xs-row-3 control-text text-center">
                        <label for="Repeat Count">
                            {{pluralize 'Time' futureMessage.repeatCount}}
                        </label>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}
