<div class="form-element pad-l pad-r">
    <label for="Contents">Contents</label>
    {{textarea rows="3"
        autoresize=true
        readonly=(if readOnly "readonly")
        remaining="bottom"
        class=(if contentsClass contentsClass "form-control")
        maxlength="1000"
        validateFreq=1000
        validateObj=recordNote
        validateField="noteContents"
        validate="bottom"
        value=recordNote.noteContents}}
</div>
<div class="margin-b">
    {{photo-control images=recordNote.media.content.displayedImages.content
        imageDisplayComponent=constants.PHOTO_CONTROL.DISPLAY.GRID
        readOnly=(or readOnly recordNote.isSaving)
        addComponentClass="margin-l margin-r"
        onAdd=doAddImage
        onRemove=doRemoveMedia}}
</div>
<hr>
<div class="form-element pad-l pad-r">
    {{audio-control audio=recordNote.media.content.displayedAudio
        readOnly=(or readOnly recordNote.isSaving)
        onAdd=doAddAudio
        onRemove=doRemoveMedia}}
</div>
<hr>
{{#if (not readOnly)}}
    {{#if recordNote.location.content}}
        {{!-- can only remove location if is new --}}
        {{!-- [FUTURE] need to have a readonly-view for the location-control --}}
        {{#if (and recordNote.location.content.isNew (not readOnly) (not recordNote.isSaving))}}
            <div class="form-element pad-l pad-r">
                <button type="button"
                    class="button button--expand"
                    onclick={{doRemoveLocation}}>
                    Remove location
                </button>
            </div>
        {{/if}}
        {{form/location-model entity=recordNote onLocationError=onLocationError}}
    {{else if (and (not readOnly) (not recordNote.isSaving))}}
        <div class="form-element  pad-l pad-r">
            <button type="button"
                class="button button--expand"
                onclick={{doAddLocation}}>
                Add location
            </button>
        </div>
    {{/if}}
{{/if}}
