<div class="form-element pad-l pad-r">
    <label for="Contents">Contents</label>
    {{textarea rows="3"
        autoresize=true
        readonly=(if readOnly "readonly")
        remaining="bottom"
        class=(if contentsClass contentsClass "form-control")
        maxlength="1000"
        validateFreq=1000
        validateObj=recordNote
        validateField="noteContents"
        validate="bottom"
        value=recordNote.noteContents}}
</div>
<div class="form-element">
    {{photo-control images=recordNote.media.content.displayedImages.content
        imageDisplayComponent=constants.PHOTO_CONTROL.DISPLAY.GRID
        readOnly=(or readOnly recordNote.isSaving)
        onAdd=doAddImage
        onRemove=doRemoveImage}}
</div>
{{#if (not readOnly)}}
    {{#if recordNote.location.content}}
        {{!-- can only remove location if is new --}}
        {{!-- [FUTURE] need to have a readonly-view for the location-control --}}
        {{#if recordNote.location.content.isNew}}
            <div class="form-element">
                <label class="text-center clickable pad-all
                    bg-color hover-bg-color hover-bg-dark"
                    tabindex="0"
                    onclick={{doRemoveLocation}}>
                    <span class="fa fa-minus"></span>
                    <span class="margin-l-quarter">Remove location</span>
                </label>
            </div>
        {{/if}}
        {{form/location-model entity=recordNote onLocationError=onLocationError}}
    {{else}}
        <div class="form-element">
            <label class="text-center clickable pad-all
                bg-color hover-bg-color hover-bg-dark"
                tabindex="0"
                onclick={{doAddLocation}}>
                <span class="fa fa-plus"></span>
                <span class="margin-l-quarter">Add location</span>
            </label>
        </div>
    {{/if}}
{{/if}}
