<div class="form__group">
    <label class="form__label" for="Contents">Contents</label>
    {{textarea rows="3"
        autoresize=true
        readonly=(if readOnly "readonly")
        class=(concat firstControlClass " form__input form__input--multiline")
        maxLength=1000
        validateFreq=1000
        validateObj=recordNote
        placeholder="Enter note..."
        validateField="noteContents"
        validate="bottom"
        value=recordNote.noteContents}}
</div>
<div class="form__group form__group--full-width">
    {{photo-control images=recordNote.media.content.displayedImages.content
        imageDisplayComponent=(constant "PHOTO_CONTROL.DISPLAY.GRID")
        readOnly=(or readOnly recordNote.isSaving)
        addComponentClass="margin-l margin-r"
        onAdd=onAddImage
        onRemove=onRemoveMedia}}
</div>
<div class="form__group">
    {{audio-control audio=recordNote.media.content.displayedAudio
        readOnly=(or readOnly recordNote.isSaving)
        onAdd=onAddAudio
        onRemove=onRemoveMedia}}
</div>
{{#if (not readOnly)}}
    {{#if recordNote.location.content}}
        {{!-- can only remove location if is new --}}
        {{!-- [FUTURE] need to have a readonly-view for the location-control --}}
        {{#if (and recordNote.location.content.isNew (not readOnly) (not recordNote.isSaving))}}
            <div class="form__group">
                <button type="button"
                    class="button button--expand"
                    onclick={{onRemoveLocation}}>
                    Remove location
                </button>
            </div>
        {{/if}}
        {{model-form/location entity=recordNote onLocationError=onLocationError}}
    {{else if (and (not readOnly) (not recordNote.isSaving))}}
        <div class="form__group">
            <button type="button"
                class="button button--expand"
                onclick={{onAddLocation}}>
                Add location
            </button>
        </div>
    {{/if}}
{{/if}}
