{{#hide-away tabindex=false
    doRegister=(action (mut passwordDropdown))
    classNames='form-element'
    bodyFocusOnOpenSelector='.start-focus'
    onOpen=(action (mut storedUsername) authManager.authUser.username)
    onClose=(route-action 'revert' staff
        (action (mut newPPassword) null)
        (action (mut newPassword) null)
        (action (mut storedUsername) null))
    bodyClass='pad-all' as |hideAway|}}
    {{#if (eq storedUsername (unbound staff.username))}}
        <div class='form-element'>
            Changing password will require logging back in.
        </div>
    {{/if}}
    <div class='form-element'>
        <label for='Your Password' class='control-label'>Your Password</label>
        {{input type='password'
            class='form-control start-focus'
            placeholder='Your Password'
            value=newPPassword}}
    </div>
    <div class='form-element'>
        <label for='New Password' class='control-label'>New Password</label>
        {{input type='password'
            class='form-control'
            placeholder='New Password'
            value=newPassword}}
    </div>
    <div class='form-element'>
        <label for='Confirm New' class='control-label'>Confirm New</label>
        {{input type='password'
            class='form-control'
            placeholder='Confirm New Password'
            value=staff.password}}
    </div>
    {{#if (and newPPassword newPassword (eq newPassword staff.password))}}
        <div class="pad-t text-center">
            <button class="btn" type='button'
                onclick={{hideAway.actions.close}}>
                Cancel
            </button>
            {{async-button classNames='btn btn-default'
                disableWhen=(not (v-get staff 'isValid'))
                action=(route-action 'validate' storedUsername newPPassword
                    (route-action 'persist' staff
                        hideAway.actions.close
                        (if (eq storedUsername (unbound staff.username))
                            (route-action 'logout'))))
                default='Update'
                pending='Updating...'}}
        </div>
    {{/if}}
{{else}}
    <button class="btn btn-span" type='button'>
        Update password
        <span class="fa fa-caret-down"></span>
    </button>
{{/hide-away}}
