{{#hide-show classNames="form-element"
    doRegister=(action (mut passwordDropdown))
    focusOnOpenSelector=".start-focus"
    onOpen=(action (mut storedUsername) authService.authUser.username)
    onClose=(route-action "revert" staff
        (action (mut newPPassword) null)
        (action (mut newPassword) null)
        (action (mut storedUsername) null)) as |hideShow|}}
    <button class="btn btn-span"
        type="button"
        onclick={{hideShow.actions.toggle}}>
        {{#if hideShow.isOpen}}
            Cancel updating password
            <span class="fa fa-caret-up"></span>
        {{else}}
            Update password
            <span class="fa fa-caret-down"></span>
        {{/if}}
    </button>
    {{#if hideShow.isOpen}}
        <div class="pad-all">
            {{#if (eq storedUsername (unbound staff.username))}}
                <div class="form-element">
                    Changing your own password will require logging back in.
                </div>
            {{/if}}
            <div class="form-element">
                <label for="Your Password" class="control-label">
                    {{authService.authUser.name}}'s Password
                </label>
                {{input type="password"
                    allowShowPassword=true
                    class="form-control start-focus"
                    placeholder="Your Password"
                    value=newPPassword}}
            </div>
            <div class="form-element">
                <label for="New Password" class="control-label">
                    New Password for {{staff.name}}
                </label>
                {{input type="password"
                    allowShowPassword=true
                    class="form-control"
                    placeholder="New Password"
                    value=newPassword}}
            </div>
            <div class="form-element">
                <label for="Confirm New" class="control-label">
                    Confirm New for {{staff.name}}
                </label>
                {{input type="password"
                    allowShowPassword=true
                    class="form-control"
                    placeholder="Confirm New Password"
                    value=staff.password}}
            </div>
            {{!-- use the hidden class instead of the handlebars if helper so that the unbound value
                can be the starting value --}}
            <div class="pad-t text-center {{if (and newPPassword newPassword (eq newPassword staff.password)) '' 'hidden'}}">
                <button class="btn" type="button"
                    onclick={{hideShow.actions.close}}>
                    Cancel
                </button>
                {{#if (eq storedUsername (unbound staff.username))}}
                    {{async-button classNames="btn btn-default"
                        disableWhen=(not (v-get staff "isValid"))
                        action=(route-action "validate" storedUsername newPPassword
                            (route-action "persist" staff
                                hideShow.actions.close
                                (route-action "logout")))
                        default="Update"
                        pending="Updating..."}}
                {{else}}
                    {{async-button classNames="btn btn-default"
                        disableWhen=(not (v-get staff "isValid"))
                        action=(route-action "validate" storedUsername newPPassword
                            (route-action "persist" staff
                                hideShow.actions.close))
                        default="Update"
                        pending="Updating..."}}
                {{/if}}
            </div>
        </div>
    {{/if}}
{{/hide-show}}
