<div class="form__group form__group--no-vertical-space">
    <label class="form__label" for="Personal Number">Personal Number</label>
    {{#hide-show classNames="input-group-element"
        focusOnOpenSelector=".phone-control" as |hideShow|}}
        {{#if hideShow.isOpen}}
            <div class="input-group">
                <span class="input-group-addon blend-in">
                    <button class="btn" type="button" onclick={{hideShow.actions.close}}>
                        <span class="icon-x"></span>
                    </button>
                </span>
                {{#phone-control/mutable-validated number=staff.personalNumber
                    controlClass="blend-in"
                    forceDefaultValidate=true
                    onValidateSuccess=(service-action "dataService" "persist" staff hideShow.actions.close)}}
                {{else}}
                    <span class="fa fa-arrow-right"></span>
                {{/phone-control/mutable-validated}}
            </div>
        {{else}}
            <div tabindex="0"
                onfocus={{hideShow.actions.open}}
                onclick={{hideShow.actions.open}}>
                {{#phone-control number=staff.personalNumber
                    showControl=true
                    controlClass="blend-in"}}
                {{else}}
                    <span class="icon-pencil"></span>
                {{/phone-control}}
            </div>
            <div class="text-right margin-t-half">
                <button class="btn-link" onclick={{action (mut staff.personalNumber) ""}}>
                    Clear personal number
                </button>
            </div>
        {{/if}}
    {{/hide-show}}
</div>
