<div class="form-element pad-l pad-r row">
    <div class="xs-2-row-3 control-text">
        <label for="Notifications" class='text-ellipsis'>
            Notifications
        </label>
    </div>
    {{multi-toggle/binary classNames='xs-row-3'
        value=staff.enableNotifications
        falseColor='#76c9ec'
        trueColor='#1BA5E0'
        falseString='Off'
        trueString='On'}}
</div>
{{#if staff.enableNotifications}}
    <div class='form-element bg-color pad-all'>
        <label for='Personal Phone' class='control-label'>Personal Phone</label>
        {{#hide-away tabindex=false
            classNames='input-group-element'
            clickOutToClose=false
            animation='fade'
            bodyFocusOnOpenSelector='.phone-control'
            allowedTriggerSelectors='.edit-personal-phone'
            hideTriggerOnOpen=true as |hideAway|}}
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='btn' type='button' onclick={{hideAway.actions.close}}>
                        <span class="fa fa-times"></span>
                    </button>
                </span>
                {{#phone-control/mutable-validated number=staff.personalPhoneNumber
                    controlClass='blend-in'
                    forceDefaultValidate=true
                    onValidateSuccess=(route-action 'persist' staff
                        hideAway.actions.close)}}
                {{else}}
                    <span class='fa fa-arrow-right'></span>
                {{/phone-control/mutable-validated}}
            </div>
        {{else}}
            {{#phone-control classNames='edit-personal-phone'
                number=staff.personalPhoneNumber
                showControl=true
                controlClass='blend-in'}}
            {{else}}
                <span class='fa fa-pencil'></span>
            {{/phone-control}}
        {{/hide-away}}
    </div>
{{/if}}
