{{#hide-away tabindex=false
    doRegister=(action (mut usernameDropdown))
    classNames='form-element'
    bodyFocusOnOpenSelector='.start-focus'
    onOpen=(action (mut storedUsername) authManager.authUser.username)
    onClose=(route-action 'revert' staff
        (action (mut newUPassword) null)
        (action (mut storedUsername) null))
    bodyClass='pad-all' as |hideAway|}}
    {{#if (eq storedUsername (unbound staff.username))}}
        <div class='form-element'>
            Changing username will require logging back in.
        </div>
    {{/if}}
    <div class='form-element'>
        <label for='Your Password' class='control-label'>Your Password</label>
        {{input type='password'
            class='form-control start-focus'
            placeholder='Your Password'
            value=newUPassword}}
    </div>
    <div class='form-element'>
        <label for='New Username' class='control-label'>New Username</label>
        {{input type='text'
            class='form-control'
            placeholder='New Username'
            value=staff.username}}
    </div>
    {{#if (and newUPassword staff.hasDirtyAttributes)}}
        <div class="pad-t text-center">
            <button class="btn" type='button'
                onclick={{hideAway.actions.close}}>
                Cancel
            </button>
            {{async-button classNames='btn btn-default'
                disableWhen=(not (v-get staff 'isValid'))
                action=(route-action 'validate' storedUsername newUPassword
                    (route-action 'persist' staff
                        hideAway.actions.close
                        (if (eq storedUsername (unbound staff.username))
                            (route-action 'logout'))))
                default='Update'
                pending='Updating...'}}
        </div>
    {{/if}}
{{else}}
    <button class="btn btn-span" type='button'>
        Update username
        <span class="fa fa-caret-down"></span>
    </button>
{{/hide-away}}
