{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title=(if model.teams "Teams" "New Team"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=teamsListHideAway.isOpen
        onPrimary=(route-action "createTeam" newTeam teamsListHideAway.actions.close)
        disablePrimary=(not (v-get newTeam "isValid"))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        onSecondary=(service-action "dataService" "revert" newTeam teamsListHideAway.actions.close)
        hideSecondary=(not model.existingTeams.content))
    onClose=(service-action "dataService" "revert" newTeam (route-action "closeSlideout"))
    forceKeepOpen=newTeam.isSaving as |slideout|}}
    {{#hide-show doRegister=(action (mut teamsListHideAway))
        startOpen=(if model.teams false true)
        focusOnOpenSelector=".start-focus"
        onOpen=(route-action "initializeNewTeam")
        onClose=(service-action "dataService" "revert" newTeam) as |hideShow|}}
        {{#if hideShow.isOpen}}
            {{model-form/team team=newTeam
                firstControlClass="start-focus"
                canModifyPhone=true
                onSearchAvailableNumbers=(service-action "numberService" "listAvailable")
                onLocationError=(service-action "mapService" "handleError")}}
        {{else}}
            <ul class="result-list">
                {{#each model.teams as |team|}}
                    <li class="result-item">
                        <div class="row">
                            {{#link-to "admin.team" (get team (constant "PROP_NAME.URL_IDENT"))
                                tagName="div"
                                classNames="control-text"
                                tabindex="0"}}
                                <div class="horizontal-items pad-all clickable">
                                    {{color-badge color=team.hexColor text=team.name}}
                                    {{#if team.phone.content}}
                                        {{#if team.phone.content.isActive}}
                                            <span class="badge">
                                                {{#tool-tip tagName='span'
                                                    side=(constant "TOOLTIP.SIDE.RIGHT")
                                                    title=(concat 'TextUp Phone ' (phone-number team.phone.content.number))}}
                                                    <span class="icon-phone"></span>
                                                {{/tool-tip}}
                                            </span>
                                        {{else}}
                                            <span class="badge">
                                                {{#tool-tip tagName='span'
                                                    class='text-lighten'
                                                    side=(constant "TOOLTIP.SIDE.RIGHT")
                                                    title='Has inactive phone'}}
                                                    <span class="icon-phone"></span>
                                                {{/tool-tip}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    <span class="badge">
                                        {{team.numMembers}}
                                        <span class="icon-person"></span>
                                    </span>
                                </div>
                            {{/link-to}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type='button'
                        onclick={{hideShow.actions.open}}>
                        <span class="icon-thin-plus"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
