{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(service-prop "slideout/teamService" "slideoutTitle"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=(service-prop "slideout/teamService" "teamsListHideAway.isOpen")
        onPrimary=(service-action "slideout/teamService" "finishCreateInTeamList")
        disablePrimary=(service-prop "slideout/teamService" "shouldDisablePrimaryAction")
        primaryLabel="Create"
        onSecondary=(service-action "slideout/teamService" "cancelCreateInTeamList")
        hideSecondary=(service-prop "slideout/teamService" "noExistingTeams"))
    onClose=(service-action "slideout/teamService" "cancelSlideout")
    forceKeepOpen=(service-prop "slideout/teamService" "shouldForceKeepOpen")}}
    {{#hide-show doRegister=(service-mut "slideout/teamService" "teamsListHideAway")
        startOpen=(service-prop "slideout/teamService" "noExistingTeams")
        focusOnOpenSelector=".start-focus"
        onOpen=(service-action "slideout/teamService" "onOpenCreateInTeamList") as |hideShow|}}
        {{#if hideShow.isOpen}}
            {{model-form/team team=(service-prop "slideout/teamService" "newTeam")
                firstControlClass="start-focus"
                canModifyPhone=true
                onSearchAvailableNumbers=(service-action "numberService" "listAvailable")
                onLocationError=(service-action "mapService" "handleError")}}
        {{else}}
            <ul class="result-list">
                {{#each (service-prop "slideout/team-service" "existingTeams") as |team|}}
                    <li class="result-item">
                        <div class="row">
                            {{#link-to "admin.team" (get team (constant "PROP_NAME.URL_IDENT"))
                                tagName="div"
                                classNames="control-text"
                                tabindex="0"}}
                                <div class="horizontal-items pad-all clickable">
                                    {{color-badge color=team.hexColor text=team.name}}
                                    {{#if team.phone.content}}
                                        {{#if team.phone.content.isActive}}
                                            <span class="badge">
                                                {{#tool-tip tagName="span"
                                                    side=(constant "TOOLTIP.SIDE.RIGHT")
                                                    title=(concat "TextUp Phone " (phone-number team.phone.content.number))}}
                                                    <span class="icon-phone"></span>
                                                {{/tool-tip}}
                                            </span>
                                        {{else}}
                                            <span class="badge">
                                                {{#tool-tip tagName="span"
                                                    class="text-lighten"
                                                    side=(constant "TOOLTIP.SIDE.RIGHT")
                                                    title="Has inactive phone"}}
                                                    <span class="icon-phone"></span>
                                                {{/tool-tip}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    <span class="badge">
                                        {{team.numMembers}}
                                        <span class="icon-person"></span>
                                    </span>
                                </div>
                            {{/link-to}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type="button"
                        onclick={{hideShow.actions.open}}>
                        <span class="icon-thin-plus"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
