{{#slideout-pane
    headerProps=(hash title=(if model.teams 'Teams' 'New Team'))
    footerComponent=constants.SLIDEOUT.FOOTER.ACTIONS
    footerProps=(hash
        showFooter=teamsListHideAway.isOpen
        doPrimary=(route-action 'createTeam' newTeam teamsListHideAway.actions.close)
        disablePrimary=(not (v-get newTeam 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        doSecondary=(route-action 'revert' newTeam teamsListHideAway.actions.close)
        hideSecondary=(not model.existingTeams))
    doClose=(route-action 'revert' newTeam (route-action "closeSlideout"))
    forceKeepOpen=newTeam.isSaving as |slideout|}}
    {{#hide-away clickOutToClose=false
        animation='fade'
        ignoreTriggerSelectors='.result-list'
        bodyFocusOnOpenSelector='.start-focus'
        startOpen=(if model.teams false true)
        doRegister=(action (mut teamsListHideAway))
        onOpen=(route-action 'initializeNewTeam')
        onClosed=(route-action 'revert' newTeam)
        tabindex=false
        hideTriggerOnOpen=true as |hideAway|}}
        <div class="pad-t">
            {{partial 'partials/team/create-edit'}}
        </div>
        {{form/location-model entity=newTeam onLocationError=(route-action 'mapError')}}
    {{else}}
         <ul class="result-list">
            {{#each model.teams as |team|}}
                <li class="result-item">
                    <div class="row">
                        {{#link-to 'admin.team' team
                            tagName='div'
                            classNames='control-text'
                            tabindex='0'}}
                            <div class="horizontal-items pad-all clickable">
                                {{preview-badge color=team.hexColor
                                    onlyShowFull=true
                                    content=team.name}}
                                {{partial 'partials/team/indicators'}}
                            </div>
                        {{/link-to}}
                    </div>
                </li>
            {{/each}}
        </ul>
        <button class="btn btn-span" type='button'>
            <span class="fa fa-plus"></span>
        </button>
    {{/hide-away}}
{{/slideout-pane}}
