{{#slideout-pane
    headerProps=(hash title=(if model.teams "Teams" "New Team"))
    footerComponent=constants.SLIDEOUT.FOOTER.ACTIONS
    footerProps=(hash
        showFooter=teamsListHideAway.isOpen
        doPrimary=(route-action "createTeam" newTeam teamsListHideAway.actions.close)
        disablePrimary=(not (v-get newTeam "isValid"))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        doSecondary=(route-action "revert" newTeam teamsListHideAway.actions.close)
        hideSecondary=(not model.existingTeams.content))
    doClose=(route-action "revert" newTeam (route-action "closeSlideout"))
    forceKeepOpen=newTeam.isSaving as |slideout|}}
    {{#hide-show doRegister=(action (mut teamsListHideAway))
        startOpen=(if model.teams false true)
        focusOnOpenSelector=".start-focus"
        onOpen=(route-action "initializeNewTeam")
        onClose=(route-action "revert" newTeam) as |hideShow|}}
        {{#if hideShow.isOpen}}
            <div class="pad-t">
                {{partial "partials/team/create-edit"}}
            </div>
            {{form/location-model entity=newTeam onLocationError=(route-action "mapError")}}
        {{else}}
            <ul class="result-list">
                {{#each model.teams as |team|}}
                    <li class="result-item">
                        <div class="row">
                            {{#link-to "admin.team" team
                                tagName="div"
                                classNames="control-text"
                                tabindex="0"}}
                                <div class="horizontal-items pad-all clickable">
                                    {{color-badge color=team.hexColor text=team.name}}
                                    {{partial "partials/team/indicators"}}
                                </div>
                            {{/link-to}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type='button'
                        onclick={{hideShow.actions.open}}>
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
