{{#if tutorialService.shouldShowTaskManager}}
    {{yield}}
    <p class="hint__text form__label form__label--multiline">
        <b>{{if _hintTitle _hintTitle "Hint"}}:</b>
        {{_hintText}}
    </p>
{{else}}
    {{yield}}
{{/if}}
