{{#slideout-pane title=(if (or isSavingNewNote recordNote.isNew) 'New Note' 'Edit Note')
    direction='right'
    onOpen=(if (not recordNote) (route-action 'initializeNewNote'))
    doClose=(route-action 'revert' recordNote
        (route-action 'closeAllSlideouts'
            (route-action 'cleanNoteSlideout')))
    ignoreCloseSelectors='.header-slideout, .c-notification__container, .pswp'
    forceKeepOpen=recordNote.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <form class="pad-t">
        <div class="form-element pad-l pad-r">
            <label for="Contents">Contents</label>
            {{textarea rows="3"
                autoresize=true
                readonly=(if (and (not recordNote.isNew) (not contact.allowEdits)) 'readonly')
                remaining='bottom'
                class=(if recordNote.isNew "form-control start-focus" "form-control")
                maxlength="1000"
                validateFreq=1000
                validateObj=recordNote
                validateField='noteContents'
                validate='bottom'
                value=recordNote.noteContents}}
        </div>
        <div class="form-element">
            {{photo-control imageLinks=recordNote.imageLinks
                display='grid'
                readonly=recordNote.isSaving
                doAdd=(route-action 'addPhotoToNote' recordNote)
                doRemove=(route-action 'removePhotoFromNote' recordNote)}}
        </div>
        {{#if (or (not recordNote.hasLocation) recordNote.shouldAddLocation)}}
            <div class="form-element">
                {{#if recordNote.shouldAddLocation}}
                    <label class="text-center clickable pad-all
                        bg-color hover-bg-color hover-bg-dark"
                        tabindex="0"
                        onclick={{route-action 'removeLocationFromNote' recordNote}}>
                        <span class="fa fa-minus"></span>
                        <span class="margin-l-quarter">Remove location</span>
                    </label>
                {{else}}
                    <label class="text-center clickable pad-all
                        bg-color hover-bg-color hover-bg-dark"
                        tabindex="0"
                        onclick={{route-action 'addLocationToNote' recordNote}}>
                        <span class="fa fa-plus"></span>
                        <span class="margin-l-quarter">Add location</span>
                    </label>
                {{/if}}
            </div>
        {{/if}}
    </form>
    {{#if recordNote.toggleNoteDeleteStatus}}
        <div class="horizontal-items text-center margin-t margin-b">
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{route-action 'mutate'
                        (action (mut recordNote.toggleNoteDeleteStatus)) false}}>
                    Undo
                </button>
            </div>
            <div class="clear-badge no-space">
                {{!-- we revert the note then set the deleted flag to true then persist because
                we can't update an invalid note and we don't want to pre-emptively rollback
                any unsaved changes in case the user wants to undo the delete operation --}}
                <button type='button' class="btn btn-danger"
                    onclick={{route-action 'revert' recordNote
                        (route-action 'mutate' (action (mut recordNote.toggleNoteDeleteStatus)) true
                            (route-action 'persist' recordNote
                                slideout.actions.close))}}>
                    Confirm Delete
                </button>
            </div>
        </div>
    {{else}}
        <div class="horizontal-items text-center margin-t margin-b">
            {{#if (not recordNote.isNew)}}
                <div class="clear-badge no-space">
                    <button class="btn btn-danger btn-plain" type='button'
                        onclick={{route-action 'mutate'
                            (action (mut recordNote.toggleNoteDeleteStatus)) true}}>
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            {{/if}}
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{slideout.actions.close}}>
                    Cancel
                </button>
            </div>
            <div class="clear-badge no-space">
                {{#if (or isSavingNewNote recordNote.isNew)}}
                    {{async-button classNames='btn btn-default'
                        disableWhen=(or (not (v-get recordNote 'isValid'))
                            (not recordNote.isDirty))
                        action=(route-action 'createNote' recordNote (if contact contact tag)
                            slideout.actions.close
                            (route-action 'mutate' (action (mut isAddingNote)) false))
                        default='Create'
                        pending='Creating...'}}
                {{else if contact.allowEdits}}
                    {{async-button classNames='btn btn-default'
                        disableWhen=(or (not (v-get recordNote 'isValid'))
                            (not recordNote.isDirty))
                        action=(route-action 'updateNote' recordNote
                            slideout.actions.close)
                        default='Update'
                        pending='Updating...'}}
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if (or recordNote.hasLocation recordNote.shouldAddLocation)}}
        {{#with recordNote as |owner|}}
            {{partial 'partials/location'}}
        {{/with}}
    {{/if}}
{{/slideout-pane}}
