{{#slideout-pane title='Note History'
    direction='right'
    doClose=(route-action 'closeAllSlideouts')
    ignoreCloseSelectors='.header-slideout, .c-notification__container, .pswp' as |slideout|}}
    <ul class="result-list">
        <li class="result-item">
            <div class="revision-item">
                <div class="xs-full-row bg-color bg-dark pad-all horizontal-items">
                    <span class="badge text-smaller">
                        Current
                    </span>
                    <span class="clear-badge">
                        {{moment-format recordNote.whenChanged}} by
                        {{if recordNote.authorName recordNote.authorName 'Unknown'}}
                    </span>
                </div>
                {{#with recordNote as |noteOrRevision|}}
                    {{partial 'partials/record-note/revision'}}
                {{/with}}
            </div>
        </li>
        {{#each recordNote.revisions as |revision|}}
            <li class="result-item border-t">
                <div class="revision-item">
                    <div class="xs-full-row bg-color pad-all">
                        {{moment-format revision.whenChanged}} by
                        <span class="text-bold">
                            {{if revision.authorName revision.authorName 'Unknown'}}
                        </span>
                    </div>
                    {{#with revision as |noteOrRevision|}}
                        {{partial 'partials/record-note/revision'}}
                    {{/with}}
                </div>
            </li>
        {{/each}}
    </ul>
{{/slideout-pane}}
