{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title="Scheduled Messages")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    doClose=(route-action "finishViewScheduledMessagesSlideout") as |slideout|}}
    <ul class="result-list">
        {{#each model.futureMessages as |existingFutureMessage|}}
            {{#hide-show tagName="li" as |hideShow|}}
                {{#future-message classNames="border-b" message=existingFutureMessage}}
                    {{#if (and (or (type/is-tag model) model.allowEdits)
                        (not existingFutureMessage.isDone))}}
                        <div class="border-l flex__item flex__item--no-shrink">
                            <button class="btn-span btn btn-plain full-height"
                                type="button"
                                onclick={{if hideShow.isOpen
                                    (route-action "onFutureMessageCancelEditing"
                                        existingFutureMessage
                                        hideShow.actions.close)
                                    hideShow.actions.open}}>
                                {{#if hideShow.isOpen}}
                                    <span class="fa fa-times"></span>
                                {{else}}
                                    <span class="fa fa-pencil"></span>
                                {{/if}}
                            </button>
                        </div>
                    {{/if}}
                {{/future-message}}
                {{#if hideShow.isOpen}}
                    {{form/dropdown-controls classNames="border-b"
                        isMarkedForDelete=existingFutureMessage.isDeleted
                        isDirty=existingFutureMessage.isDirty
                        isValid=(v-get existingFutureMessage "isValid")
                        onMarkForDelete=(route-action "onFutureMessageMarkForDelete"
                            existingFutureMessage)
                        onUndoDelete=(route-action "onFutureMessageUndoDelete"
                            existingFutureMessage)
                        onCancel=(route-action "onFutureMessageCancelEditing"
                            existingFutureMessage
                            hideShow.actions.close)
                        onSave=(route-action "onFutureMessageSaveEditing"
                            existingFutureMessage
                            hideShow.actions.close)}}
                    {{form/future-message classNames="pad-t pad-b-double border-b"
                        futureMessage=existingFutureMessage
                        personalNumber=authService.authUser.personalNumber
                        onAddImage=(route-action "onAddImage" existingFutureMessage)
                        onAddAudio=(route-action "onAddAudio" existingFutureMessage)
                        onRemoveMedia=(route-action "onRemoveMedia" existingFutureMessage)}}
                {{/if}}
            {{/hide-show}}
        {{else}}
            <li class="no-results">
                <p class='margin-b'>No scheduled messages yet.</p>
                <button type="button"
                    class="btn-link"
                    onclick={{route-action "startNewScheduleMessageSlideout"}}>
                    Schedule a message.
                </button>
            </li>
        {{/each}}
    </ul>
{{/slideout-pane}}
