{{#slideout-pane title=(if model.teams 'Teams' 'New Team')
    direction='left'
    doClose=(if (and newTeam (not newTeam.isDeleted))
        (route-action 'revert' newTeam (route-action 'closeAllSlideouts'))
        (route-action 'closeAllSlideouts'))
    ignoreCloseSelectors='.header-slideout, .c-notification__container'
    focusSelector='.start-focus' as |slideout|}}
    {{#hide-away clickOutToClose=false
        animation='fade'
        ignoreTriggerSelectors='.result-list'
        bodyFocusOnOpenSelector='.start-focus'
        startOpen=(if model.teams false true)
        onOpen=(route-action 'initializeNewTeam')
        onClosed=(route-action 'revert' newTeam
            (route-action 'revert' newTeam.location.content))
        tabindex=false
        hideTriggerOnOpen=true as |hideAway|}}
        <div class="pad-t">
            {{partial 'partials/team/create-edit'}}
        </div>
        <div class="form-element horizontal-items text-center">
            {{#if model.teams}}
                <div class="clear-badge no-space">
                    <button class="btn" type='button'
                        onclick={{hideAway.actions.close}}>
                        Cancel
                    </button>
                </div>
            {{/if}}
            <div class="clear-badge no-space">
                {{async-button classNames='btn btn-default'
                    disableWhen=(not (v-get newTeam 'isValid'))
                    action=(route-action 'createTeam' newTeam
                        hideAway.actions.close)
                    default='Create'
                    pending='Creating...'}}
            </div>
        </div>
        {{#with newTeam as |owner|}}
            {{partial 'partials/location'}}
        {{/with}}
    {{else}}
        <button class="btn btn-span start-focus" type='button'>
            <span class="fa fa-plus"></span>
        </button>
         <ul class="result-list">
            {{#each model.teams as |team|}}
                <li class="result-item">
                    <div class="row">
                        {{#link-to 'admin.team' team
                            tagName='div'
                            classNames='control-text'
                            tabindex='0'}}
                            <div class="horizontal-items pad-all clickable">
                                {{preview-badge color=team.hexColor
                                    onlyShowFull=true
                                    content=team.name}}
                                {{partial 'partials/team/indicators'}}
                            </div>
                        {{/link-to}}
                        <div class="pull-right">
                            {{#if (not team.isDeleted)}}
                                <button class="btn btn-plain" type='button'
                                    onclick={{route-action 'markForDelete' team}}>
                                    <span class="fa fa-trash"></span>
                                </button>
                            {{else}}
                                <button class="btn btn-plain" type='button'
                                    onclick={{route-action 'revert' team}}>
                                    Undo
                                </button>
                                {{async-button classNames='btn btn-plain btn-danger'
                                    action=(route-action 'deleteTeam' team)
                                    default='Delete'
                                    pending='Deleting...'}}
                            {{/if}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/hide-away}}
{{/slideout-pane}}
