<div class="record-item__body">
    {{#if call.noteContents}}
        {{#read-more classNames=(concat "margin-b-half " (if call.outgoing "read-more--outgoing" "read-more--incoming"))}}
            {{call.noteContents}}
        {{/read-more}}
    {{/if}}
    {{#if call.voicemailUrl}}
        {{audio-control source=call.voicemailUrl}}
    {{else}}
        <div class="text-small text-wrap">
            {{#if call.durationInSeconds}}
                <span class="fa fa-phone margin-r-half"></span>
                Call lasting {{moment-duration call.durationInSeconds 'seconds'}}
            {{else if (date/is-same-day call.whenCreated (now))}}
                <span class="fa fa-circle-o-notch fa-spin margin-r-half"></span>
                Call in progress
            {{else}}
                <span class="fa fa-times margin-r-half"></span>
                Call could not be completed
            {{/if}}
        </div>
    {{/if}}
</div>
{{#if call.media.content.displayedImages.isFulfilled}}
    <div class="record-item__media">
        {{image-stack images=call.media.content.displayedImages.content}}
    </div>
{{/if}}
{{#record-item/receipts item=call disabled=(not call.outgoing)}}
    {{record-item/metadata timestamp=call.whenCreated author=call.authorName}}
{{/record-item/receipts}}
