{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(service-prop "newTagSlideoutService" "slideoutTitle"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=(service-prop "newTagSlideoutService" "tagsListHideAway.isOpen")
        onPrimary=(service-action "newTagSlideoutService" "finishCreateInTagList")
        disablePrimary=(service-prop "newTagSlideoutService" "shouldDisablePrimaryAction")
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        onSecondary=(service-action "newTagSlideoutService" "cancelCreateInTagList")
        hideSecondary=(not (service-prop "newTagSlideoutService" "hasExistingTags")))
    onClose=(service-action "newTagSlideoutService" "cancelSlideout")
    forceKeepOpen=(service-prop "newTagSlideoutService" "shouldForceKeepOpen") as |slideout|}}
    {{#hide-show doRegister=(service-mut "newTagSlideoutService" "tagsListHideAway")
        startOpen=(service-prop "newTagSlideoutService" "hasExistingTags")
        focusOnOpenSelector=".start-focus"
        onOpen=(service-action "newTagSlideoutService" "onOpenCreateInTagList") as |hideShow|}}
        {{#if hideShow.isOpen}}
            {{model-form/tag tag=(service-prop "newTagSlideoutService" "newTag")
                firstControlClass="start-focus"}}
        {{else}}
            <ul class="result-list">
                {{#each (service-prop "newTagSlideoutService" "existingTags") as |tag|}}
                    <li class="result-item">
                        <div class="row">
                            {{#link-to "main.tag"
                                    (get (service-prop "authService" "authUser") (constant "PROP_NAME.URL_IDENT"))
                                    (get tag (constant "PROP_NAME.URL_IDENT"))
                                tagName="div"
                                classNames="control-text"
                                tabindex="0"}}
                                <div class="horizontal-items clickable pad-all">
                                    {{color-badge color=tag.hexColor text=tag.name}}
                                    <span class="badge">
                                        {{tag.numMembers}}
                                        <span class="icon-person"></span>
                                    </span>
                                </div>
                            {{/link-to}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type="button"
                        onclick={{hideShow.actions.open}}>
                        <span class="icon-thin-plus" id="tour-createNewTagButton"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
