{{#slideout-pane
    headerProps=(hash title=(if model.phone.content.tags 'Tags' 'New Tag'))
    footerComponent=constants.SLIDEOUT.FOOTER.ACTIONS
    footerProps=(hash
        showFooter=tagsListHideAway.isOpen
        doPrimary=(route-action "finishCreateTagInTagList")
        disablePrimary=(not (v-get newTag 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        doSecondary=(route-action "cancelCreateTagInTagList")
        hideSecondary=(not model.phone.content.tags))
    doClose=(route-action "closeTagListSlideout")
    forceKeepOpen=newTag.isSaving as |slideout|}}
    {{#hide-show doRegister=(action (mut tagsListHideAway))
        startOpen=(if model.phone.content.tags false true)
        focusOnOpenSelector=".start-focus"
        onOpen=(route-action "onOpenCreateTagInTagList")
        onClose=(route-action "onCloseCreateTagInTagList") as |hideShow|}}
        {{#if hideShow.isOpen}}
            {{form/tag-model tag=newTag}}
        {{else}}
            <ul class="result-list">
                {{#if model.phone.isFulfilled}}
                    {{#each model.phone.content.tags as |tag|}}
                        <li class="result-item">
                            <div class="row">
                                {{#link-to 'main.tag' tag
                                    tagName='div'
                                    classNames='control-text'
                                    tabindex='0'}}
                                    <div class="horizontal-items clickable pad-all">
                                        {{color-badge color=tag.hexColor text=tag.name}}
                                        <span class="badge">
                                            {{tag.numMembers}}
                                            <span class="fa fa-user"></span>
                                        </span>
                                    </div>
                                {{/link-to}}
                            </div>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type='button'
                        onclick={{hideShow.actions.open}}>
                        <span class="fa fa-plus" id="tour-createNewTagButton"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
