{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(if model.phone.content.tags "Tags" "New Tag"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=tagsListHideAway.isOpen
        onPrimary=(route-action "finishCreateTagInTagList")
        disablePrimary=(not (v-get newTag "isValid"))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        onSecondary=(route-action "cancelCreateTagInTagList")
        hideSecondary=(not model.phone.content.tags))
    onClose=(route-action "closeTagListSlideout")
    forceKeepOpen=newTag.isSaving as |slideout|}}
    {{#hide-show doRegister=(action (mut tagsListHideAway))
        startOpen=(if model.phone.content.tags false true)
        focusOnOpenSelector=".start-focus"
        onOpen=(route-action "onOpenCreateTagInTagList")
        onClose=(route-action "onCloseCreateTagInTagList") as |hideShow|}}
        {{#if hideShow.isOpen}}
            {{form/tag-model tag=newTag}}
        {{else}}
            <ul class="result-list">
                {{#if model.phone.isFulfilled}}
                    {{#each model.phone.content.tags as |tag|}}
                        <li class="result-item">
                            <div class="row">
                                {{#link-to "main.tag" (get tag (constant "PROP_NAME.URL_IDENT"))
                                    tagName="div"
                                    classNames="control-text"
                                    tabindex="0"}}
                                    <div class="horizontal-items clickable pad-all">
                                        {{color-badge color=tag.hexColor text=tag.name}}
                                        <span class="badge">
                                            {{tag.numMembers}}
                                            <span class="icon-person"></span>
                                        </span>
                                    </div>
                                {{/link-to}}
                            </div>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
            <div class="form">
                <div class="form__group">
                    <button class="button button--expand"
                        type="button"
                        onclick={{hideShow.actions.open}}>
                        <span class="icon-thin-plus" id="tour-createNewTagButton"></span>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/hide-show}}
{{/slideout-pane}}
