<input type="file"
    id="{{elementId}}__input"
    accept="image/*;capture=camera"
    multiple="multiple"
    onchange={{action _handleChange}}>
<label class="{{labelClass}}" for="{{elementId}}__input">
    {{#if hasBlock}}
        {{yield _isLoading _isLoadError}}
    {{else}}
        {{#if _isLoading}}
            <span class="fa fa-plus"></span>
            <span class="margin-l-quarter">Adding images...</span>
        {{else if _isLoadError}}
            <span class="fa fa-exclamation"></span>
            <span class="margin-l-quarter">Oops. Please try again.</span>
        {{else}}
            <span class="fa fa-plus"></span>
            <span class="margin-l-quarter">Add images</span>
        {{/if}}
    {{/if}}
</label>
