<div id="tour-mobileContacts" class="content">
    {{#hide-show clickOutToClose=true as |hideShow|}}
        <div class="section-header">
            <div class="contacts-title">
                <div class="display-xs display-s display-m">
                    <div class="margin-r-4x">
                        <h4 class="text-ellipsis">
                            {{capitalize (service-prop "contactListService" "filter")}}
                        </h4>
                        <p>
                            {{service-prop "contactListService" "totalNumContacts"}}
                            {{pluralize "contact" (service-prop "contactListService" "totalNumContacts")}}
                        </p>
                    </div>
                    <div class="pull-right-to-edge full-height">
                        {{#link-to "main.search" (get (service-prop "authService" "authUser") (constant "PROP_NAME.URL_IDENT"))
                            tagName="button"
                            classNames="btn btn-plain btn-expand"}}
                            <span class="icon-search"></span>
                        {{/link-to}}
                    </div>
                </div>
                <div class="display-l">
                    <h4 class="text-ellipsis">
                        {{capitalize (service-prop "contactListService" "filter")}}
                    </h4>
                    <p>
                        {{service-prop "contactListService" "totalNumContacts"}}
                        {{pluralize "contact" (service-prop "contactListService" "totalNumContacts")}}
                    </p>
                </div>
            </div>
            <div class="pull-right-to-edge full-height display-l">
                <button type="button"
                    class="btn btn-plain btn-expand"
                    onclick={{hideShow.actions.toggle}}>
                    {{#if hideShow.isOpen}}
                        <span class="icon-x"></span>
                    {{else}}
                        <span class="fa fa-filter"></span>
                    {{/if}}
                </button>
            </div>
        </div>
        {{#if hideShow.isOpen}}
            <ul class="reset-list">
                {{#each (object-values (constant "CONTACT.FILTER")) as |filter|}}
                    <li class="menu-item {{is-contact-filter filter}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (service-action "contactListService" "showFilteredContacts" filter)}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">{{capitalize filter}}</p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/hide-show}}
    <div id="tour-contactsList" class="section-body flex flex--align-stretch flex--direction-vertical">
        {{#infinite-scroll classNames="flex__item flex__item--grow bg-color bg-lightest"
            contentClass="result-list"
            data=(service-prop "contactListService" "contacts")
            numTotal=(service-prop "contactListService" "totalNumContacts")
            doRegister=(action (mut contactsList))
            onRefresh=(service-action "contactListService" "refresh")
            onLoad=(service-action "contactListService" "loadMore") as |contact|}}
            {{#entity-display class="result-item"
                entityIdentifier=(get contact (constant "PROP_NAME.READABLE_IDENT"))
                linkTarget="main.contacts.contact"
                linkParams=(array
                    (get (service-prop "authService" "authUser") (constant "PROP_NAME.URL_IDENT"))
                    contact.id)
                bodyClass=(if contact.isUnread (constant "CONTACT.FILTER.UNREAD"))
                isSelected=contact.isSelected
                onSelect=(action "toggleSelected" contact)}}
                {{entity-display/contact entity=contact}}
            {{/entity-display}}
        {{else}}
            {{#if (is-contact-filter (constant "CONTACT.FILTER.ALL") ifTrue=true ifFalse=false)}}
                <div class="no-results">
                    <p class="margin-b">No contacts yet! Get started by creating a new contact.</p>
                    <button type="button"
                        class="btn-link"
                        onclick={{service-action "slideout/newContactService" "openSlideout"}}>
                        Create contact
                    </button>
                </div>
            {{else}}
                <div class="no-results">No contacts match this criteria.</div>
            {{/if}}
        {{/infinite-scroll}}
        <div id="task-manager__container" class="section-footer flex__item flex__item--no-shrink">
            {{tour-components/task-manager doRegister=(service-mut "tutorialService" "taskManager")
                firstIncompleteTask=(service-prop "tutorialService" "firstIncompleteTask")
                getTaskStatus=(service-action "tutorialService" "getTaskStatus")
                onClose=(service-action "tutorialService" "closeTaskManager")
                onFinishCompleteTask=(service-action "tutorialService" "finishCompleteTask")
                resetTasks=(service-action "tutorialService" "resetTasks")
                shouldShow=(service-prop "tutorialService" "shouldShowTaskManager")
                tasks=(service-prop "tutorialService" "tasks")}}
        </div>
    </div>
</div>
{{outlet}}
