{{#if tag}}
    {{title tag.name separator=" - "}}
{{/if}}

<div class="content">
    {{#if tag}}
        <div class="section-header">
            <span class="display-l">
                <span class="indicator pull-left"
                    style="background-color:{{tag.hexColor}};"></span>
            </span>
            <div class="tag-title">
                <h4 class="text-ellipsis">
                    {{tag.name}}
                </h4>
                {{#if (not tag.isDeleted)}}
                    <p>
                        {{phone.totalNumContacts}}
                        {{pluralize "contact" phone.totalNumContacts}}
                    </p>
                {{/if}}
            </div>
            {{#if (not (or tag.isDeleted tag.hasDirtyAttributes))}}
                {{#link-to "main.tag.details"
                    classNames="pull-right-to-edge full-height"
                    activeClass="bg-color bg-dark"}}
                    {{#tool-tip title="View Tag Details"
                        tagName="button"
                        classNames="btn btn-plain btn-expand"}}
                        <span class="fa fa-sliders"></span>
                    {{/tool-tip}}
                {{/link-to}}
            {{/if}}
        </div>
    {{else}}
        {{#hide-show clickOutToClose=true as |hideShow|}}
            <div class="section-header">
                <div class="contacts-title">
                    <div class="display-xs display-s display-m">
                        <div class="margin-r-4x">
                            <h4 class="text-ellipsis">{{filterName}}</h4>
                            <p>
                                {{phone.totalNumContacts}}
                                {{pluralize "contact" phone.totalNumContacts}}
                            </p>
                        </div>
                        <div class="pull-right-to-edge full-height">
                            {{#link-to "main.search"
                                tagName="button"
                                classNames="btn btn-plain btn-expand"}}
                                <span class="fa fa-search"></span>
                            {{/link-to}}
                        </div>
                    </div>
                    <div class="display-l">
                        <h4 class="text-ellipsis">{{filterName}}</h4>
                        <p>
                            {{phone.totalNumContacts}}
                            {{pluralize "contact" phone.totalNumContacts}}
                        </p>
                    </div>
                </div>
                <div class="pull-right-to-edge full-height display-l">
                    <button type="button"
                        class="btn btn-plain btn-expand"
                        onclick={{hideShow.actions.toggle}}>
                        {{#if hideShow.isOpen}}
                            <span class="fa fa-times"></span>
                        {{else}}
                            <span class="fa fa-filter"></span>
                        {{/if}}
                    </button>
                </div>
            </div>
            {{#if hideShow.isOpen}}
                <ul class="reset-list">
                    <li class="menu-item {{if (eq filter (constant "CONTACT.FILTER.ALL")) "active"}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (route-action "showFilteredContacts" (constant "CONTACT.FILTER.ALL"))}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">All</p>
                        </div>
                    </li>
                    <li class="menu-item {{if (eq filter (constant "CONTACT.FILTER.UNREAD")) "active"}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (route-action "showFilteredContacts" (constant "CONTACT.FILTER.UNREAD"))}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">Unread</p>
                        </div>
                    </li>
                    <li class="menu-item {{if (eq filter (constant "CONTACT.FILTER.ARCHIVED")) "active"}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (route-action "showFilteredContacts" (constant "CONTACT.FILTER.ARCHIVED"))}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">Archived</p>
                        </div>
                    </li>
                    <li class="menu-item {{if (eq filter (constant "CONTACT.FILTER.BLOCKED")) "active"}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (route-action "showFilteredContacts" (constant "CONTACT.FILTER.BLOCKED"))}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">Blocked</p>
                        </div>
                    </li>
                </ul>
            {{/if}}
        {{/hide-show}}
    {{/if}}
    {{#infinite-scroll classNames="section-body bg-color bg-lightest"
        contentClass="result-list"
        data=phone.contacts
        numTotal=phone.totalNumContacts
        doRegister=(action (mut contactsList))
        onRefresh=(action doRefreshContacts)
        onLoad=(action doLoadMoreContacts) as |contact|}}
        {{#entity-display class="result-item"
            entityIdentifier=(get contact (constant "PROP_NAME.READABLE_IDENT"))
            linkTarget=(if tag "main.tag.contact" "main.contacts.contact")
            linkParam=contact.id
            bodyClass=(if contact.isUnread (constant "CONTACT.FILTER.UNREAD"))
            isSelected=contact.isSelected
            onSelect=(route-action "toggleSelected" contact)}}
            {{entity-display/contact entity=contact}}
        {{/entity-display}}
    {{else}}
        {{#if (and (eq filter (constant "CONTACT.FILTER.ALL")) (not tag))}}
            <div class="no-results">
                <p class="margin-b">No contacts yet! Get started by creating a new contact.</p>
                <button type="button"
                    class="btn-link"
                    onclick={{route-action "startNewContactSlideout"}}>
                    Create contact
                </button>
            </div>
        {{else if tag}}
            <div class="no-results">
                No contacts have been added to
                <span class="text-bold">{{tag.name}}</span>
                yet.
            </div>
        {{else}}
            <div class="no-results">No contacts match this criteria.</div>
        {{/if}}
    {{/infinite-scroll}}
</div>

{{outlet}}
