<div class="content">
    {{#if tag}}
        {{#hide-away tabindex=false
            clickOutToClose=false
            bodyClickClose=false
            animation='slide'
            allowedTriggerSelectors='.pull-right' as |hideAway|}}
            <div class="input-group text-center">
                <div class="input-group-addon">
                    <button class="btn btn-plain btn-danger" type='button'
                    onclick={{hideAway.actions.close}}>
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
                <div class="input-group-addon">
                    <button class="btn btn-plain" type='button'
                    onclick={{hideAway.actions.close}}>
                        <span class="fa fa-undo"></span>
                    </button>
                </div>
                <div class="input-group-addon">
                    <button class="btn btn-plain" type='button'
                    onclick={{hideAway.actions.close}}>
                        <span class="fa fa-save"></span>
                    </button>
                </div>
            </div>
            <div class="pad-all bg-color border-b">
                <div class="form-element">
                    <label for="Your Name">Tag Name</label>
                    {{input value=tag.name type="text" placeholder="Tag Name" class="form-control"}}
                </div>
                <div class="form-element">
                    <label for="Your Name">Tag Color</label>
                    {{color-control color=tag.hexColor}}
                </div>
            </div>
        {{else}}
            <div class="section-header">
                <span class="display-l">
                    <span class="indicator pull-left"
                        style='background-color:{{tag.hexColor}};'></span>
                </span>
                <div class="tag-title">
                    <h4 class="text-ellipsis">
                        {{tag.name}}
                    </h4>
                    <p>
                        {{numContacts}}
                        {{if (eq numContacts 1) 'contact' 'contacts'}}
                    </p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-plain" type='button'>
                        <span class="fa fa-pencil"></span>
                    </button>
                </div>
            </div>
        {{/hide-away}}
    {{else}}
        {{#hide-away tabindex=false
            clickOutToClose=true
            bodyClickClose=true
            animation='slide'
            allowedTriggerSelectors='.pull-right' as |hideAway|}}
            <ul class="reset-list">
                <li class="menu-item {{if (eq filter 'all') 'active'}}"
                    onclick={{action (mut filter) 'all'}}>
                    <div class="offset-xs-row-10 xs-8-row-10 text-left">
                        <p class="text-bold text-ellipsis">All</p>
                    </div>
                </li>
                <li class="menu-item {{if (eq filter 'unread') 'active'}}"
                    onclick={{action (mut filter) 'unread'}}>
                    <div class="offset-xs-row-10 xs-8-row-10 text-left">
                        <p class="text-bold text-ellipsis">Unread</p>
                    </div>
                </li>
                <li class="menu-item {{if (eq filter 'archived') 'active'}}"
                    onclick={{action (mut filter) 'archived'}}>
                    <div class="offset-xs-row-10 xs-8-row-10 text-left">
                        <p class="text-bold text-ellipsis">Archived</p>
                    </div>
                </li>
                <li class="menu-item {{if (eq filter 'blocked') 'active'}}"
                    onclick={{action (mut filter) 'blocked'}}>
                    <div class="offset-xs-row-10 xs-8-row-10 text-left">
                        <p class="text-bold text-ellipsis">Blocked</p>
                    </div>
                </li>
            </ul>
        {{else}}
            <div class="section-header">
                <div class="contacts-title">
                    <h4 class="text-ellipsis">{{capitalize filter}}</h4>
                    <p>
                        {{numContacts}}
                        {{if (eq numContacts 1) 'contact' 'contacts'}}
                    </p>
                </div>
                <div class="pull-right display-l">
                    <button class="btn btn-plain" type='button'>
                        <span class="fa fa-filter"></span>
                    </button>
                </div>
            </div>
        {{/hide-away}}
    {{/if}}
    {{#infinite-scroll classNames='section-body'
        containerClass='result-list'
        direction='down'
        data=contacts
        total=numContacts
        doLoad=(action 'loadMore') as |contact index|}}
        <div class="result-item">
            <div class="row">
                <div class="contacts-control {{if contact.isSelected 'selected'}}"
                    {{action 'toggleSelected' contact preventDefault=false}}>
                    <span class="fa fa-check center"></span>
                </div>
                {{#link-to (if tag
                        'main.tag.contact'
                        'main.contacts.contact')
                        contact.id
                    classNames="contacts-info {{if contact.isUnread 'unread'}}"
                    tagName="div"}}
                    <p class="emphasize">{{phone-number contact.identifier}}</p>
                    <p>{{moment-from-now contact.lastRecordActivity interval=1000}}</p>
                {{/link-to}}
            </div>
            {{#if (or contact.isShared contact.tags)}}
                <div class="contacts-tags">
                    {{#if contact.isShared}}
                        <span class="badge">
                            Shared by <span class="text-darken">{{contact.sharedBy}}</span>
                        </span>
                    {{else}}
                        {{#each contact.tags as |tag|}}
                            {{preview-badge color=tag.hexColor content=tag.name}}
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="no-results">No contacts match this criteria.</div>
    {{/infinite-scroll}}
</div>
{{outlet}}
