{{title model.name separator=" - "}}

<div id="tour-mobileContacts" class="content">
    <div class="section-header">
        <span class="display-l">
            <span class="indicator pull-left"
                style="background-color:{{model.hexColor}};"></span>
        </span>
        <div class="tag-title">
            <h4 class="text-ellipsis">
                {{model.name}}
            </h4>
            {{#if (not model.isDeleted)}}
                <p>
                    {{service-prop "contactListService" "totalNumContacts"}}
                    {{pluralize "contact" (service-prop "contactListService" "totalNumContacts")}}
                </p>
            {{/if}}
        </div>
        {{#if (not (or model.isDeleted model.hasDirtyAttributes))}}
            {{#link-to "main.tag.details"
                    (get (service-prop "authService" "authUser") (constant "PROP_NAME.URL_IDENT"))
                    (get model (constant "PROP_NAME.URL_IDENT"))
                classNames="pull-right-to-edge full-height"
                activeClass="bg-color bg-dark"}}
                {{#tool-tip title="View Tag Details"
                    tagName="button"
                    classNames="btn btn-plain btn-expand"}}
                    <span class="fa fa-sliders"></span>
                {{/tool-tip}}
            {{/link-to}}
        {{/if}}
    </div>
    <div id="tour-contactsList" class="section-body flex flex--align-stretch flex--direction-vertical">
        {{#infinite-scroll classNames="flex__item flex__item--grow bg-color bg-lightest"
            contentClass="result-list"
            data=(service-prop "contactListService" "contacts")
            numTotal=(service-prop "contactListService" "totalNumContacts")
            doRegister=(action (mut contactsList))
            onRefresh=(service-action "contactListService" "refresh")
            onLoad=(service-action "contactListService" "loadMore") as |contact|}}
            {{#entity-display class="result-item"
                entityIdentifier=(get contact (constant "PROP_NAME.READABLE_IDENT"))
                linkTarget="main.tag.contact"
                linkParams=(array
                    (get (service-prop "authService" "authUser") (constant "PROP_NAME.URL_IDENT"))
                    (get model (constant "PROP_NAME.URL_IDENT"))
                    contact.id)
                bodyClass=(if contact.isUnread (constant "CONTACT.FILTER.UNREAD"))
                isSelected=contact.isSelected
                onSelect=(action "toggleSelected" contact)}}
                {{entity-display/contact entity=contact}}
            {{/entity-display}}
        {{else}}
            <div class="no-results">
                No contacts have been added to <span class="text-bold">{{model.name}}</span> yet.
            </div>
        {{/infinite-scroll}}
        <div id="task-manager__container" class="section-footer flex__item flex__item--no-shrink">
            {{tour-components/task-manager doRegister=(service-mut "tutorialService" "taskManager")
                firstIncompleteTask=(service-prop "tutorialService" "firstIncompleteTask")
                getTaskStatus=(service-action "tutorialService" "getTaskStatus")
                onClose=(service-action "tutorialService" "closeTaskManager")
                onFinishCompleteTask=(service-action "tutorialService" "finishCompleteTask")
                resetTasks=(service-action "tutorialService" "resetTasks")
                shouldShow=(service-prop "tutorialService" "shouldShowTaskManager")
                tasks=(service-prop "tutorialService" "tasks")}}
        </div>
    </div>
</div>
{{outlet}}
