<span class="clear-badge">
    {{#if (type/is-tag entity)}}
        <span class="icon-tag"></span>
    {{else if (type/is-contact entity)}}
        {{#if entity.isShared}}
            {{#tool-tip title=(concat 'Shared by ' entity.sharedByName)}}
                <span class="fa fa-share"></span>
            {{/tool-tip}}
        {{else}}
            <span class="icon-person"></span>
        {{/if}}
    {{else}}
        <span class="fa fa-asterisk"></span>
    {{/if}}
</span>
<span class="clear-badge text-bold">
    {{phone-number (get entity (constant "PROP_NAME.READABLE_IDENT"))}}
    {{#if (type/is-tag entity)}}
        <span class="margin-l-half halo halo-sm bg-color bg-dark">
            {{entity.numMembers}}
        </span>
    {{/if}}
</span>
