
{{!-- pass identifiers and not resolved models to allow the logic
in the model hook to run --}}

<ul class="reset-list">
    {{#if (and (not authManager.authUser.hasInactivePhone)
        authManager.authUser.phone.content)}}
        {{#link-to 'main.contacts' authManager.authUser.urlIdentifier
            tagName='li'
            classNames='menu-item'
            current-when='main'}}
            <div class="offset-xs-row-10 xs-8-row-10 text-left">
                <p class="text-bold text-ellipsis">{{authManager.authUser.name}}</p>
                <p class="text-bold text-ellipsis">
                    {{phone-number authManager.authUser.phone.content.number}}
                </p>
            </div>
        {{/link-to}}
    {{/if}}
    {{#each authManager.authUser.teamsWithPhones as |team|}}
        {{#if (and (not team.hasInactivePhone) team.phone.content)}}
            {{#link-to 'main.contacts' team.urlIdentifier
                tagName='li'
                classNames='menu-item'
                current-when='main'}}
                <div class="offset-xs-row-10 xs-8-row-10 text-left">
                    <p class="text-bold text-ellipsis">
                        <span class="indicator margin-r-quarter"
                            style='background-color:{{team.hexColor}};'></span>
                        {{team.name}}
                    </p>
                    <p class="text-bold text-ellipsis">
                        {{phone-number team.phone.content.number}}
                    </p>
                </div>
            {{/link-to}}
        {{/if}}
    {{/each}}
    {{#if authManager.authUser.isAdmin}}
        {{#link-to 'admin.people'
            tagName='li'
            classNames='menu-item'
            current-when='admin'}}
            <div class="offset-xs-row-10 xs-8-row-10 text-left">
                <p class="text-bold text-ellipsis">Admin</p>
            </div>
        {{/link-to}}
    {{/if}}
    <li class="menu-divider"></li>
    <li class="menu-item" onclick={{route-action 'logout'}}>
        <div class="offset-xs-row-10 xs-8-row-10 text-left">
            <p class="text-bold text-ellipsis">Log Out</p>
        </div>
    </li>
</ul>
