{{title selected.length ' selected'}}

<div class="details">
	<div class="section-header">
		<div class="horizontal-items xs-row-2 l-4-row-10 pull-left">
			<span class='clear-badge'>
                {{#hide-away/dropdown horizontal='left'}}
                    <li tabindex='0' class='dropdown-item'
                        {{action 'selectAll'}}>
                        All
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'selectAllStaff'}}>
                        Only staff
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'leave'}}>
                        None
                    </li>
                {{else}}
                    <button class='btn' type='button'>
                        <span class="display-xs">{{selected.length}} selected</span>
                        <span class="display-s display-m display-l">Select</span>
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
			</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat selected.length ' '
                        (pluralize 'person' selected.length) ' selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>{{selected.length}}</span>
                    <span class="fa fa-user"></span>
                {{/tool-tipster}}
        	</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat selectedAdmins.length ' '
                        (pluralize 'admin' selectedAdmins.length) ' selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>{{selectedAdmins.length}}</span>
                    <span class="fa fa-star-o"></span>
                {{/tool-tipster}}
            </span>
		</div>
		<div class="horizontal-items xs-row-2 l-6-row-10 pull-right">
            <span class='clear-badge no-space display-xs display-s display-m'>
                {{#hide-away/dropdown}}
                    <li tabindex='0' class='dropdown-item'
                        {{action 'toggleDetailSlideout'
                            'slideouts/teams/membership' 'admin/people/many'}}>
                        Edit teams
                    </li>
                    {{#if (not selectedMe)}}
                        <li class='dropdown-divider'>Status</li>
                        <li tabindex='0' class='dropdown-item'>Demote to staff</li>
                        <li tabindex='0' class='dropdown-item'>Promote to admin</li>
                        <li tabindex='0' class='dropdown-item'>Block</li>
                    {{/if}}
                {{else}}
                    <button class='btn' type='button'>
                        Actions
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
            </span>
            {{#if (not selectedMe)}}
                <span class='clear-badge no-space display-l'>
                    {{#hide-away/dropdown}}
                        <li tabindex='0' class='dropdown-item'>Demote to staff</li>
                        <li tabindex='0' class='dropdown-item'>Promote to admin</li>
                        <li tabindex='0' class='dropdown-item'>Block</li>
                    {{else}}
                        <button class='btn' type='button'>
                            Status
                            <span class='fa fa-caret-down'></span>
                        </button>
                    {{/hide-away/dropdown}}
                </span>
            {{/if}}
            <span class='clear-badge display-l'>
                <button class='btn' type='button'
                	{{action 'toggleDetailSlideout'
                        'slideouts/teams/membership' 'admin/people/many'}}>
                    Teams
                </button>
            </span>
            <span class="clear-badge">
                <button class="btn btn-plain" type='button'
                    {{action 'leave'}}>
                    <span class="fa fa-times"></span>
                </button>
            </span>
		</div>
    </div>
    <div class="section-body display-m display-l">
		<ul class="tile-list">
			{{#each selected as |person|}}
				<li class='m-row-2 l-row-3'>
					<div class="tile-list-item text-center">
                        <span class="pull-left">
                            {{partial 'partials/staff/indicators'}}
                        </span>
						{{person.name}}
						<span class="pull-right">
                            <button class="btn btn-plain" type='button'
                                {{action 'deselect' person}}>
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
					</div>
				</li>
			{{/each}}
		</ul>
    </div>
</div>
