{{title person.name}}

<div class="details full-height">
	<div class="section-header">
		<div class="contact-details">
			<div class="horizontal-items xs-2-row-3 s-row-2 pull-left">
				<span class="clear-badge display-xs display-s no-space">
                    {{#link-to (if team 'admin.team' 'admin.people')}}
						<span class="pad-all">
							<span class="fa fa-chevron-left"></span>
						</span>
	            	{{/link-to}}
                </span>
				<span class="clear-badge no-space">
					<h5>{{person.name}}</h5>
				</span>
				{{#if person.isAdmin}}
					<span class="pad-l display-s display-m display-l">
						<span class="badge">Admin</span>
					</span>
				{{/if}}
				{{#if (and person.isAvailableNow
					(if (not person.nextUnavailable) true
						(date/is-after person.nextUnavailable now)))}}
					<span class="display-s display-m display-l">
						<span class="badge">
							Available
							{{#if person.nextUnavailable}}
								for {{moment-from-now person.nextUnavailable hideSuffix=true}}
							{{/if}}
						</span>
					</span>
				{{/if}}
			</div>
			<div class="horizontal-items xs-row-3 s-row-2 pull-right">
				{{#if (not person.isAuthUser)}}
					<span class='clear-badge'>
		            	{{#hide-away/dropdown}}
		                    <li class='dropdown-divider'>Status</li>
		                    {{partial 'partials/staff/status'}}
			            {{else}}
			                <button class='btn' type='button'>
	                            Actions
	                            <span class='fa fa-caret-down'></span>
	                        </button>
			            {{/hide-away/dropdown}}
		            </span>
				{{/if}}
	            <span class="clear-badge display-m display-l">
	            	{{#link-to (if team 'admin.team' 'admin.people')}}
						<span class="pad-all">
							<span class="fa fa-times"></span>
						</span>
	            	{{/link-to}}
	            </span>
			</div>
		</div>
        <div class="contact-tags">
        	<span class='clear-badge'>
				<a href='#'
					{{action 'toggleDetailSlideout' 'slideouts/teams/membership' 'admin.people.person'}}>
                    <span class="fa fa-users"></span>
                </a>
            </span>
            <span class="badge-divider"></span>
            {{#each person.teams as |team|}}
                {{preview-badge color=team.hexColor content=team.name}}
            {{else}}
            	<span class="badge">Member of no teams.</span>
            {{/each}}
        </div>
    </div>
    <div class="section-body bg-color bg-lightest">
    	{{#tab-container onChange=(route-action 'revert' person)
    		animation='fade' as |tabContainer doRegister|}}
			{{#tab-container/item doRegister=doRegister
				title="Details"}}
				<div class='pad-t pad-b'>
					{{#with person as |staff|}}
						{{partial 'partials/staff/edit'}}
					{{/with}}
					{{#if person.isDirty}}
						{{!-- separate if loops to prevent multiple-set deprecation --}}
                    	{{#if (and (not usernameDropdown.isOpen)
	                    	(not passwordDropdown.isOpen)
	                    	(not codeDropdown.isOpen))}}
                    		<div class="pad-t text-center">
						        <button class="btn" type='button'
						        	onclick={{route-action 'revert' person
						        		(action (mut person.phoneAction) null)}}>
						            Cancel
						        </button>
						        {{async-button classNames='btn btn-default'
				                    disableWhen=(not (v-get person 'isValid'))
				                    action=(route-action 'persistWithPhone' person)
				                    default='Update'
				                    pending='Updating...'}}
							</div>
                    	{{/if}}
					{{/if}}
				</div>
				<hr>
				<div class="pad-l pad-r pad-b">
					{{#with person as |staff|}}
						{{partial 'partials/staff/code-with-confirm'}}
						{{partial 'partials/staff/username-with-confirm'}}
						{{partial 'partials/staff/password-with-confirm'}}
					{{/with}}
				</div>
			{{/tab-container/item}}
			{{#tab-container/item doRegister=doRegister
				title="Availability"}}
				<div class="form-element row pad-t pad-l pad-r">
		            <div class="xs-2-row-3 control-text">
		                <label for="Availability" class='text-ellipsis'>
		                    {{person.name}} Availability
		                </label>
		            </div>
		            {{multi-toggle/binary classNames='xs-row-3'
		                value=person.manualSchedule
		                falseColor='#76c9ec'
		                trueColor='#1BA5E0'
		                falseString='Schedule'
		                trueString='Manual'}}
		        </div>
		        <div class="form-element">
					{{#if person.manualSchedule}}
						<div class="row pad-r pad-l">
			                <div class="xs-2-row-3 control-text">
			                    <label for="Availability" class='text-bold text-ellipsis'>
			                        Is {{person.name}} available now?
			                    </label>
			                </div>
			                {{multi-toggle/binary classNames='xs-row-3'
			                    value=person.isAvailable
			                    falseColor='#d3d3d3'
			                    trueColor='#76c9ec'
			                    falseString='No'
			                    trueString='Yes'}}
			            </div>
					{{else}}
						{{#if person.schedule.isFulfilled}}
				            {{tab-container/availability
				                schedule=(mut person.schedule.content)}}
					    {{/if}}
					{{/if}}
				</div>
				{{#if person.isDirty}}
			        <div class="horizontal-items text-center margin-t margin-b">
			            <div class="clear-badge no-space">
			                <button class="btn" type='button'
			                    onclick={{route-action 'revert' person}}>
			                    Cancel
			                </button>
			            </div>
			            <div class="clear-badge no-space">
			            	{{async-button classNames='btn btn-default'
			                    action=(route-action 'persist' person)
			                    default='Update'
			                    pending='Updating...'}}
			            </div>
			        </div>
			    {{/if}}
			{{/tab-container/item}}
    	{{/tab-container}}
    </div>
</div>
