{{title person.name}}

<div class="details full-height">
	<div class="section-header">
		<div class="row full-height">
			<div class="xs-3-row-20 s-row-10 display-xs display-xs display-s
                full-height row ">
                {{#link-to (if team 'admin.team' 'admin.people')
                	classNames='pull-left'}}
					<span class="pad-all">
						<span class="fa fa-chevron-left"></span>
					</span>
            	{{/link-to}}
            </div>
			<div class="xs-11-row-20 s-7-row-10 m-14-row-20 l-15-row-20
                full-height contact-info
                {{if person.hasTeams 'has-details'}}">
				<div class='contact-summary'>
                    <div class="horizontal-items">
                        <span class="clear-badge no-space">
                            <h5>{{person.name}}</h5>
                        </span>
                        {{#if person.isAdmin}}
							<span class="display-s display-m display-l">
								<span class="margin-l badge">Admin</span>
							</span>
						{{/if}}
                    </div>
                </div>
                <div class="contact-details">
                    <div class="horizontal-items full-height">
                        <span class='clickable display-l'
                            onclick={{route-action 'toggleSlideout'
                            	'slideouts/team/membership'
                            	'admin.people.person'
                                (constant "SLIDEOUT.OUTLET.DETAIL")}}>
							{{#each person.teams as |team|}}
				                {{color-badge classNames='clickable'
                                    text=team.name
                                    color=team.hexColor}}
				            {{/each}}
                        </span>
                    </div>
                </div>
            </div>
			<div class="xs-6-row-20 s-2-row-10 m-6-row-20 l-5-row-20
                full-height row">
                <div class="horizontal-items pull-right">
					{{#if (not person.isAuthUser)}}
                        <span class="clear-badge no-space">
                            {{#pop-over as |popOver|}}
                                <button class="btn"
                                    type="button"
                                    onclick={{popOver.actions.toggle}}>
                                    More
                                    <span class="fa fa-caret-down"></span>
                                </button>
                            {{else}}
                                <ul class="dropdown">
                                    <li tabindex="0"
                                        class="dropdown-item"
                                        onclick={{route-action "resetPassword" person.username}}>
                                        Send password reset
                                    </li>
                                    <li tabindex="0" class="dropdown-item"
                                        {{action "toggleSlideout"
                                            "slideouts/team/membership"
                                            "admin.people.person"
                                            (constant "SLIDEOUT.OUTLET.DETAIL")}}>
                                        Teams
                                        <span class="badge">
                                            {{person.teams.content.length}}
                                        </span>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    {{partial "partials/staff/status"}}
                                </ul>
                            {{/pop-over}}
                        </span>
                    {{else}}
                    	<span class='clear-badge no-space'>
                            <button type='button' class='btn'
                                {{action 'toggleSlideout'
	                            	'slideouts/team/membership'
	                            	'admin.people.person'
                                    (constant "SLIDEOUT.OUTLET.DETAIL")}}>
                                Teams
                                <span class="badge tint">
                                    {{person.teams.content.length}}
                                </span>
                            </button>
                        </span>
                    {{/if}}
                    <span class="clear-badge display-m display-l">
                        {{#link-to (if team 'admin.team' 'admin.people')}}
							<span class="pad-all">
								<span class="fa fa-times"></span>
							</span>
		            	{{/link-to}}
                    </span>
				</div>
            </div>
		</div>
    </div>
    <div class="section-body bg-color bg-lightest">
    	{{#tab-container onChange=(route-action 'revert' person)
    		animation='fade' as |tabContainer doRegister|}}
			{{#tab-container/item doRegister=doRegister
				title="Details"}}
                <div class="form">
                    {{#with person as |staff|}}
                        {{partial 'partials/staff/edit'}}
                    {{/with}}
                    {{#if person.isDirty}}
                        {{!-- separate if loops to prevent multiple-set deprecation --}}
                        {{#if (and (not usernameDropdown.isOpen)
                            (not passwordDropdown.isOpen)
                            (not codeDropdown.isOpen))}}
                            <div class="flex flex--justify-center flex--spacing-between">
                                <div class="flex__item">
                                    <button class="btn" type='button'
                                        onclick={{route-action 'revert' person
                                            (action (mut person.phoneAction) null)}}>
                                        Cancel
                                    </button>
                                </div>
                                <div class="flex__item">
                                    {{async-button classNames='btn btn-default'
                                        disableWhen=(not (v-get person 'isValid'))
                                        action=(route-action 'persistWithPhone' person)
                                        default='Update'
                                        pending='Updating...'}}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
				<hr>
				{{#with person as |staff|}}
					{{partial 'partials/staff/code-with-confirm'}}
					{{partial 'partials/staff/username-with-confirm'}}
					{{partial 'partials/staff/password-with-confirm'}}
				{{/with}}
			{{/tab-container/item}}

			{{#tab-container/item doRegister=doRegister
				title="Default Availability"}}

                {{!-- TODO do we remove this or do we build this out more?  --}}
				{{availability-control class="margin-t"
                    entity=person
                    onTypeChange=(action (mut person.manualSchedule))
                    onManualAvailabilityChange=(action (mut person.isAvailable))
                    onScheduleAvailabilityChange=(action "replaceRange" target=person.schedule.content)}}
				{{#if person.isDirty}}
			        <div class="flex flex--justify-center flex--spacing-between">
			            <div class="flex__item">
			                <button class="btn" type='button'
			                    onclick={{route-action 'revert' person}}>
			                    Cancel
			                </button>
			            </div>
			            <div class="flex__item">
			            	{{async-button classNames='btn btn-default'
			                    action=(route-action 'persist' person)
			                    default='Update'
			                    pending='Updating...'}}
			            </div>
			        </div>
			    {{/if}}
			{{/tab-container/item}}
    	{{/tab-container}}
    </div>
</div>
