<span class='textup-container'>
    <div class="textup-container__item">
        {{moment-format timestamp}} by <span class="text-bold">{{phone-number authorName}}</span>
    </div>
    {{#if receiptInfo}}
        <div class="textup-container__item">
            {{#if (gt receiptInfo.successes.length 0)}}
                Sent to {{receiptInfo.successes.length}}
            {{else if (gt receiptInfo.pending.length 0)}}
                Sending...
            {{else}}
                Failed
            {{/if}}
        </div>
    {{/if}}
</span>
