{{#if (or (not readOnly) note.hasRevisions)}}
    {{#hide-away/dropdown classNames="record-item__controls"}}
        {{#if (not readOnly)}}
            {{#if note.hasBeenDeleted}}
                <li tabindex='0' class='dropdown-item' onclick={{action _onRestore note}}>
                    Restore
                </li>
            {{else}}
                <li tabindex='0' class='dropdown-item' onclick={{action _onEdit note}}>
                    Edit
                </li>
            {{/if}}
        {{/if}}
        {{#if note.hasRevisions}}
            <li tabindex='0' class='dropdown-item' onclick={{action _onViewHistory note}}>
                See version history
            </li>
        {{/if}}
    {{else}}
        <button class='btn' type='button'>
            <span class='fa fa-ellipsis-v'></span>
        </button>
    {{/hide-away/dropdown}}
{{/if}}

{{note.noteContents}}

<div class="textup-container">
    {{#if note.media.content.displayedImages.isFulfilled}}
        <div class="textup-container__item">
            {{image-stack images=note.media.content.displayedImages.content}}
        </div>
    {{/if}}
    {{#if note.location.content}}
        <div class="textup-container__item">
            {{location-preview location=note.location.content}}
        </div>
    {{/if}}
</div>

{{record-cluster/item/metadata item=note}}
