{{#tab-container animation='fade' as |tabContainer doRegister|}}
	{{#tab-container/item doRegister=doRegister
		title="Me"
		classNames='pad-t'}}
		{{#each _daysOfWeek as |day|}}
			{{!-- spacer for the handles for smartphones and tablets --}}
			<div class="display-xs display-s display-m">
				<div class="xs-full-row pad-t"></div>
			</div>
			<div class="row pad-b pad-l pad-r">
				<div class="xs-full-row l-3-row-20 text-bold">
					<span class="display-xs display-s display-m">
						{{capitalize day}}
					</span>
					<span class="display-l control-text">
						{{capitalize day}}
					</span>
				</div>
				<div class="xs-full-row l-17-row-20">
					{{multi-range data=(get staff day)
						min='0000'
						max='2359'
						doRawToValid=(action 'doRawToValid')
						doValidToRaw=(action 'doValidToRaw')
						doValidToNum=(action 'doValidToNum')
						doNumToValid=(action 'doNumToValid')
						doValidRangeToDisplay=(action 'doValidRangeToDisplay')
						doIndicator=(if (eq dayToday day) (action 'doIndicator'))
						onUpdate=(action 'updateTime' day)
						onInsert=(action 'insertTime' day)
						onRemove=(action 'removeTime' day)}}
				</div>
			</div>
		{{/each}}
	{{/tab-container/item}}

	{{#if otherStaffs}}
		{{#each _daysOfWeek as |day|}}
			{{#tab-container/item doRegister=doRegister
				title=(capitalize day)
				classNames='pad-t'}}
				{{!-- spacer for the handles for smartphones and tablets --}}
				<div class="display-xs display-s display-m">
					<div class="xs-full-row pad-t"></div>
				</div>
				<div class="row pad-b pad-l pad-r">
					<div class="xs-full-row l-3-row-20 text-bold">
						<span class="display-xs display-s display-m">
							Me
						</span>
						<span class="display-l control-text">
							Me
						</span>
					</div>
					<div class="xs-full-row l-17-row-20">
						{{multi-range data=(get staff day)
							min='0000'
							max='2359'
							doRawToValid=(action 'doRawToValid')
							doValidToRaw=(action 'doValidToRaw')
							doValidToNum=(action 'doValidToNum')
							doNumToValid=(action 'doNumToValid')
							doValidRangeToDisplay=(action 'doValidRangeToDisplay')
							doIndicator=(if (eq dayToday day) (action 'doIndicator'))
							onUpdate=(action 'updateTime' day)
							onInsert=(action 'insertTime' day)
							onRemove=(action 'removeTime' day)}}
					</div>
				</div>
				{{#each otherStaffs as |otherStaff|}}
					<div class="row pad-b pad-l pad-r">
						<div class="xs-full-row l-3-row-20 text-bold">
							<span class="display-xs display-s display-m">
								{{otherStaff.name}}
							</span>
							<span class="display-l control-text">
								{{otherStaff.name}}
							</span>
						</div>
						<div class="xs-full-row l-17-row-20">
							{{multi-range data=(get otherStaff day)
								min='0000'
								max='2359'
								doRawToValid=(action 'doRawToValid')
								doValidToRaw=(action 'doValidToRaw')
								doValidToNum=(action 'doValidToNum')
								doNumToValid=(action 'doNumToValid')
								doValidRangeToDisplay=(action 'doValidRangeToDisplay')
								doIndicator=(if (eq dayToday day) (action 'doIndicator'))}}
						</div>
					</div>
				{{/each}}
			{{/tab-container/item}}
		{{/each}}
	{{/if}}
{{/tab-container}}
