{{title "Create account"}}

<div class="single-body">
    <div class="single-body-header">
        <h5 class="text-center pad-b">You've selected {{selected.name}}!</h5>
        <p class="text-center">We need a little bit more information about you before we can create your account.</p>
    </div>
    <div class="single-body-content">
        <div class="form-element">
            <label for="Your Name">Your Name</label>
            {{input value=staff.name
                type="text"
                placeholder="Your Name"
                class="form-control start-focus"
                validateObj=staff
                validateField='name'
                validate='bottom'}}
        </div>
        <div class="form-element">
            <label for="Username">Username</label>
            {{input value=staff.username
                type="text"
                placeholder="Username"
                class="form-control"
                autocorrect="off"
                autocapitalize="off"
                validateObj=staff
                validateField='username'
                validate='bottom'}}
        </div>
        <div class="form-element">
            <label for="Email">Email</label>
            {{input value=staff.email
                type="email"
                placeholder="Email"
                class="form-control"
                validateObj=staff
                validateField='email'
                validate='bottom'}}
        </div>
        <div class="form-element">
            <label for="Password">Password</label>
            {{input value=staff.password
                type="password"
                placeholder="Password"
                class="form-control"}}
        </div>
        <div class="form-element">
            <label for="Confirm Password">Confirm Password</label>
            {{input value=confirmPassword
                type="password"
                placeholder="Confirm Password"
                class=(concat "form-control "
                    (if (and confirmPassword (not (eq staff.password confirmPassword)))
                        'form-error'))}}
            {{#if (and confirmPassword (not (eq staff.password confirmPassword)))}}
                <p class="form-error">Passwords must match.</p>
            {{/if}}
        </div>
        <div class='form-element no-space'>
            <label for='Lock Code' class='control-label'>Lock Code</label>
            {{lock-control val=staff.lockCode
                lockOnMultipleFailure=false
                numDigits=4
                doUpdate=(action (mut staff.lockCode))}}
        </div>
        {{#if (v-get staff 'lockCode' 'isInvalid')}}
            <p class="form-error">{{v-get staff 'lockCode' 'message'}}</p>
        {{/if}}
    </div>
    <div class="bg-color pad-t pad-b">
        {{g-recaptcha onSuccess=(action (mut staff.captcha))
            onExpired=(route-action 'clearCaptcha' staff)
            ref=(mut gRecaptcha)}}
    </div>
    <div class="single-body-footer text-center">
        {{async-button classNames='btn btn-default'
            disableWhen=(or (not (v-get staff 'isValid'))
                (not staff.captcha)
                (not staff.lockCode)
                (not staff.password)
                (not (eq staff.password confirmPassword)))
            action=(route-action 'createStaff' staff)
            default='Finish'
            pending='Almost...'
            reset=staff.captcha}}
    </div>
</div>
<div class='single-footer'>
    {{#if selected.isNew}}
        <p class="emphasize text-white">Want to edit your new organization?</p>
        <h4>
            {{link-to "Create a new organization" "signup.new"
                classNames="text-white"}}
        </h4>
    {{else}}
        <p class="emphasize text-white">Want to pick another organization?</p>
        <h4>
            {{link-to "Choose existing organization" "signup.index"
                classNames="text-white"}}
        </h4>
    {{/if}}
</div>

