{{title "Create account"}}

<div class="single-body">
    <div class="single-body-header">
        <h5 class="text-center pad-b">You've selected {{selected.name}}!</h5>
        <p class="text-center">We need a little bit more information about you before we can create your account.</p>
    </div>
    <div class="form">
        <div class="form__group">
            <label class="form__label" for="Your Name">Your Name</label>
            {{input value=staff.name
                type="text"
                placeholder="Your Name"
                class="form__input start-focus"
                validateObj=staff
                validateField="name"
                validate="bottom"}}
        </div>
        <div class="form__group">
            <label class="form__label" for="Username">Username</label>
            {{input value=staff.username
                type="text"
                placeholder="Username"
                class="form__input"
                autocorrect="off"
                autocapitalize="off"
                validateObj=staff
                validateField="username"
                validate="bottom"}}
        </div>
        <div class="form__group">
            <label class="form__label" for="Email">Email</label>
            {{input value=staff.email
                type="email"
                placeholder="Email"
                class="form__input"
                validateObj=staff
                validateField="email"
                validate="bottom"}}
        </div>
        <div class="form__group">
            <label class="form__label" for="Password">Password</label>
            {{input value=staff.password
                type="password"
                allowShowPassword=true
                placeholder="Password"
                class="form__input"}}
        </div>
        <div class="form__group">
            <label class="form__label" for="Confirm Password">Confirm Password</label>
            {{input value=confirmPassword
                type="password"
                allowShowPassword=true
                placeholder="Confirm Password"
                class=(concat "form__input "
                    (if (and confirmPassword (not (eq staff.password confirmPassword)))
                        "form-error"))}}
            {{#if (and confirmPassword (not (eq staff.password confirmPassword)))}}
                <p class="form-error">Passwords must match.</p>
            {{/if}}
        </div>
        <div class="form__group form__group--no-vertical-space">
            <label for="Lock Code" class="form__label">Lock Code</label>
            {{lock-pad val=staff.lockCode
                doUpdateVal=(action (mut staff.lockCode))}}
        </div>
        {{#if (v-get staff "lockCode" "isInvalid")}}
            <p class="form-error">{{v-get staff "lockCode" "message"}}</p>
        {{/if}}
    </div>
    <div class="bg-color pad-t pad-b">
        {{captcha-control onSuccess=(action (mut isValidCaptcha) true)
            onFailure=(action (mut isValidCaptcha) false)
            onExpiration=(action (mut isValidCaptcha) false)}}
    </div>
    <div class="single-body-content">
        <div class="flex flex--spacing-between flex--align-stretch pad-b">
            {{input id="signup-account-accept-policies" type="checkbox" checked=didAcceptPolicies}}
            <label class="form__label form__label--no-spacing form__label--emphasize" for="signup-account-accept-policies">
                I have read and accept the
                <button class="btn-link"
                    type="button"
                    onclick={{action (mut showTermsOfUse) true}}>Terms of Use</button>
                and the
                <button class="btn-link"
                    type="button"
                    onclick={{action (mut showPrivacyPolicy) true}}>Privacy Policy</button>
            </label>
        </div>
        <div class="flex flex--spacing-between flex--align-stretch">
            {{input id="signup-account-users-list" type="checkbox" checked=staff.shouldAddToGeneralUpdatesList}}
            <label class="form__label form__label--no-spacing form__label--emphasize" for="signup-account-users-list">
                Send me email updates about new features in TextUp (optional)
            </label>
        </div>
        {{message-modal url=(config "links.termsOfUse")
            display=showTermsOfUse
            onClose=(action (mut showTermsOfUse) false)}}
        {{message-modal url=(config "links.privacyPolicy")
            display=showPrivacyPolicy
            onClose=(action (mut showPrivacyPolicy) false)}}
    </div>
    <div class="single-body-footer text-center">
        {{async-button classNames="btn btn-default"
            disableWhen=(or (not (v-get staff "isValid"))
                (not isValidCaptcha)
                (not staff.lockCode)
                (not staff.password)
                (not (eq staff.password confirmPassword))
                (not didAcceptPolicies))
            action=(service-action "staffService" "persistNewAndLogIn" staff selected)
            default="Finish"
            pending="Almost..."
            reset=staff.captcha}}
    </div>
</div>
<div class="single-footer">
    {{#if selected.isNew}}
        <p class="emphasize text-white">Want to edit your new organization?</p>
        <h4>
            {{link-to "Create a new organization" "signup.new"
                classNames="text-white"}}
        </h4>
    {{else}}
        <p class="emphasize text-white">Want to pick another organization?</p>
        <h4>
            {{link-to "Choose existing organization" "signup.index"
                classNames="text-white"}}
        </h4>
    {{/if}}
</div>

