{{title "New org"}}

<div class="single-body">
    <div class="single-body-header">
        <h5 class="text-center pad-b">Create a new organization</h5>
        <p class="text-center">If you can't find your organization, create a new organization with name and location.</p>
    </div>
    <div class='form border-b'>
        <div class="form__group">
            <label class="form__label" for='Organization Name'>Organization Name</label>
            {{input value=org.name
                type='text'
                placeholder='Organization Name'
                class='form__input'
                autocorrect='off'
                autocapitalize='off'
                validateObj=org
                validateField='name'
                validate='bottom'}}
        </div>
    </div>
    {{location-control/mutable
        searchPlaceholder="Search for your organization's location here"
        location=(mut org.location.content.latLng)
        description=(mut org.location.content.address)
        onError=(service-action "mapService" "handleError")}}

	<div class="single-body-footer text-center">
		{{link-to "Next" "signup.account"
            tagName="button"
            classNames="btn btn-default"
            disabledWhen=(not (v-get org 'isValid'))}}
    </div>
</div>
<div class="single-footer">
    <p class="emphasize text-white">Want to pick an existing organization?</p>
    <h4>{{link-to "Choose existing organization" "signup.index" classNames="text-white"}}</h4>
</div>
