{{#sortable-group classNames="existing-numbers" onChange=(action _onReorder) as |group|}}
    {{#each _numbers as |thisNum i|}}
        {{#sortable-item classNames="input-group"
            onDragStart=(action (mut _isReordering) true)
            onDragStop=(action (mut _isReordering) false)
            model=thisNum
            group=group
            handle=".handle"}}
            {{#if (not readonly)}}
                <div class="input-group-addon blend-in no-select">
                    <button class="btn" type="button" onclick={{action _onRemove i}}>
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            {{/if}}
            {{#phone-control
                number=(readonly thisNum.number)
                disabled=readonly
                controlClass="blend-in handle"
                controlButtonClass="btn-default"
                onChange=(action (mut thisNum.number))
                onClick=(action _onUpdateExisting i)
                onFocusLeave=(action _onUpdateExisting i)
                showControl=true}}
            {{else}}
                <span class="fa fa-arrows-v"></span>
            {{/phone-control}}
        {{/sortable-item}}
    {{/each}}
{{/sortable-group}}
{{#if (not readonly)}}
    {{#hide-show classNames="margin-t"
        focusOnOpenSelector=".phone-control"
        onClose=(action (mut _newNumberString) "") as |hideShow|}}
        {{#if hideShow.isOpen}}
            <div class="input-group">
                {{#if _hasNumbers}}
                    <span class="input-group-addon blend-in no-select">
                        <button class="btn" type="button"
                            onclick={{hideShow.actions.close}}>
                            <span class="icon-x"></span>
                        </button>
                    </span>
                {{/if}}
                {{phone-control number=_newNumberString
                    controlButtonClass="btn-success"
                    onChange=(action (mut _newNumberString))
                    onClick=(action _onAdd)
                    onFocusLeave=(action _onAdd)}}
            </div>
        {{else}}
            <button class="button button--expand"
                type="button"
                onclick={{hideShow.actions.open}}>
                Add another number
            </button>
        {{/if}}
    {{/hide-show}}
{{/if}}
