{{title pendingStaff.length " pending"}}

<div class="full-height">
	<div class="section-header">
		<span class="contacts-title">
			<div class="horizontal-items">
				<div class="clear-badge">
					<h5>Pending</h5>
				</div>
				<div class="badge {{if selectedPending "hidden"}}">
					{{#tool-tip title=(concat pendingStaff.length " pending")
	                    classNames="btn-expand"}}
	                    <span class="text-bold">
	                    	{{pendingStaff.length}}
	                    </span>
						<span class="icon-person"></span>
	                {{/tool-tip}}
				</div>
			</div>
		</span>
    </div>
	{{#infinite-scroll classNames="section-body"
        contentClass="tile-list"
        data=pendingStaff
        numTotal=numPending
        onLoad=(action "loadMore") as |selected|}}
		{{#hide-show classNames="xs-full-row"
			startOpen=selected.hasPhoneActionData
			onClose=(action (mut selected.phoneActionData) null) as |hideShow|}}
			<div class="bg-color bg-lightest pad-all border-all row">
				<div class="xs-full-row s-row-2 l-2-row-3 text-ellipsis horizontal-items">
					<span class="text-bold control-text pad-r">
						{{selected.name}}
					</span>
					<span class="text-normal control-text pad-r">
						{{selected.email}}
					</span>
					{{#if (and selected.phoneActionData
						(not (eq selected.pendingAction "reject")))}}
						<span class="text-bold control-text">
							<span class="icon-phone pad-r-half"></span>
							{{phone-number selected.phoneActionData.phoneNumber}}
						</span>
					{{/if}}
				</div>
				<div class="display-xs">
					<div class="margin-t"></div>
				</div>
				<div class="xs-full-row s-row-2 l-row-3 flex flex--justify-end">
					{{#if selected.pendingAction}}
						<div class="flex__item">
							<button class="btn btn-plain btn-span" type="button"
								onclick={{action (mut selected.pendingAction) null}}>
								Undo
							</button>
						</div>
						<div class="flex__item">
							<button class="btn btn-plain btn-span
								{{if (eq selected.pendingAction "approve")
									"btn-success"
									"btn-danger"}}"
								type="button"
								{{action selected.pendingAction selected}}>
								Confirm {{selected.pendingAction}}
							</button>
						</div>
					{{else}}
						{{#if (not selected.phoneActionData)}}
							<div class="flex__item flex__item--grow">
								<button class="btn btn-span"
									type="button"
									onclick={{hideShow.actions.toggle}}>
									<span class="text-ellipsis">
										{{#if hideShow.isOpen}}
											Cancel add phone
										{{else}}
											<span class="icon-thin-plus"></span> phone
										{{/if}}
									</span>
								</button>
							</div>
						{{/if}}
						<div class="flex__item">
							<button class="btn btn-plain btn-success"
								type="button"
								onclick={{action (mut selected.pendingAction) "approve"}}>
								<span class="icon-checkmark"></span>
							</button>
						</div>
						<div class="flex__item">
							<button class="btn btn-plain btn-danger"
								type="button"
								onclick={{action (mut selected.pendingAction) "reject"}}>
								<span class="icon-x"></span>
							</button>
						</div>
					{{/if}}
				</div>
			</div>
			{{#if hideShow.isOpen}}
				<div class="bg-color bg-dark pad-all border-l border-r border-b flex flex--align-start
					{{if (eq selected.pendingAction "reject") "hidden"}}">
					<div class="display-m display-l pad-r-double flex__item">
						<div class="control-text text-bold">
							Select a phone number
						</div>
					</div>
					<div class="input-group flex__item flex__item--grow">
						<div class="input-group-element">
			            	{{#single-select selected=selected.phoneActionData
						        displayProperty=(constant "PROP_NAME.AVAILABLE_NUMBER")
						        identityProperty=(constant "PROP_NAME.AVAILABLE_NUMBER")
						        allowCreate=false
						        searchPlaceholder="Pick your TextUp number"
						        noResultsMessage="Start typing to search for a phone number"
						        onInsert=(action (mut selected.phoneActionData))
						        onRemove=(action (mut selected.phoneActionData) null)
						        doSearch=(service-action "numberService" "listAvailable") as |item select|}}
						        <div class="text-ellipsis">
						            <span class="text-bold">
						                {{phone-number (get item (constant "PROP_NAME.AVAILABLE_NUMBER"))}}
						            </span>
						            {{#if item.region}}
						                <span class="pad-l text-normal">{{item.region}}</span>
						            {{/if}}
						        </div>
						    {{/single-select}}
						</div>
						<div class="input-group-addon">
							<button class="btn btn-default"
								type="button"
								disabled={{if selected.phoneActionData "" "disabled"}}
								onclick={{action (mut selected.phoneActionData) null}}>
								Choose another
							</button>
						</div>
					</div>
				</div>
			{{/if}}
		{{/hide-show}}
    {{else}}
        <div class="no-results">No pending staff members right now.</div>
    {{/infinite-scroll}}
</div>
