 <div class="content">
    {{#hide-show clickOutToClose=true as |hideShow|}}
        <div class="section-header">
            <div class="contacts-title">
                <h4 class="text-ellipsis">
                    {{capitalize (service-prop "staffListService" "filter")}}
                </h4>
                <p>
                    {{service-prop "staffListService" "totalNumPeople"}}
                    {{pluralize "person" (service-prop "staffListService" "totalNumPeople")}}
                </p>
            </div>
            <div class="pull-right-to-edge full-height display-l">
                <button type="button"
                    class="btn btn-plain btn-expand"
                    onclick={{hideShow.actions.toggle}}>
                    {{#if hideShow.isOpen}}
                        <span class="icon-x"></span>
                    {{else}}
                        <span class="fa fa-filter"></span>
                    {{/if}}
                </button>
            </div>
        </div>
        {{#if hideShow.isOpen}}
            <ul class="reset-list">
                {{#each (object-values (constant "STAFF.FILTER")) as |filter|}}
                    <li class="menu-item {{is-staff-filter filter}}"
                        onclick={{action hideShow.actions.closeThenCall
                            (service-action "staffListService" "showFilteredStaffs" filter)}}>
                        <div class="offset-xs-row-10 xs-8-row-10 text-left">
                            <p class="text-bold text-ellipsis">{{capitalize filter}}</p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/hide-show}}
    {{#infinite-scroll classNames="section-body bg-color bg-lightest"
        contentClass="result-list"
        data=(service-prop "staffListService" "people")
        numTotal=(service-prop "staffListService" "totalNumPeople")
        doRegister=(action (mut peopleList))
        onLoad=(service-action "staffListService" "loadMore")
        onRefresh=(service-action "staffListService" "refresh") as |person|}}
        {{#entity-display class="result-item"
            entityIdentifier=person.name
            linkTarget="admin.people.person"
            linkParam=(array person.id)
            isSelected=person.isSelected
            onSelect=(action "toggleSelected" person)}}
            {{entity-display/staff entity=person}}
        {{/entity-display}}
    {{else}}
        <div class="no-results">No people match this criteria.</div>
    {{/infinite-scroll}}
</div>
{{outlet}}
