{{#if team}}
    {{title team.name separator=' - '}}
{{/if}}

<div class="content">
	{{#hide-away tabindex=false
        clickOutToClose=true
        bodyClickClose=true
        animation='slide'
        allowedTriggerSelectors='.staff-filter' as |hideAway|}}
        <ul class="reset-list">
            <li class="menu-item {{if (eq filter 'active') 'active'}}"
                    {{action 'changeFilter' 'active'}}>
                <div class="offset-xs-row-10 xs-8-row-10 text-left">
                    <p class="text-bold text-ellipsis">Active</p>
                </div>
            </li>
            <li class="menu-item {{if (eq filter 'admins') 'active'}}"
                    {{action 'changeFilter' 'admins'}}>
                <div class="offset-xs-row-10 xs-8-row-10 text-left">
                    <p class="text-bold text-ellipsis">Admins</p>
                </div>
            </li>
            <li class="menu-item {{if (eq filter 'deactivated') 'active'}}"
                    {{action 'changeFilter' 'deactivated'}}>
                <div class="offset-xs-row-10 xs-8-row-10 text-left">
                    <p class="text-bold text-ellipsis">Deactivated</p>
                </div>
            </li>
        </ul>
    {{else}}
        <div class="section-header">
        	{{#if team}}
                <span class="display-l">
                    <span class="indicator pull-left"
                        style='background-color:{{team.hexColor}};'></span>
                </span>
                <div class="tag-title">
                    <h4 class="text-ellipsis">
                        {{team.name}}
                    </h4>
                    <p>
                        {{numPeople}}
                        {{pluralize 'person' numPeople}}
                    </p>
                </div>
                {{#if (not team.isDeleted)}}
                    {{#link-to 'admin.team.edit'
                        classNames='pull-right-to-edge full-height'
                        activeClass='bg-color bg-dark'}}
                        {{#tool-tipster theme='tooltipster-clean'
                            title='Edit Team'
                            tagName='button'
                            classNames='btn btn-plain btn-expand'}}
                            <span class="fa fa-sliders"></span>
                        {{/tool-tipster}}
                    {{/link-to}}
                {{/if}}
        	{{else}}
        		<div class="contacts-title">
	                <h4 class="text-ellipsis">{{capitalize filter}}</h4>
	                <p>
                        {{numPeople}}
                        {{pluralize 'person' numPeople}}
                    </p>
	            </div>
	            <div class="staff-filter pull-right display-l">
	                <button class="btn btn-plain" type='button'>
	                    <span class="fa fa-filter"></span>
	                </button>
	            </div>
        	{{/if}}
        </div>
    {{/hide-away}}
    {{#infinite-scroll classNames='section-body bg-color bg-dark'
        doRegister=(action (mut _peopleList))
        containerClass='bg-color bg-lightest'
        itemsClass='result-list'
        direction='down'
        data=people
        total=numPeople
        doLoad=(action 'loadMore')
        doRefresh=(action 'refresh') as |person|}}
        <div class="result-item row">
            <div class="contacts-control {{if person.isSelected 'selected'}}"
                {{action 'toggleSelected' person preventDefault=false}}>
                <span class="fa fa-check center"></span>
            </div>
            {{#link-to (if team
                    'admin.team.person'
                    'admin.people.person')
                person.id
                classNames="contacts-info"
                tagName="div"}}
                <div class="emphasize horizontal-items">
                    <span class="clear-badge no-space">
                        <span class="margin-r-half">
                            {{person.name}}
                        </span>
                    </span>
                    {{partial 'partials/staff/indicators'}}
                </div>
                <p>{{person.username}}</p>
            {{/link-to}}
        </div>
    {{else}}
        {{#if team}}
            <div class="no-results">
                No people have been added to
                <span class="text-bold">{{team.name}}</span>
                yet.
            </div>
        {{else}}
            <div class="no-results">No people match this criteria.</div>
        {{/if}}
    {{/infinite-scroll}}
</div>
{{outlet}}
