{{title (phone-number contact.identifier)}}
<div class="details full-height">
	<div class="section-header">
        <div class="row full-height">
            <div class="xs-3-row-20 s-row-10 display-xs display-xs display-s
                full-height row ">
                {{#link-to (if tag 'main.tag'
                    (if stateManager.viewingSearch
                        'main.search'
                        'main.contacts'))
                    classNames='pull-left'}}
                    <span class="pad-all">
                        <span class="fa fa-chevron-left"></span>
                    </span>
                {{/link-to}}
            </div>
            <div class="xs-11-row-20 s-7-row-10 m-14-row-20 l-15-row-20
                full-height contact-info
                {{if contact.isShared 'is-shared'}}
                {{if (or contact.hasTags contact.isShared) 'has-details'}}">
                <div class='contact-summary'>
                    <div class="horizontal-items clickable"
                        onclick={{route-action 'toggleDetailSlideout'
                            'slideouts/contact'
                            'main/contacts/contact'}}>
                        <span class="clear-badge no-space clickable">
                            <h5>{{phone-number contact.identifier}}</h5>
                        </span>
                        {{#if contact.name}}
                            <span class="clear-badge no-space clickable
                                display-s display-m display-l">
                                <span class="margin-l-half text-big">
                                    {{phone-number contact.numbers.firstObject.number}}
                                </span>
                            </span>
                        {{/if}}
                        {{#if (gt contact.numbers.length 1)}}
                            <span class="display-l">
                                <span class='margin-l-half badge text-small clickable'>
                                    <span class="text-small">
                                        +{{plus contact.numbers.length -1}}
                                        {{pluralize 'number' (plus contact.numbers.length -1)}}
                                    </span>
                                </span>
                            </span>
                        {{/if}}
                    </div>
                </div>
                <div class="contact-details">
                    <div class="horizontal-items full-height pad-l-half">
                        {{#if contact.isShared}}
                            {{!-- for uniform spacing via horizontal-items children selector --}}
                            <span>
                                {{!-- add click to increase click area on small screens --}}
                                <span class="display-xs">
                                    <span class="badge clickable"
                                        onclick={{route-action 'toggleDetailSlideout'
                                            'slideouts/contact'
                                            'main/contacts/contact'}}>
                                        Shared
                                    </span>
                                </span>
                                <span class="display-s display-m display-l">
                                    {{#if contact.isSharedView}}
                                        Viewing only from
                                    {{else if contact.isSharedDelegate}}
                                        Collaborating with
                                    {{else}}
                                        Shared by
                                    {{/if}}
                                    <span class="text-darken">{{contact.sharedBy}}</span>
                                </span>
                            </span>
                            {{#if contact.hasTags}}
                                <span class="display-l">
                                    <span class="badge-divider"></span>
                                </span>
                            {{/if}}
                        {{/if}}
                        <span class='clickable display-l'
                            onclick={{route-action 'toggleDetailSlideout'
                                'slideouts/tags/membership'
                                'main/contacts/contact'}}>
                            {{#each contact.tags as |tag|}}
                                {{preview-badge classNames='clickable'
                                    onlyShowFull=true
                                    color=tag.hexColor
                                    content=tag.name}}
                            {{/each}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="xs-6-row-20 s-2-row-10 m-6-row-20 l-5-row-20
                full-height row">
                <div class="horizontal-items pull-right">
                    <span class='clear-badge no-space'>
                        {{#hide-away/dropdown}}
                            <li tabindex='0' class='dropdown-item'
                                {{action 'toggleDetailSlideout'
                                    'slideouts/contact'
                                    'main/contacts/contact'}}>
                                Details
                            </li>
                            {{#if (not contact.isShared)}}
                                <li tabindex='0' class='dropdown-item'
                                    {{action 'toggleDetailSlideout'
                                        'slideouts/share'
                                        'main/contacts/contact'}}>
                                    Share
                                    <span class="badge">
                                        {{contact.sharedWith.length}}
                                    </span>
                                </li>
                                <li tabindex='0' class='dropdown-item'
                                    {{action 'toggleDetailSlideout'
                                        'slideouts/tags/membership'
                                        'main/contacts/contact'}}>
                                    Tags
                                    <span class="badge">
                                        {{contact.tags.content.length}}
                                    </span>
                                </li>
                            {{/if}}
                            <li class='dropdown-divider'>Status</li>
                            {{partial 'partials/contact/status'}}
                        {{else}}
                            <button class='btn' type='button'>
                                More
                                <span class='fa fa-caret-down'></span>
                            </button>
                        {{/hide-away/dropdown}}
                    </span>
                    <span class="clear-badge display-m display-l">
                        {{#link-to (if tag 'main.tag'
                            (if stateManager.viewingSearch
                                'main.search'
                                'main.contacts'))}}
                            <span class="pad-all">
                                <span class="fa fa-times"></span>
                            </span>
                        {{/link-to}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body row {{if (not contact.allowEdits) 'readonly'}}">
        {{!-- {{partial 'partials/record/display-with-compose'}} --}}
        {{#infinite-scroll
            classNames='record-body bg-color bg-dark'
            doRegister=(action (mut _recordsList))
            containerClass='bg-color'
            direction='up'
            data=records
            dataLength=recordsAdjustedSize
            total=totalNumRecords
            doLoad=(action 'loadMore')
            doRefresh=(action 'refresh') as |cluster|}}

            {{record-cluster cluster=cluster}}
        {{else}}
            <h1>Nothing in record yet!</h1>
        {{/infinite-scroll}}
    </div>
</div>
