{{title (phone-number contact.identifier)}}

<div class="details full-height">
	<div class="section-header">
		<div class="contact-details">
			<div class="horizontal-items xs-2-row-3 s-row-2 pull-left">
                <span class="clear-badge display-xs display-s no-space">
                    {{#link-to (if tag 'main.tag' 'main.contacts')}}
                        <span class="pad-all">
                            <span class="fa fa-chevron-left"></span>
                        </span>
                    {{/link-to}}
                </span>
				<span class="clear-badge no-space">
					<h5>{{phone-number contact.identifier}}</h5>
				</span>
                <span class="clear-badge no-space">
                    <a class="btn btn-plain display-m display-l" href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                        <span class="pad-all display-m">
                            <span class="fa fa-user"></span>
                        </span>
                        <span class="fa fa-user display-l"></span>
                    </a>
                </span>
                <span class="clear-badge display-l">
                    <span class='badge'>
                        <b>{{contact.numbers.length}}</b>
                        {{pluralize 'numbers' contact.numbers.length}}
                    </span>
                </span>
			</div>
			<div class="horizontal-items xs-row-3 s-row-2 pull-right">
                {{#if (not contact.isShared)}}
                    <span class='clear-badge no-space'>
                        <span class="display-m display-l">
                            <button class='btn btn-default'
                                {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}}>
                                Share
                                <span class="badge">
                                    {{contact.sharedWith.length}}
                                </span>
                            </button>
                        </span>
                    </span>
                    <span class='clear-badge no-space'>
                        {{#hide-away/dropdown}}
                            <li tabindex='0' class='dropdown-item display-xs display-s'
                                {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                                Edit Info
                            </li>
                            <li tabindex='0' class='dropdown-item display-xs display-s'
                                {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}}>
                                Share
                                <span class="badge">
                                    {{contact.sharedWith.length}}
                                </span>
                            </li>
                            <li class='dropdown-divider'>Status</li>
                            {{partial 'partials/contact/status'}}
                        {{else}}
                            <button class='btn' type='button'>
                                Actions
                                <span class='fa fa-caret-down'></span>
                            </button>
                        {{/hide-away/dropdown}}
                    </span>
                {{else}}
                    <span class='clear-badge no-space'>
                        <button class='btn'
                            {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                            {{if contact.isSharedDelegate
                                'Edit Info'
                                'View Info'}}
                        </button>
                    </span>
                {{/if}}
                <span class="clear-badge display-m display-l">
                    {{#link-to (if tag 'main.tag' 'main.contacts')}}
                        <span class="pad-all">
                            <span class="fa fa-times"></span>
                        </span>
                    {{/link-to}}
                </span>
            </div>
		</div>
        <div class="contact-tags">
            {{#if contact.isShared}}
                <span class="badge">
                    Shared by <span class="text-darken">{{contact.sharedBy}}</span>
                </span>
                {{#if contact.isSharedView}}
                    <span class="clear-badge">Viewing only</span>
                {{else if contact.isSharedDelegate}}
                    <span class="clear-badge">Full permissions</span>
                {{/if}}
            {{else}}
                <span class='clear-badge'>
                    <a href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/contact'}}>
                        <span class="fa fa-tags"></span>
                    </a>
                </span>
                <span class="badge-divider"></span>
                {{#each contact.tags as |tag|}}
                    {{preview-badge color=tag.hexColor content=tag.name}}
                {{else}}
                    <span class="badge">Member of no tags.</span>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="section-body
        {{if (not contact.allowEdits) 'readonly'}}">
        {{#if isMakingCall}}
            <div class="overlay text-big">
                <div class="center text-center xs-9-row-10">
                    <h5 class='text-white'>Call in progress...</h5>
                    <p class='text-lighten'>Connecting to your personal phone at</p>
                    <p class="text-bold text-lighten">
                        {{phone-number authManager.authUser.personalPhoneNumber}}
                    </p>
                    <div class="margin-t text-white">
                        <button class="btn btn-plain" type='button'
                            onclick={{action (mut isMakingCall) false}}>
                            Dismiss
                        </button>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#infinite-scroll classNames='contact-record bg-color bg-dark'
            doRegister=(action (mut _recordsList))
            containerClass='bg-color'
            direction='up'
            data=records
            total=totalNumRecords
            doLoad=(action 'loadMore')
            doRefresh=(action 'refresh') as |record|}}
            <div class="record-item
                {{if record.outgoing 'outgoing' 'incoming'}}
                {{if record.hasVoicemail 'voicemail'}}">
                {{#if record.outgoing}}
                    {{#if record.isText}}
                        {{partial 'partials/record/outgoing-text'}}
                    {{else}}
                        {{partial 'partials/record/outgoing-call'}}
                    {{/if}}
                {{else}}
                    {{partial 'partials/record/incoming'}}
                {{/if}}
            </div>
        {{/infinite-scroll}}
        {{#hide-away tabindex=false
            allowedTriggerSelectors='.form-control'
            clickOutToClose=true
            bodyClickClose=false
            animation='fade'
            hideTriggerOnOpen=true
            triggerClass='contact-controls'
            bodyClass='contact-controls floating'
            bodyFocusOnOpenSelector='textarea' as |hideAway|}}
            {{textarea containerClass='send-text-field'
                class='form-control'
                maxlength='320'
                remaining='top'
                autoresize=true
                rows='1'
                value=textContents}}
            <button type='button'
                class="btn {{if isSendingTextError 'btn-danger' 'btn-default'}}"
                disabled={{or (not textContents) isSendingText}}
                onclick={{action 'sendMessage' hideAway.actions.close}}>
                {{#if isSendingText}}
                    <span class="fa fa-spin fa-circle-o-notch"></span>
                {{else if isSendingTextError}}
                    <span class="fa fa-exclamation-triangle"></span>
                {{else}}
                    <span class='fa fa-paper-plane-o'></span>
                {{/if}}
            </button>
        {{else}}
            <div class='input-group'>
                <span class="input-group-addon">
                    {{#async-button classNames='btn'
                        action=(route-action 'makeCall' contact
                            (action (mut isMakingCall) true)) as |btn|}}
                        {{#if (eq btn.textState 'pending')}}
                            <span class="fa fa-spin fa-circle-o-notch"></span>
                        {{else if (eq btn.textState 'rejected')}}
                            <span class="fa fa-exclamation-triangle"></span>
                        {{else}}
                            <span class='fa fa-phone'></span>
                        {{/if}}
                    {{/async-button}}
                </span>
                {{input class='form-control text-ellipsis'
                    readonly=true
                    value=textContents}}
                <span class="input-group-addon">
                    <button type='button'
                        class="btn {{if isSendingTextError 'btn-danger' 'btn-default'}}"
                        disabled={{or (not textContents) isSendingText}}
                        onclick={{action 'sendMessage'}}>
                        {{#if isSendingText}}
                            <span class="fa fa-spin fa-circle-o-notch"></span>
                        {{else if isSendingTextError}}
                            <span class="fa fa-exclamation-triangle"></span>
                        {{else}}
                            <span class='fa fa-paper-plane-o'></span>
                        {{/if}}
                    </button>
                </span>
            </div>
        {{/hide-away}}
    </div>
</div>
