<div class="details full-height">
	<div class="section-header">
		<div class="contact-details">
			<div class="horizontal-items xs-row-3 s-row-2 m-row-3 l-row-2 pull-left">
				<span class="clear-badge no-space">
					<h5>{{phone-number contact.identifier}}</h5>
				</span>
                <span class="clear-badge no-space">
                    <a class="btn btn-plain display-m display-l" href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                        <span class="pad-all display-m">
                            <span class="fa fa-user"></span>
                        </span>
                        <span class="fa fa-user display-l"></span>
                    </a>
                </span>
                <span class="clear-badge display-l">
                    <span class='badge'>
                        <b>{{contact.numbers.length}}</b>
                        {{pluralize 'numbers' contact.numbers.length}}
                    </span>
                </span>
			</div>
			<div class="horizontal-items xs-2-row-3 s-row-2 m-2-row-3 l-row-2 pull-right">
                {{#if (not contact.isShared)}}
                    <span class='clear-badge no-space'>
                        <span class="display-m display-l">
                            <button class='btn btn-default'
                                {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}}>
                                Share
                                <span class="badge">
                                    {{contact.sharedWith.length}}
                                </span>
                            </button>
                        </span>
                    </span>
                {{/if}}
	            <span class='clear-badge no-space'>
                    {{#hide-away/dropdown}}
                        <li tabindex='0' class='dropdown-item display-xs display-s'
                            {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                            Edit Contact
                        </li>
                        <li tabindex='0' class='dropdown-item display-xs display-s'
                            {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}}>
                            Share
                            <span class="badge">
                                {{contact.sharedWith.length}}
                            </span>
                        </li>
                        <li class='dropdown-divider'>Status</li>
                        <li tabindex='0' class='dropdown-item'>Mark as unread</li>
                        <li tabindex='0' class='dropdown-item'>Archive</li>
                        <li tabindex='0' class='dropdown-item'>Block</li>
                    {{else}}
                        <button class='btn' type='button'>
                            Actions
                            <span class='fa fa-caret-down'></span>
                        </button>
                    {{/hide-away/dropdown}}
	            </span>
	            <span class="clear-badge">
	            	{{#link-to (if tag 'main.tag' 'main.contacts')}}
						<span class="pad-all">
                            <span class="fa fa-times"></span>
                        </span>
	            	{{/link-to}}
	            </span>
			</div>
		</div>
        <div class="contact-tags">
            {{#if contact.isShared}}
                <span class="badge">
                    Shared by <span class="text-darken">{{contact.sharedBy}}</span>
                </span>
                {{#if contact.isSharedView}}
                    <span class="clear-badge">Viewing only</span>
                {{else if contact.isSharedDelegate}}
                    <span class="clear-badge">Full permissions</span>
                {{/if}}
            {{else}}
                <span class='clear-badge'>
                    <a href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/contact'}}>
                        <span class="fa fa-tags"></span>
                    </a>
                </span>
                <span class="badge-divider"></span>
                {{#each contact.tags as |tag|}}
                    {{preview-badge color=tag.hexColor content=tag.name}}
                {{else}}
                    <span class="badge">Member of no tags.</span>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="section-body {{if (not contact.allowEdits) 'readonly'}}">
        {{#infinite-scroll classNames='contact-record'
            direction='up'
            data=records
            total=totalNumRecords
            doLoad=(action 'loadMore') as |record|}}
            <div class="record-item
                {{if record.outgoing 'outgoing' 'incoming'}}
                {{if record.hasVoicemail 'voicemail'}}">

                {{#if record.outgoing}}
                    {{#hide-away tabindex=false
                        clickOutToClose=true
                        bodyClickClose=false
                        disabled=(not record.receipts)
                        bodyClass='bg-color bg-light
                            border-l border-r border-b text-center'}}
                        <div class="horizontal-items border-b pad-all-half">
                            <span class="badge">
                                <div class="indicator success"></div>
                                <span class="pad-l-half">Success</span>
                            </span>
                            <span class="badge">
                                <div class="indicator"></div>
                                <span class="pad-l-half">Pending</span>
                            </span>
                            <span class="badge">
                                <div class="indicator failed"></div>
                                <span class="pad-l-half">Failed</span>
                            </span>
                        </div>
                        <div class="pad-l-half pad-r-half pad-b-half">
                            {{#each record.receipts as |r|}}
                                <span class="badge margin-t-half
                                    {{if r.isSuccess
                                        'success'
                                        (if (or r.isFailed r.isBusy)
                                            'failed')}}">
                                    {{phone-number r.receivedBy}}
                                </span>
                            {{/each}}
                        </div>
                    {{else}}
                        <span class='decoration-left display-s display-m display-l'
                            tabindex='0'>
                            {{#if record.numSuccesses.isFulfilled}}
                                {{record.numSuccesses.content}}
                                {{pluralize 'recipient' record.numSuccesses.content}}
                            {{/if}}
                        </span>
                        <span class='decoration-right'>
                            {{moment-from-now record.whenCreated interval=1000}} by
                            <span class="text-bold">
                                {{if record.authorName record.authorName 'Unknown'}}
                            </span>
                        </span>
                        <div class="contents">
                            <div class="decoration-center-left">
                                {{#if record.numSuccesses.isFulfilled}}
                                    {{#if (gt record.numSuccesses.content 0)}}
                                        {{#tool-tipster theme='tooltipster-clean'
                                            title='At least one number succeeded'}}
                                            <span class="indicator success"></span>
                                        {{/tool-tipster}}
                                    {{else}}
                                        {{#tool-tipster theme='tooltipster-clean'
                                            title='No numbers succeeded'}}
                                            <span class="indicator failed"></span>
                                        {{/tool-tipster}}
                                    {{/if}}
                                {{/if}}
                            </div>
                            {{#if record.isCall}}
                                <span class="fa fa-phone"></span>
                                <span class='pad-l duration'>
                                    {{moment-duration record.durationInSeconds}}
                                </span>
                            {{else}}
                                <b>{{record.contents}}</b>
                            {{/if}}
                        </div>
                    {{/hide-away}}
                {{else}}
                    {{#hide-away tabindex=false
                        clickOutToClose=false
                        bodyClickClose=false
                        disabled=(not record.hasVoicemail)
                        bodyClass='pad-all-half bg-color bg-light
                            border-l border-r border-b'}}
                        {{audio-control source=record.voicemailUrl}}
                    {{else}}
                        <span class='decoration-left'>
                            {{moment-from-now record.whenCreated interval=1000}} by
                            <span class="text-bold">
                                {{if record.authorName record.authorName 'Unknown'}}
                            </span>
                        </span>
                        <div class="contents">
                            {{#if record.isCall}}
                                {{#if record.hasVoicemail}}
                                    <span class="fa fa-microphone"></span>
                                    <span class='pad-l duration'>
                                        {{moment-duration r.voicemailInSeconds}}
                                    </span>
                                    <span class='pull-right fa fa-caret-down'></span>
                                {{else}}
                                    <span class="fa fa-phone"></span>
                                    <span class='pad-l duration'>
                                        {{moment-duration r.durationInSeconds}}
                                    </span>
                                {{/if}}
                            {{else}}
                                {{#if record.hasAwayMessage}}
                                    <div class="decoration-center-right">
                                        {{#tool-tipster theme='tooltipster-clean'
                                            title='Received away message'}}
                                            <span class="fa fa-clock-o"></span>
                                        {{/tool-tipster}}
                                    </div>
                                {{/if}}
                                <b>{{record.contents}}</b>
                            {{/if}}
                        </div>
                    {{/hide-away}}
                {{/if}}
            </div>
        {{/infinite-scroll}}
        {{#hide-away tabindex=false
            allowedTriggerSelectors='.form-control'
            clickOutToClose=true
            bodyClickClose=false
            animation='fade'
            hideTriggerOnOpen=true
            triggerClass='contact-controls'
            bodyClass='contact-controls floating'
            bodyFocusOnOpenSelector='textarea'}}
            {{textarea containerClass='send-text-field'
                class='form-control'
                maxlength='320'
                remaining='top'
                autoresize=true
                rows='1'
                value=textContents}}
            <button class='btn btn-default'>
                <span class='fa fa-paper-plane-o'></span>
            </button>
        {{else}}
            <div class='input-group'>
                <span class="input-group-addon">
                    <button class='btn'>
                        <span class='fa fa-phone'></span>
                    </button>
                </span>
                {{input class='form-control text-ellipsis'
                    readonly=true
                    value=textContents}}
                <span class="input-group-addon">
                    <button class='btn btn-default'>
                        <span class='fa fa-paper-plane-o'></span>
                    </button>
                </span>
            </div>
        {{/hide-away}}
    </div>
</div>
