{{title (phone-number contact.identifier)}}

<div class="details full-height">
	<div class="section-header">
		<div class="contact-details">
			<div class="horizontal-items xs-2-row-3 s-row-2 pull-left">
                <span class="clear-badge display-xs display-s no-space">
                    {{#link-to (if tag 'main.tag' 'main.contacts')}}
                        <span class="pad-all">
                            <span class="fa fa-chevron-left"></span>
                        </span>
                    {{/link-to}}
                </span>
				<span class="clear-badge no-space">
					<h5>{{phone-number contact.identifier}}</h5>
				</span>
                <span class="clear-badge no-space">
                    <a class="btn btn-plain display-m display-l" href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                        <span class="pad-all display-m">
                            <span class="fa fa-user"></span>
                        </span>
                        <span class="fa fa-user display-l"></span>
                    </a>
                </span>
                <span class="clear-badge display-l">
                    <span class='badge'>
                        <b>{{contact.numbers.length}}</b>
                        {{pluralize 'numbers' contact.numbers.length}}
                    </span>
                </span>
			</div>
			<div class="horizontal-items xs-row-3 s-row-2 pull-right">
                {{#if (not contact.isShared)}}
                    <span class='clear-badge no-space'>
                        <span class="display-m display-l">
                            <button class='btn btn-default'
                                {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}} type='button'>
                                Share
                                <span class="badge">
                                    {{contact.sharedWith.length}}
                                </span>
                            </button>
                        </span>
                    </span>
                    <span class='clear-badge no-space'>
                        {{#hide-away/dropdown}}
                            <li tabindex='0' class='dropdown-item display-xs display-s'
                                {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                                Edit Info
                            </li>
                            <li tabindex='0' class='dropdown-item display-xs display-s'
                                {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/contact'}}>
                                Share
                                <span class="badge">
                                    {{contact.sharedWith.length}}
                                </span>
                            </li>
                            <li class='dropdown-divider'>Status</li>
                            {{partial 'partials/contact/status'}}
                        {{else}}
                            <button class='btn' type='button'>
                                Actions
                                <span class='fa fa-caret-down'></span>
                            </button>
                        {{/hide-away/dropdown}}
                    </span>
                {{else}}
                    <span class='clear-badge no-space'>
                        <button class='btn'
                            {{action 'toggleDetailSlideout' 'slideouts/contact' 'main/contacts/contact'}}>
                            {{if contact.isSharedDelegate
                                'Edit Info'
                                'View Info'}}
                        </button>
                    </span>
                {{/if}}
                <span class="clear-badge display-m display-l">
                    {{#link-to (if tag 'main.tag' 'main.contacts')}}
                        <span class="pad-all">
                            <span class="fa fa-times"></span>
                        </span>
                    {{/link-to}}
                </span>
            </div>
		</div>
        <div class="contact-tags">
            {{#if contact.isShared}}
                <span class="badge">
                    Shared by <span class="text-darken">{{contact.sharedBy}}</span>
                </span>
                {{#if contact.isSharedView}}
                    <span class="clear-badge">Viewing only</span>
                {{else if contact.isSharedDelegate}}
                    <span class="clear-badge">Full permissions</span>
                {{/if}}
            {{else}}
                <span class='clear-badge'>
                    <a href='#'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/contact'}}>
                        <span class="fa fa-tags"></span>
                    </a>
                </span>
                <span class="badge-divider"></span>
                {{#each contact.tags as |tag|}}
                    {{preview-badge color=tag.hexColor content=tag.name}}
                {{else}}
                    <span class="badge">Member of no tags.</span>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="section-body row {{if (not contact.allowEdits) 'readonly'}}">
        {{partial 'partials/record/display-with-compose'}}
    </div>
</div>
