<div class="details">
	<div class="section-header">
		<div class="horizontal-items xs-row-2 l-4-row-10 pull-left">
			<span class='clear-badge'>
                {{#hide-away/dropdown horizontal='left'}}
                    <li tabindex='0' class='dropdown-item'>All</li>
                    <li tabindex='0' class='dropdown-item'>Except shared with me</li>
                    <li tabindex='0' class='dropdown-item'>None</li>
                {{else}}
                    <button class='btn' type='button'>
                        <span class="display-xs">3 selected</span>
                        <span class="display-s display-m display-l">Select</span>
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
			</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat '3' ' ' 'contacts selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>3</span>
                    <span class="fa fa-user"></span>
                {{/tool-tipster}}
        	</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat '1' ' ' 'shared with me selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>1</span>
                    <span class="fa fa-share"></span>
                {{/tool-tipster}}
            </span>
		</div>
		<div class="horizontal-items xs-row-2 l-6-row-10 pull-right">
            <span class='clear-badge no-space display-xs display-m'>
                {{#hide-away/dropdown}}
                    <li tabindex='0' class='dropdown-item'>Compose</li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                        Tags
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                        Share
                    </li>
                    <li class='dropdown-divider'>Status</li>
                    <li tabindex='0' class='dropdown-item'>Mark as unread</li>
                    <li tabindex='0' class='dropdown-item'>Mark as active</li>
                    <li tabindex='0' class='dropdown-item'>Archive</li>
                    <li tabindex='0' class='dropdown-item'>Block</li>
                {{else}}
                    <button class='btn' type='button'>
                        Actions
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
            </span>
            <span class='clear-badge no-space display-s'>
                {{#hide-away/dropdown}}
                    <li tabindex='0' class='dropdown-item'>Mark as unread</li>
                    <li tabindex='0' class='dropdown-item'>Mark as active</li>
                    <li tabindex='0' class='dropdown-item'>Archive</li>
                    <li tabindex='0' class='dropdown-item'>Block</li>
                {{else}}
                    <button class='btn' type='button'>
                        Status
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
            </span>
            <span class="display-s clear-badge no-space">
                {{#hide-away/dropdown}}
                    <li tabindex='0' class='dropdown-item'>Compose</li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                        Tags
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                        Share
                    </li>
                {{else}}
                    <button class='btn' type='button'>
                        Actions
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
            </span>
			<span class="display-l clear-badge no-space">
                <button class="btn btn-default">
                	Compose
            	</button>
            </span>
            <span class='display-l clear-badge no-space'>
                <button class='btn' type='button'
                	{{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                    Tags
                </button>
            </span>
            <span class='display-l clear-badge no-space'>
                <button class='btn' type='button'
                    {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                    Share
                </button>
            </span>
            <span class="clear-badge">
            	{{#link-to (if tag 'main.tag' 'main.contacts')}}
					<span class="pad-all">
                        <span class="fa fa-times"></span>
                    </span>
            	{{/link-to}}
            </span>
		</div>
    </div>
    <div class="section-body display-m display-l">
		<ul class="tile-list">
			{{#each contacts as |selected|}}
				<li class='m-row-2 l-row-3'>
					<div class="tile-list-item">
						{{#if selected.isShared}}
							<span class="pull-left fa fa-share"></span>
						{{/if}}
						{{selected.name}}
						<span class="pull-right">
                            <span class="pad-all">
                                <span class="fa fa-times"></span>
                            </span>
                        </span>
					</div>
				</li>
			{{/each}}
		</ul>
    </div>
</div>
