{{title selected.length ' selected'}}

<div class="details">
	<div class="section-header">
		<div class="horizontal-items xs-row-2 l-4-row-10 pull-left">
			<span class='clear-badge'>
                {{#hide-away/dropdown horizontal='left'}}
                    <li tabindex='0' class='dropdown-item'
                        {{action 'selectAll'}}>
                        All
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'selectAllMyContacts'}}>
                        My contacts
                    </li>
                    <li tabindex='0' class='dropdown-item'
                        {{action 'leave'}}>
                        None
                    </li>
                {{else}}
                    <button class='btn' type='button'>
                        <span class="display-xs">{{selected.length}} selected</span>
                        <span class="display-s display-m display-l">Select</span>
                        <span class='fa fa-caret-down'></span>
                    </button>
                {{/hide-away/dropdown}}
			</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat selected.length
                        ' '
                        (pluralize 'contact' selected.length)
                        ' selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>{{selected.length}}</span>
                    <span class="fa fa-user"></span>
                {{/tool-tipster}}
        	</span>
            <span class='clear-badge display-s display-m display-l'>
                {{#tool-tipster theme='tooltipster-clean'
                    title=(concat sharedWithMeSelected.length ' ' 'shared with me selected')
                    classNames='btn-expand'}}
                    <span class='text-bold'>{{sharedWithMeSelected.length}}</span>
                    <span class="fa fa-share fa-flip-horizontal"></span>
                {{/tool-tipster}}
            </span>
		</div>
		<div class="horizontal-items xs-row-2 l-6-row-10 pull-right">
            {{#if noSharedWithMeSelected}}
                <span class='clear-badge no-space display-xs display-m'>
                    {{#hide-away/dropdown}}
                        <li tabindex='0' class='dropdown-item'
                            {{action 'composeWithRecipients' selected}}>
                            Compose
                        </li>
                        <li tabindex='0' class='dropdown-item'
                            {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                            Tags
                        </li>
                        <li tabindex='0' class='dropdown-item'
                            {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                            Share
                        </li>
                        <li class='dropdown-divider'>Status</li>
                        <li tabindex='0' class='dropdown-item'>Mark as unread</li>
                        <li tabindex='0' class='dropdown-item'>Mark as active</li>
                        <li tabindex='0' class='dropdown-item'>Archive</li>
                        <li tabindex='0' class='dropdown-item'>Block</li>
                    {{else}}
                        <button class='btn' type='button'>
                            Actions
                            <span class='fa fa-caret-down'></span>
                        </button>
                    {{/hide-away/dropdown}}
                </span>
                <span class='clear-badge no-space display-s'>
                    {{#hide-away/dropdown}}
                        <li tabindex='0' class='dropdown-item'>Mark as unread</li>
                        <li tabindex='0' class='dropdown-item'>Mark as active</li>
                        <li tabindex='0' class='dropdown-item'>Archive</li>
                        <li tabindex='0' class='dropdown-item'>Block</li>
                    {{else}}
                        <button class='btn' type='button'>
                            Status
                            <span class='fa fa-caret-down'></span>
                        </button>
                    {{/hide-away/dropdown}}
                </span>
                <span class="display-s clear-badge no-space">
                    {{#hide-away/dropdown}}
                        <li tabindex='0' class='dropdown-item'
                            {{action 'composeWithRecipients' selected}}>
                            Compose
                        </li>
                        <li tabindex='0' class='dropdown-item'
                            {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                            Tags
                        </li>
                        <li tabindex='0' class='dropdown-item'
                            {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                            Share
                        </li>
                    {{else}}
                        <button class='btn' type='button'>
                            Actions
                            <span class='fa fa-caret-down'></span>
                        </button>
                    {{/hide-away/dropdown}}
                </span>
                <span class="display-l clear-badge no-space">
                    <button class="btn btn-default"
                        {{action 'composeWithRecipients' selected}}>
                        Compose
                    </button>
                </span>
                <span class='display-l clear-badge no-space'>
                    <button class='btn' type='button'
                        {{action 'toggleDetailSlideout' 'slideouts/tags/membership' 'main/contacts/many'}}>
                        Tags
                    </button>
                </span>
                <span class='display-l clear-badge no-space'>
                    <button class='btn' type='button'
                        {{action 'toggleDetailSlideout' 'slideouts/share' 'main/contacts/many'}}>
                        Share
                    </button>
                </span>
            {{else if selectedCanMessage}}
                <span class="clear-badge no-space">
                    <button class="btn btn-default"
                        {{action 'composeWithRecipients' selected}}>
                        Compose
                    </button>
                </span>
            {{/if}}
            <span class="clear-badge">
                <button class="btn btn-plain" type='button'
                    {{action 'leave'}}>
                    <span class="fa fa-times"></span>
                </button>
            </span>
		</div>
    </div>
    <div class="section-body display-m display-l">
		<ul class="tile-list">
			{{#each selected as |contact|}}
				<li class='m-row-2 l-row-3'>
					<div class="tile-list-item text-center">
                        <span class="pull-left">
                            {{partial 'partials/contact/indicators'}}
                        </span>
						{{phone-number contact.identifier}}
						<span class="pull-right">
                            <button class="btn btn-plain" type='button'
                                {{action 'deselect' contact}}>
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
					</div>
				</li>
			{{/each}}
		</ul>
    </div>
</div>
