<button class="single-select-input-display {{itemClass}}" type='button'
	onmousedown={{action 'startInput'}}
	onkeyup={{action 'startInput'}}>
	{{#if (and hasBlock hasSelected)}}
		{{yield selected publicAPI}}
	{{else}}
		<span class="text-bold">
			{{if hasSelected
				(if displayProperty (get selected displayProperty) selected)
				placeholder}}
		</span>
	{{/if}}
	<span class="pull-right">
		<span class="fa fa-caret-down"></span>
	</span>
</button>

<div class="single-select-input-edit">
	<div class="input-group">
		<input type="text" class="form-control"
			onkeyup={{action 'handleInput'}}
			value={{if hasSelected (if displayProperty (get selected displayProperty) selected)}}
			placeholder={{placeholder}}>
		<span class="input-group-addon blend-in">
        	<button class='btn' type='button' disabled={{if (not canClear) 'disabled'}}
        		{{action 'removeAndClearInput'}}>
            	<span class='fa fa-times'></span>
        	</button>
        </span>
	</div>
</div>
