{{#hide-away classNames='cluster-item'
    disabled=isAddingNote
    tabindex=false
    animation='slide'
    clickOutToClose=true
    bodyClickClose=false
    hideTriggerOnOpen=true
    ignoreCloseSelectors='.slideout-pane, .c-notification__container'
    triggerClass='cluster-trigger no-select'
    bodyClass='cluster-body' as |hideAway|}}
    <div class="cluster-trigger no-select" onclick={{hideAway.actions.close}}>
        <span class="cluster-label">
            Hide deleted {{pluralize 'note' cluster.items.length}}
        </span>
    </div>
    <div class="cluster-body-container">
        {{#each cluster.items as |rNote|}}
            <div class="cluster-body-item">
                {{partial 'partials/record-note/deleted'}}
            </div>
        {{/each}}
    </div>
{{else}}
    <span class="cluster-label">
        {{cluster.items.length}} deleted {{pluralize 'note' cluster.items.length}}
    </span>
{{/hide-away}}