<div class="contact-record
    {{if isAddingNote 'adding-note'}}
    {{if contact (if (not contact.numFutureMessages) 'no-future-messages')
        (if (not tag.numFutureMessages) 'no-future-messages')}}">
    {{#infinite-scroll classNames='record-body bg-color bg-dark'
        doRegister=(action (mut _recordsList))
        containerClass='bg-color'
        direction='up'
        data=records
        dataLength=recordsAdjustedSize
        total=totalNumRecords
        doLoad=(action 'loadMore')
        doRefresh=(action 'refresh') as |record|}}

        {{record-cluster}}

        {{!-- so we can properly set the isAddingNoteAfter flag on record item --}}
        {{#if record.isDeletedCluster}}
            {{#with record.items.lastObject as |rItem|}}
                {{partial 'partials/record/add-note-control'}}
            {{/with}}
        {{else}}
            {{#with record as |rItem|}}
                {{partial 'partials/record/add-note-control'}}
            {{/with}}
        {{/if}}
    {{else}}
        <div class="no-results no-select">
            {{#if model.isDeleted}}
                <div class="horizontal-items">
                    <span class='clear-badge'>Loading</span>
                    <span class="clear-badge">
                        <span class="fa fa-circle-o-notch fa-spin"></span>
                    </span>
                </div>
            {{else}}
                <p>Nothing in the record yet.</p>
                <p>
                    Connect with
                    <span class="text-bold">
                        {{phone-number
                            (if (and tag (not contact))
                                tag.identifier
                                contact.identifier)}}
                    </span>
                    to see this record fill up.
                </p>
            {{/if}}
        </div>
    {{/infinite-scroll}}
    {{!-- {{upcoming-future-messages}} --}}
</div>
{{!-- {{record-actions-control}} --}}
