{{#hide-away tabindex=false
    clickOutToClose=false
    bodyClickClose=false
    disabled=(not (and record.hasVoicemail record.voicemailUrl))
    bodyClass='pad-all-half bg-color bg-light
        border-l border-r border-b'}}
    {{audio-control source=record.voicemailUrl}}
{{else}}
    <span class='decoration-left no-select'>
        {{moment-format record.whenCreated}} by
        <span class="text-bold">
            {{phone-number (or record.authorName 'Unknown')}}
        </span>
    </span>
    <div class="contents">
        {{#if record.isCall}}
            <span class="no-select">
                {{#if record.hasVoicemail}}
                    <span class="fa fa-microphone"></span>
                    <span class='pad-l duration'>
                        {{moment-duration record.voicemailInSeconds 'seconds'}}
                    </span>
                    <span class="pull-right">
                        {{#if record.voicemailUrl}}
                            <span class='fa fa-caret-down'></span>
                        {{else}}
                            <span class='fa fa-circle-o-notch fa-spin'></span>
                        {{/if}}
                    </span>
                {{else}}
                    <span class="fa fa-phone"></span>
                    <span class='pad-l duration'>
                        {{moment-duration record.durationInSeconds 'seconds'}}
                    </span>
                {{/if}}
            </span>
        {{else}}
            {{#if record.hasAwayMessage}}
                <div class="decoration-center-right no-select">
                    {{#tool-tipster theme='tooltipster-clean'
                        title='Received away message'}}
                        <span class="fa fa-clock-o"></span>
                    {{/tool-tipster}}
                </div>
            {{/if}}
            <b class='text-wrap yes-select-text'>{{record.contents}}</b>
        {{/if}}
    </div>
{{/hide-away}}
