<span class='decoration-right'>
    {{moment-from-now record.whenCreated interval=1000}} by
    <span class="text-bold">
        {{if record.authorName record.authorName 'Unknown'}}
    </span>
</span>
<div class="contents">
    {{#if record.numSuccesses.isFulfilled}}
        {{#if (gt record.numSuccesses.content 0)}}
             <div class="decoration-center-left">
                <span class="indicator success"></span>
            </div>
            <span class="fa fa-phone"></span>
            <span class='pad-l duration'>
                {{moment-duration record.durationInSeconds}}
            </span>
        {{else}}
            <div class="decoration-center-left">
                <span class="indicator"></span>
            </div>
            {{#if (date/is-same-day record.whenCreated (now))}}
                <span class="fa fa-circle-o-notch fa-spin"></span>
                <span class='pad-l duration'>
                    Call in progress
                </span>
            {{else}}
                <span class="fa fa-times"></span>
                <span class='pad-l duration'>
                    Call could not be completed
                </span>
            {{/if}}
        {{/if}}
    {{/if}}
</div>
