<span class='decoration-right no-select'>
    {{moment-format record.whenCreated}} by
    <span class="text-bold">
        {{if record.authorName record.authorName 'Unknown'}}
    </span>
</span>
<div class="contents no-select">
    {{#if record.numSuccesses.isFulfilled}}
        {{#if (gt record.numSuccesses.content 0)}}
             <div class="decoration-center-left">
                <span class="indicator success"></span>
            </div>
            <span class="pull-left fa fa-phone"></span>
            <div class='pad-l-double'>
                {{#if record.callContents}}
                    <p class='text-bold text-wrap yes-select-text'>{{record.callContents}}</p>
                    <span class='text-small'>{{moment-duration record.durationInSeconds 'seconds'}}</span>
                {{else}}
                    {{moment-duration record.durationInSeconds 'seconds'}}
                {{/if}}
            </div>
        {{else}}
            <div class="decoration-center-left">
                <span class="indicator"></span>
            </div>
            {{#if (date/is-same-day record.whenCreated (now))}}
                <span class="fa fa-circle-o-notch fa-spin"></span>
                <span class='pad-l'>
                    Call in progress
                </span>
            {{else}}
                <span class="fa fa-times"></span>
                <span class='pad-l'>
                    Call could not be completed
                </span>
            {{/if}}
        {{/if}}
    {{/if}}
</div>
