{{#hide-away tabindex=false
    clickOutToClose=true
    bodyClickClose=false
    disabled=(not record.receipts)
    allowedTriggerSelectors=".receipts-button"
    bodyClass='bg-color bg-light
        border-l border-r border-b text-center'}}
    <div class="horizontal-items border-b pad-all-half">
        <span class="badge">
            <div class="indicator success"></div>
            <span class="pad-l-half">Success</span>
        </span>
        <span class="badge">
            <div class="indicator"></div>
            <span class="pad-l-half">Pending</span>
        </span>
        <span class="badge">
            <div class="indicator failed"></div>
            <span class="pad-l-half">Failed</span>
        </span>
    </div>
    <div class="pad-l-half pad-r-half pad-b-half record-receipts">
        {{#each record.receipts as |r|}}
            <span class="badge margin-t-half
                {{if r.isSuccess
                    'success'
                    (if (or r.isFailed r.isBusy)
                        'failed')}}">
                {{phone-number r.receivedBy}}
            </span>
        {{/each}}
    </div>
{{else}}
    <span class='decoration-right'>
        {{moment-from-now record.whenCreated interval=1000}} by
        <span class="text-bold">
            {{if record.authorName record.authorName 'Unknown'}}
        </span>
    </span>
    <div class="contents">
        <div class="decoration-center-left">
            {{#if record.numSuccesses.isFulfilled}}
                {{#if (gt record.numSuccesses.content 0)}}
                    {{#tool-tipster theme='tooltipster-clean'
                        title='At least one number succeeded'}}
                        <span class="indicator success"></span>
                    {{/tool-tipster}}
                {{else if (eq record.numSuccesses.content 0)}}
                    {{#tool-tipster theme='tooltipster-clean'
                        title='No recipient data'}}
                        <span class="indicator"></span>
                    {{/tool-tipster}}
                {{else}}
                    {{#tool-tipster theme='tooltipster-clean'
                        title='No numbers succeeded'}}
                        <span class="indicator failed"></span>
                    {{/tool-tipster}}
                {{/if}}
            {{/if}}
        </div>
        <div class="{{if record.receipts 'margin-r-triple'}}">
            <b class='text-wrap'>{{record.contents}}</b>
        </div>
        {{#if record.receipts}}
            <div class="pull-right-to-edge receipts-button full-height"
                tabindex="0">
                {{#tool-tipster theme='tooltipster-clean'
                    title='Recipients'
                    classNames='btn btn-plain btn-expand
                        text-center clickable text-small'}}
                    <span class="center bg-color bg-brand-dark halo">
                        {{#if (and record.numSuccesses.isFulfilled
                            (gt record.numSuccesses.content 0))}}
                            {{record.numSuccesses.content}}
                        {{else}}
                            <span class="fa fa-hashtag"></span>
                        {{/if}}
                    </span>
                {{/tool-tipster}}
            </div>
        {{/if}}
    </div>
{{/hide-away}}
