{{#slideout-pane title='Your Account'
    doClose=(route-action 'closeAllSlideouts')
    ignoreCloseSelectors='.header-slideout'
    includeDefaultHeader=true
    defaultHeaderClass='display-xs display-s display-m'
    focusSelector='.hide-away-trigger, .slideout-header'}}
    {{#tab-container animation='fade' as |tabContainer doRegister|}}
        {{#with stateManager.ownerAsOrg as |org|}}
            {{#tab-container/item doRegister=doRegister
                title=org.name}}
                <div class="pad-t pad-b">
                    {{partial 'partials/org/settings'}}
                </div>
            {{/tab-container/item}}
        {{/with}}
        {{#with stateManager.ownerAsTeam as |team|}}
            {{#tab-container/item doRegister=doRegister
                title=team.name}}
                <div class="pad-t pad-b">
                    {{partial 'partials/team/settings'}}
                </div>
            {{/tab-container/item}}
        {{/with}}
        {{#tab-container/item doRegister=doRegister
            title="My Account"}}
            <div class="pad-all">
                {{partial 'partials/staff/settings'}}
                <div class="pad-t text-center">
                    <button class="btn" type='button'>
                        Cancel
                    </button>
                    <button class="btn btn-default" type='button'>
                        Update
                    </button>
                </div>
                <hr>
                {{partial 'partials/staff/username-with-confirm'}}
                {{partial 'partials/staff/password-with-confirm'}}
            </div>
        {{/tab-container/item}}
    {{/tab-container}}
{{else}}
    {{#hide-away classNames='header-slideout display-l'
        triggerClass='header-toggle'
        bodyClickClose=true}}
        {{partial 'partials/account/switcher'}}
    {{else}}
        <div class="toggle-control">
            {{partial 'partials/account/display'}}
        </div>
    {{/hide-away}}
{{/slideout-pane}}
