{{#slideout-pane title='Your Account'
    closeActionName='closeSlideout'
    ignoreCloseSelectors='.header-slideout'
    includeDefaultHeader=true
    defaultHeaderClass='display-xs display-s display-m'}}
    {{#tab-container animation='fade' as |tabContainer doRegister|}}
        {{#if org}}
            {{#tab-container/item doRegister=doRegister
                title=org.name}}
                <div class="pad-t pad-b">
                    {{partial 'partials/org-settings'}}
                </div>
            {{/tab-container/item}}
        {{else if (eq model.constructor.modelName 'team')}}
            {{#with model as |team|}}
                {{#tab-container/item doRegister=doRegister
                    title=team.name}}
                    <div class="pad-t pad-b">
                        {{partial 'partials/team-settings'}}
                    </div>
                {{/tab-container/item}}
            {{/with}}
        {{/if}}
        {{#tab-container/item doRegister=doRegister
            title="My Account"}}
            <div class="pad-all">
                {{partial 'partials/staff-settings'}}
            </div>
        {{/tab-container/item}}
    {{/tab-container}}
{{else}}
    {{#hide-away classNames='header-slideout display-l'
        triggerClass='header-toggle'
        bodyClickClose=true}}
        {{partial 'partials/account-switcher'}}
    {{else}}
        <div class="toggle-control">
            {{partial 'partials/account-display'}}
        </div>
    {{/hide-away}}
{{/slideout-pane}}
