{{#slideout-pane title='Your Account'
    doClose=(route-action 'revert' stateManager.owner
        (route-action 'revert' authManager.authUser)
        (route-action 'closeAllSlideouts'))
    ignoreCloseSelectors='.header-slideout, .c-notification__container'
    includeDefaultHeader=true
    defaultHeaderClass='display-xs display-s display-m'
    forceKeepOpen=(or stateManager.owner.isSaving authManager.authUser.isSaving)
    focusSelector='.hide-away-trigger, .slideout-header'}}
    {{#tab-container onChange=(route-action 'revert' stateManger.owner
        (route-action 'revert' authManager.authUser))
        animation='fade' as |tabContainer doRegister|}}
        {{#with stateManager.ownerAsOrg as |org|}}
            {{#tab-container/item doRegister=doRegister
                title=org.name}}
                <div class="pad-t pad-b">
                    <div class="form-element pad-l pad-r">
                        <label for="Your Name">Organization Name</label>
                        {{input value=org.name type="text" placeholder="Organization Name" class="form-control"}}
                    </div>
                    <div class="form-element pad-l pad-r row">
                        <div class="xs-2-row-3 control-text">
                            <label for="Lock Timeout" class='text-ellipsis'>
                                Lock Timeout
                            </label>
                        </div>
                        {{#multi-toggle classNames='xs-row-3'
                            selectIndex=(if org.isTimeout15 0
                                (if org.isTimeout30 1
                                    (if org.isTimeout60 2 3)))
                            wrapAround=true as |toggle doRegister|}}
                            {{#multi-toggle/item doRegister=doRegister
                                color='#76c9ec'
                                onSelect=(action (mut org.timeoutInSeconds) 15)}}
                                15 seconds
                            {{/multi-toggle/item}}
                            {{#multi-toggle/item doRegister=doRegister
                                color='#6ab4d4'
                                onSelect=(action (mut org.timeoutInSeconds) 30)}}
                                30 seconds
                            {{/multi-toggle/item}}
                            {{#multi-toggle/item doRegister=doRegister
                                color='#1BA5E0'
                                onSelect=(action (mut org.timeoutInSeconds) 60)}}
                                1 minute
                            {{/multi-toggle/item}}
                            {{#if (not (unbound org.isTimeoutStandard))}}
                                {{#multi-toggle/item doRegister=doRegister
                                    color='#d3d3d3'
                                    onSelect=(route-action 'revertAttribute' org 'timeout')}}
                                    {{org.timeoutInSeconds}} seconds
                                {{/multi-toggle/item}}
                            {{/if}}
                        {{/multi-toggle}}
                    </div>
                    {{#if org.isDirty}}
                        <div class="form-element text-center">
                            <button class="btn" type='button'
                                onclick={{route-action 'revert' org}}>
                                Cancel
                            </button>
                            {{async-button classNames='btn btn-default'
                                disableWhen=(not (v-get org 'isValid'))
                                action=(route-action 'persist' org)
                                default='Update'
                                pending='Updating...'}}
                        </div>
                    {{/if}}
                    {{#with org as |owner|}}
                        {{partial 'partials/location'}}
                    {{/with}}
                </div>
            {{/tab-container/item}}
        {{/with}}
        {{#with stateManager.ownerAsTeam as |team|}}
            {{#tab-container/item doRegister=doRegister
                title=team.name}}
                <div class="pad-t pad-b">
                    {{partial 'partials/team/settings'}}
                    {{#if team.isDirty}}
                        <div class="form-element text-center">
                            <button class="btn" type='button'
                                onclick={{route-action 'revert' team}}>
                                Cancel
                            </button>
                            {{async-button classNames='btn btn-default'
                                disableWhen=(not (v-get team 'isValid'))
                                action=(route-action 'persist' team)
                                default='Update'
                                pending='Updating...'}}
                        </div>
                    {{/if}}
                    {{#with team as |owner|}}
                        {{partial 'partials/location'}}
                    {{/with}}
                </div>
            {{/tab-container/item}}
        {{/with}}
        {{#tab-container/item doRegister=doRegister
            title="My Account"}}
            <div class="pad-t pad-b">
                {{#with authManager.authUser as |staff|}}
                    <div class="pad-l pad-r">
                        {{partial 'partials/staff/settings'}}
                    </div>
                    {{partial 'partials/staff/personal-number'}}
                    {{#if staff.isDirty}}
                        {{!-- separate if loops to prevent multiple-set deprecation --}}
                        {{#if (and (not usernameDropdown.isOpen)
                            (not passwordDropdown.isOpen)
                            (not codeDropdown.isOpen))}}
                            <div class="form-element text-center">
                                <button class="btn" type='button'
                                    onclick={{route-action 'revert' staff}}>
                                    Cancel
                                </button>
                                {{async-button classNames='btn btn-default'
                                    disableWhen=(not (v-get staff 'isValid'))
                                    action=(route-action 'persist' staff)
                                    default='Update'
                                    pending='Updating...'}}
                            </div>
                        {{/if}}
                    {{/if}}
                    <hr>
                    <div class="pad-l pad-r">
                        {{partial 'partials/staff/code-with-confirm'}}
                        {{partial 'partials/staff/username-with-confirm'}}
                        {{partial 'partials/staff/password-with-confirm'}}
                    </div>
                {{/with}}
            </div>
        {{/tab-container/item}}
    {{/tab-container}}
{{else}}
    {{#hide-away classNames='header-slideout display-l'
        triggerClass='header-toggle'
        bodyClickClose=true}}
        {{partial 'partials/account/switcher'}}
    {{else}}
        <div class="toggle-control">
            {{partial 'partials/account/display'}}
        </div>
    {{/hide-away}}
{{/slideout-pane}}
