{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(concat stateService.owner.name " Notifications"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=(or model.isDirty authService.authUser.isDirty)
        onPrimary=(route-action "finishAvailabilitySlideout")
        disablePrimary=(or
            (not (v-get model "isValid"))
            (not (v-get authService.authUser "isValid")))
        primaryLabel="Update"
        primaryProgressLabel="Updating...")
    onClose=(route-action "cancelAvailabilitySlideout")
    forceKeepOpen=(or model.isSaving authService.authUser.isSaving
        model.isDirty authService.authUser.isDirty) as |slideout|}}
    <div class="form">
        <div class="form__group">
            <label for="Away Message" class="form__label form__label--emphasize">{{stateService.owner.name}}'s Away Message</label>
            <span class="form__label form__label--multiline">
                TextUp will reply with this message to texts <b>received by {{stateService.owner.name}}</b> when {{if stateService.ownerIsTeam "no one is" "you are not"}} available. TextUp automatically adds an emergency disclaimer to your custom message.
            </span>
            {{#hide-show focusOnOpenSelector="textarea"
                clickOutToClose=true
                focusOutToClose=true
                ignoreCloseSelector="" as |hideShow|}}
                {{#if hideShow.isOpen}}
                    {{textarea rows="3"
                        autoresize=true
                        maxLengthContainerClass="margin-b"
                        class="form-control"
                        maxLength=model.phone.content.awayMessageMaxLength
                        maxLengthPosition=(constant "MAX_LENGTH.POSITION.BOTTOM")
                        value=model.phone.content.awayMessage
                        validateObj=model.phone.content
                        validateField="awayMessage"
                        validate="bottom"}}
                {{/if}}
                <div class="form-control-minimal pad-all"
                    tabindex={{if hideShow.isOpen "" "0"}}
                    onfocus={{hideShow.actions.open}}
                    onclick={{hideShow.actions.toggle}}>
                    {{model.phone.content.awayMessage}}
                    <b>{{model.org.content.awayMessageSuffix}}</b>
                </div>
            {{/hide-show}}
        </div>
        <div class="form__group">
            <label for="Voicemail" class="form__label form__label--emphasize">{{stateService.owner.name}}'s Voicemail</label>
            <div class="row margin-t">
                <div class="xs-2-row-20 s-row-20 control-text control-text--no-ellipsis">
                    <input id="use-voicemail-recording-false"
                        type="radio"
                        checked={{if (not model.phone.content.useVoicemailRecordingIfPresent) "checked"}}
                        onclick={{action (mut model.phone.content.useVoicemailRecordingIfPresent) false}}>
                </div>
                <label for="use-voicemail-recording-false"
                    class="xs-18-row-20 s-9-row-20 control-text pad-l-half pad-r-half clickable">
                    <span class="text-normal">Read away message</span>
                </label>
                {{#multi-toggle classNames="xs-full-row s-row-2"
                    selectIndex=(if (eq model.phone.content.voice (constant "VOICE_TYPE.MALE")) 0 1) as |toggle doRegister|}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.LIGHT_BLUE")
                        onSelect=(action (mut model.phone.content.voice) (constant "VOICE_TYPE.MALE"))}}
                        Male voice
                    {{/multi-toggle/item}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.BRAND")
                        onSelect=(action (mut model.phone.content.voice) (constant "VOICE_TYPE.FEMALE"))}}
                        Female voice
                    {{/multi-toggle/item}}
                {{/multi-toggle}}
            </div>
            <div class="row margin-t margin-b-half margin-r-half">
                <div class="xs-2-row-20 s-row-20 control-text control-text--no-ellipsis">
                    <input id="use-voicemail-recording-true"
                        type="radio"
                        checked={{if model.phone.content.useVoicemailRecordingIfPresent "checked"}}
                        onclick={{action (mut model.phone.content.useVoicemailRecordingIfPresent) true}}>
                </div>
                <label for="use-voicemail-recording-true"
                    class="xs-18-row-20 s-19-row-20 control-text pad-l-half clickable">
                    <span class="text-normal">Use voicemail recording</span>
                </label>
            </div>
            <div class="offset-s-row-20">
                {{#audio-control showAddIfNone=true
                    audio=model.phone.content.media.content.displayedAudio
                    listProps=(hash maxNumToDisplay=1 sortPropName="whenCreated" sortLowToHigh=false)
                    onAdd=(route-action "onFinishRecordingGreeting")
                    startAddMessage="Redo recording"
                    cancelAddMessage="Cancel redo" as |hideShow|}}
                    {{#if hideShow.isOpen}}
                        <div class="flex__item">
                            {{async-button classNames="button"
                                disabledWhen=(or
                                    (not (v-get model "isValid"))
                                    (not authService.authUser.personalNumber))
                                action=(route-action "onRequestVoicemailGreetingCall" authService.authUser.personalNumber)
                                default="Call me to record"
                                pending="Calling your personal phone..."}}
                        </div>
                    {{/if}}
                {{/audio-control}}
            </div>
        </div>
        {{#with (owner-policy/self model.phone.content authService.authUser) as |selfPolicy|}}
            <hr>
            <div class="form__group">
                <label for="notification-type" class="control-text form__label xs-full-row s-row-2">
                    Send notifications via
                </label>
                {{#multi-toggle classNames="xs-full-row s-row-2"
                    selectIndex=(if (eq selfPolicy.method (constant "NOTIFICATION.METHOD.EMAIL")) 0 1) as |toggle doRegister|}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.LIGHT_BLUE")
                        onSelect=(action (mut selfPolicy.method) (constant "NOTIFICATION.METHOD.EMAIL"))}}
                        email
                    {{/multi-toggle/item}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.BRAND")
                        onSelect=(action (mut selfPolicy.method) (constant "NOTIFICATION.METHOD.TEXT"))}}
                        text message
                    {{/multi-toggle/item}}
                {{/multi-toggle}}
            </div>
            <div class="form__group">
                <label for="notification-type" class="control-text form__label xs-full-row s-row-2">
                    Notify
                    {{#if (not (eq selfPolicy.frequency (constant "NOTIFICATION.FREQUENCY.IMMEDIATELY")))}}
                        at most every
                    {{/if}}
                </label>
                {{#multi-toggle classNames="xs-full-row s-row-2"
                    selectIndex=(if
                        (eq selfPolicy.frequency (constant "NOTIFICATION.FREQUENCY.IMMEDIATELY")) 0
                        (if (eq selfPolicy.frequency (constant "NOTIFICATION.FREQUENCY.QUARTER_HOUR")) 1
                            (if (eq selfPolicy.frequency (constant "NOTIFICATION.FREQUENCY.HALF_HOUR")) 2
                                (if (eq selfPolicy.frequency (constant "NOTIFICATION.FREQUENCY.HOUR")) 3)))) as |toggle doRegister|}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.BRAND")
                        onSelect=(action (mut selfPolicy.frequency) (constant "NOTIFICATION.FREQUENCY.IMMEDIATELY"))}}
                        immediately
                    {{/multi-toggle/item}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.LIGHT_BLUE")
                        onSelect=(action (mut selfPolicy.frequency) (constant "NOTIFICATION.FREQUENCY.QUARTER_HOUR"))}}
                        15 minutes
                    {{/multi-toggle/item}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.MEDIUM_BLUE")
                        onSelect=(action (mut selfPolicy.frequency) (constant "NOTIFICATION.FREQUENCY.HALF_HOUR"))}}
                        30 minutes
                    {{/multi-toggle/item}}
                    {{#multi-toggle/item doRegister=doRegister
                        color=(constant "COLOR.LIGHT_GRAY")
                        onSelect=(action (mut selfPolicy.frequency) (constant "NOTIFICATION.FREQUENCY.HOUR"))}}
                        1 hour
                    {{/multi-toggle/item}}
                {{/multi-toggle}}
            </div>
        {{/with}}

        <hr>

        {{#if (not authService.authUser.hasPersonalNumber)}}
            <div class="bg-color pad-all margin-b border-radius-all">
                You have connected a personal phone number to your account. Even if you are available, <span class="text-bold">you will not be notified</span> and <span class="text-bold">an away message will be sent</span> as if you were not available. <span class="link" {{action slideout.actions.close (route-action "toggleSlideout" "slideouts/account" "main")}}>Please add a personal phone number to your account.</span>
            </div>
        {{/if}}
        {{availability-control
            self=(owner-policy/self model.phone.content authService.authUser)
            others=(owner-policy/others model.phone.content authService.authUser)
            onAvailabilityTypeChange=(action (mut (get (owner-policy/self model.phone.content authService.authUser) "schedule.manual")))
            onManualAvailabilityChange=(action (mut (get (owner-policy/self model.phone.content authService.authUser) "schedule.manualIsAvailable")))
            onScheduleAvailabilityChange=(service-action "scheduleService" "replaceRange" (get (owner-policy/self model.phone.content authService.authUser) "schedule"))}}
    </div>
{{/slideout-pane}}
