{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title="Call")
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        onPrimary=(route-action "finishCallSlideout")
        disablePrimary=(or isCallingForNumber (not callByNumber) (not callByNumberIsValid))
        primaryLabel=(if isCallingForNumber "Calling..." "Call")
        primaryProgressLabel="Calling...")
    onClose=(route-action "cancelCallSlideout")
    forceKeepOpen=isCallingForNumber
    focusSelector=".number-control" as |slideout|}}
    <div class="pad-t pad-l pad-r">
        <div class="form-element">
            {{#hide-show clickOutToClose=true
                ignoreCloseSelector=""
                focusOutToClose=true
                focusOnOpenSelector="input" as |hideShow|}}
                {{#if hideShow.isOpen}}
                    {{input type="tel"
                        class="form-control form-control--only-bottom text-biggest text-center"
                        pattern="[0-9]*"
                        placeholder="Enter number here"
                        value=callByNumber
                        key-up=(route-action "onCallNumberChange")
                        focus-out=(route-action "onCallNumberChange")}}
                {{else}}
                    <div tabindex="0"
                        onfocus={{hideShow.actions.open}}
                        onclick={{hideShow.actions.open}}>
                        <input type="tel"
                            disabled="disabled"
                            class="form-control form-control--only-bottom text-biggest text-center"
                            value={{phone-number callByNumber}}>
                    </div>
                {{/if}}
            {{/hide-show}}
            <div class="row margin-t margin-b text-center text-small">
                {{#if callByNumberContact}}
                    <span class="center text-ellipses xs-full-row">
                        <span class="text-bold">{{callByNumberContact.name}}</span>
                        {{#if callByNumberMoreNum}}
                            and {{callByNumberMoreNum}} {{pluralize "other" callByNumberMoreNum}}
                        {{/if}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="form-element margin-b-double">
            {{number-control val=callByNumber
                showAlphabet=true
                numDigits=10
                doChange=(route-action "onCallNumberChange")
                onSubmit=(route-action "finishCallSlideout")}}
        </div>
    </div>
{{/slideout-pane}}
