{{#slideout-pane title=(if contact (phone-number contact.identifier) 'New Contact')
    direction=(if contact 'right' 'left')
    onOpen=(if (not contact) (route-action 'initializeNewContact'))
    doClose=(route-action 'revert'
        (if contact contact newContact)
        (route-action 'closeAllSlideouts'
            (route-action 'cleanNewContact')))
    ignoreCloseSelectors='.header-slideout, .c-notification__container'
    forceKeepOpen=(if contact contact.isSaving newContact.isSaving)
    focusSelector='.start-focus' as |slideout|}}

    <form class="pad-t pad-l pad-r">
        {{#if contact.isShared}}
            <div class="bg-color margin-b border-radius-all
                pad-t pad-l pad-r pad-b-half">
                <p class='margin-b-half'>
                    <span class="text-bold">
                        {{phone-number contact.sharedBy}}
                    </span>
                    {{#if contact.isSharedDelegate}}
                        has been collaborating with you on
                    {{else if contact.isSharedView}}
                        has allowed you to view
                    {{else}}
                        has shared
                    {{/if}}
                    <span class="text-bold">
                        {{phone-number contact.identifier}}
                    </span>
                    since
                    {{moment-from-now contact.startedSharing interval=10000}}
                </p>
            </div>
        {{/if}}
        <div class="form-element">
            <label for="Name">Name</label>
            {{#if contact}}
                {{input value=contact.name
                    validateObj=contact
                    validateField='name'
                    validate='bottom'
                    disabled=(if (not contact.allowEdits) 'disabled')
                    type="text" placeholder="Name" class="form-control"
                    autocorrect="off"}}
            {{else}}
                {{input value=newContact.name
                    validateObj=newContact
                    validateField='name'
                    validate='bottom'
                    type="text" placeholder="Name" class="start-focus form-control"
                    autocorrect="off"}}
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Note">Note</label>
            {{#if contact}}
                {{textarea rows="3"
                    disabled=(if (not contact.allowEdits) 'disabled')
                    autoresize=true
                    remaining='bottom'
                    class="form-control"
                    maxlength="1000"
                    validateObj=contact
                    validateField='note'
                    validate='bottom'
                    value=contact.note}}
            {{else}}
                {{textarea rows="3"
                    autoresize=true
                    remaining='bottom'
                    class="form-control"
                    maxlength="1000"
                    validateObj=newContact
                    validateField='note'
                    validate='bottom'
                    value=newContact.note}}
            {{/if}}
        </div>
        <div class="form-element row">
            <div class="xs-2-row-3 control-text">
                <label for="Language">
                    Language
                </label>
            </div>
            {{#if contact}}
                <select name="contact-language" class="xs-row-3 form-control"
                    onchange={{action (mut contact.language) value="target.value"}}
                    disabled={{if (not contact.allowEdits) "disabled"}}>
                    {{#each constants.LANGUAGES as |_lang|}}
                        <option value={{_lang}}
                            selected={{if (eq _lang contact.language) "selected"}}>
                            {{capitalize (lowercase _lang) 1}}
                        </option>
                    {{/each}}
                </select>
            {{else}}
                <select name="new-contact-language" class="xs-row-3 form-control"
                    onchange={{action (mut newContact.language) value="target.value"}}>
                    {{#each constants.LANGUAGES as |_lang|}}
                        <option value={{_lang}}
                            selected={{if (eq _lang newContact.language) "selected"}}>
                            {{capitalize (lowercase _lang) 1}}
                        </option>
                    {{/each}}
                </select>
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Numbers">Numbers</label>
            {{#with (if contact contact.numberDuplicates
                newContact.numberDuplicates) as |dupsList|}}
                <div class="bg-color margin-b border-radius-all
                    pad-t pad-l pad-r pad-b-half">
                    {{#each dupsList as |dupObj|}}
                        <p class='margin-b-half'>
                            <span class="text-bold">
                                {{phone-number dupObj.number}}
                            </span>
                            also belongs to
                            {{#each dupObj.duplicates as |dup|}}
                                <span class='link'
                                    onclick={{route-action
                                        'closeSlideoutAndOpenDuplicate'
                                        slideout.actions.close dup.id}}>
                                    {{!-- tildes present to trim whitespace --}}
                                    {{~phone-number dup.identifier ~}}
                                </span>
                                {{~if (eq dup.identifier
                                    dupObj.duplicates.lastObject.identifier)
                                    "." ", "}}
                            {{/each}}
                        </p>
                    {{/each}}
                </div>
            {{/with}}
            {{#if contact}}
                {{sortable-group/numbers numbers=contact.numbers
                    readonly=(not contact.allowEdits)
                    onAdd=(route-action 'checkContactNumberDuplicates' contact)
                    onRemove=(route-action 'removeFromContactNumberDuplicates' contact)
                    validateObj=contact
                    validateField='numbers'
                    validate='bottom'}}
            {{else}}
                {{sortable-group/numbers numbers=newContact.numbers
                    onAdd=(route-action 'checkContactNumberDuplicates' newContact)
                    onRemove=(route-action 'removeFromContactNumberDuplicates' newContact)
                    validateObj=newContact
                    validateField='numbers'
                    validate='bottom'}}
            {{/if}}
        </div>
    </form>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            {{#if contact}}
                {{#if contact.allowEdits}}
                    {{async-button classNames='btn btn-default'
                        disableWhen=(not (v-get contact 'isValid'))
                        action=(route-action 'persist' contact
                            slideout.actions.close)
                        default='Update'
                        pending='Updating...'}}
                {{/if}}
            {{else}}
                {{async-button classNames='btn btn-default'
                    disableWhen=(not (v-get newContact 'isValid'))
                    action=(route-action 'createContact' newContact
                        slideout.actions.close)
                    default='Create'
                    pending='Creating...'}}
            {{/if}}
        </div>
    </div>
{{/slideout-pane}}
