{{#slideout-pane title=(if contact (phone-number contact.identifier) 'New Contact')
    direction=(if contact 'right' 'left')
    onOpen=(if (not contact) (route-action 'initializeNewContact'))
    doClose=(route-action 'revert'
        (if contact contact newContact)
        (route-action 'closeAllSlideouts'
            (route-action 'cleanNewContact')))
    ignoreCloseSelectors='.header-slideout'
    focusSelector='.start-focus' as |slideout|}}
    <form class="pad-t pad-l pad-r">
        <div class="form-element">
            <label for="Name">Name</label>
            {{#if contact}}
                {{input value=contact.name
                    validateObj=contact
                    validateField='name'
                    validate='bottom'
                    readonly=(if (not contact.allowEdits) 'readonly')
                    type="text" placeholder="Name" class="start-focus form-control"
                    autocorrect="off" autocapitalize="off"}}
            {{else}}
                {{input value=newContact.name
                    validateObj=newContact
                    validateField='name'
                    validate='bottom'
                    type="text" placeholder="Name" class="start-focus form-control"
                    autocorrect="off" autocapitalize="off"}}
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Note">Note</label>
            {{#if contact}}
                {{textarea rows="3"
                    readonly=(if (not contact.allowEdits) 'readonly')
                    autoresize=true
                    remaining='bottom'
                    class="form-control"
                    maxlength="1000"
                    validateObj=contact
                    validateField='note'
                    validate='bottom'
                    value=contact.note}}
            {{else}}
                {{textarea rows="3"
                    autoresize=true
                    remaining='bottom'
                    class="form-control"
                    maxlength="1000"
                    validateObj=newContact
                    validateField='note'
                    validate='bottom'
                    value=newContact.note}}
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Note">Numbers</label>
            {{#if contact}}
                {{sortable-group/numbers numbers=contact.numbers
                    readonly=(not contact.allowEdits)
                    validateObj=contact
                    validateField='numbers'
                    validate='bottom'}}
            {{else}}
                {{sortable-group/numbers numbers=newContact.numbers
                    validateObj=newContact
                    validateField='numbers'
                    validate='bottom'}}
            {{/if}}
        </div>
    </form>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            {{#if contact}}
                {{#if contact.allowEdits}}
                    <button class="btn btn-default" type='button'
                        disabled={{not (v-get contact 'isValid')}}
                        {{action 'persist' contact (route-action 'closeAllSlideouts')}}>
                        Update
                    </button>
                {{/if}}
            {{else}}
                <button class="btn btn-default" type='button'
                    disabled={{not (v-get newContact 'isValid')}}
                    {{action 'createContact' newContact
                        (route-action 'closeAllSlideouts')}}>
                    Create
                </button>
            {{/if}}
        </div>
    </div>
{{/slideout-pane}}
