{{#slideout-pane title=(if contact (phone-number contact.identifier) 'New Contact')
    direction=(if contact 'right' 'left')
    closeActionName=(if contact 'revertAndClose' 'closeSlideout')
    closeActionParameters=contact
    ignoreCloseSelectors='.header-slideout'
    focusSelector='.start-focus' as |slideout|}}
    <form class="pad-t pad-l pad-r">
        <div class="form-element">
            <label for="Name">Name</label>
            {{#if contact}}
                {{input value=contact.name
                    type="text" placeholder="Name" class="start-focus form-control"
                    autocorrect="off" autocapitalize="off"}}
            {{else}}
                {{input value=newContact.name
                    type="text" placeholder="Name" class="start-focus form-control"
                    autocorrect="off" autocapitalize="off"}}
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Note">Note</label>
            {{#if contact}}
                {{textarea rows="3" class="form-control" maxlength="1000"
                    value=contact.note}}
            {{else}}
                {{textarea rows="3" class="form-control" maxlength="1000"
                    value=newContact.note}}
            {{/if}}
        </div>
        <div class="form-element">
            <label for="Note">Numbers</label>
            {{#if contact}}
                {{sortable-group/numbers numbers=contact.numbers}}
            {{else}}
                {{sortable-group/numbers numbers=newContact.numbers}}
            {{/if}}
        </div>
    </form>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            {{#if contact}}
                <button class="btn btn-default" type='button'
                    {{action 'closeIfSuccess' contact}}>
                    Update
                </button>
            {{else}}
                <button class="btn btn-default" type='button'
                    {{action 'createContact' newContact}}>
                    Create
                </button>
            {{/if}}
        </div>
    </div>
{{/slideout-pane}}
