{{#slideout-pane
	headerProps=(hash title='Feedback')
	onOpen=(route-action 'cleanFeedback')
    doClose=(route-action 'closeAllSlideouts')
    focusSelector='.start-focus' as |slideout|}}
	<iframe name="hidden-iframe" id="hidden-iframe" class='hidden'></iframe>
	<form action="https://docs.google.com/a/textup.org/forms/d/e/1FAIpQLSduC2lU79S3AZn_eGIfHmythLVSTaq_hl5lMJBNYQ8Gjsyfxw/formResponse"
		target="hidden-iframe" method="POST"
		onsubmit={{slideout.actions.close}}>
		<div class="pad-t pad-l pad-r">
			<div class="form-element">
				We want to make TextUp the best it can be for you. Please describe in as much detail as possible about what you were trying to do.
			</div>
			<div class="form-element">
				{{textarea rows="5"
					autoresize=true
					class="form-control start-focus"
					value=feedbackMessage
					placeholder="Type your feedback here"
					aria-label="Type your feedback here"
					name="entry.2102104798"}}
			</div>
		</div>
		<div class="textup-container textup-container--justify-center margin-t margin-b">
	        <div class="textup-container__item">
	            <button class="btn" type='button'
	                onclick={{slideout.actions.close}}>
	                Cancel
	            </button>
	        </div>
	        <div class="textup-container__item">
	            <button type='submit' class="btn btn-default"
	            	disabled={{if (not feedbackMessage) 'true' ''}}>
					Submit
				</button>
	    	</div>
	    </div>
	    <input type="text" class="hidden" name="entry.1271619718" value={{authManager.authUser.name}}>
	    <input type="text" class="hidden" name="entry.826110677" value={{authManager.authUser.username}}>
	    <input type="text" class="hidden" name="entry.1793501464" value={{authManager.authUser.email}}>

	    <input type="hidden" name="fvv" value="1">
		<input type="hidden" name="pageHistory" value="0">
		<input type="hidden" name="fbzx" value="487974052139568420">
	</form>
{{/slideout-pane}}
