{{title "Tag Details"}}

<div class="details full-height">
	<div class="section-header">
		{{record-owner-header/tag classNames="row full-height"
			tag=model
			backRouteName=backRouteName
            onEdit=(route-action "startExistingTagSlideout")
        	onExport=(route-action "startSingleExportSlideout" model)}}
	</div>
	{{#if model.isDeleted}}
		<div class="section-body row">
			<div class="center">
				{{#if model.hasDirtyAttributes}}
					<p>{{model.name}} is about to be deleted.</p>
				{{else}}
					<p>{{model.name}} has been deleted.</p>
				{{/if}}
			</div>
		</div>
	{{else}}
		{{care-record classNames="section-body row"
	        canAddToRecord=(not model.isEmpty)
	        noAddToRecordMessage="Add some contacts to this tag to start messaging."
	        canModifyExistingInRecord=true
	        nextFutureFire=model.nextFutureFire
	        recordClusters=model.recordClusters
	        numRecordItems=model.numRecordItems
	        totalNumRecordItems=model.totalNumRecordItems

	        contents=careRecordText.contents
	        onContentChange=(action (mut careRecordText.contents))

	        images=careRecordText.media.content.displayedImages
	        audio=careRecordText.media.content.displayedAudio
	        onAddImage=(route-action "onAddImage" careRecordText)
	        onAddAudio=(route-action "onAddAudio" careRecordText)
	        onRemoveMedia=(route-action "onRemoveMedia" careRecordText)

	        doRegister=(action (mut careRecordRef))
	        onLoadRecordItems=(route-action "onLoadRecordItems")
	        onRefreshRecordItems=(route-action "onRefreshRecordItems")

	        onText=(route-action "onText")

	        onAddNote=(route-action "startAddNoteSlideout")
	        onEditNote=(route-action "startEditNoteSlideout")
	        onViewNoteHistory=(route-action "startViewNoteHistorySlideout")
	        onRestoreNote=(route-action "onRestoreNote")

	        onScheduleMessage=(route-action "startNewScheduleMessageSlideout")
	        onViewScheduledMessages=(route-action "startViewScheduledMessagesSlideout")}}
	{{/if}}
</div>
