{{#sliding-drawer contentsId='menu'
    closeOnContentsClick=true
    allowCloseContentsSelector='.menu-item'
    ignoreCloseContentsSelector='.menu-slideout, .header-slideout, .menu-header'
    bodyId='body'
    as |drawer|}}
    <span class="display-xs display-s display-m menu-toggle">
        <button class="btn btn-plain"
            onclick={{drawer.actions.toggle}}>
            <span class="fa fa-bars"></span>
        </button>
    </span>
    {{#liquid-if showSlideout class='animate-slide-from-right animated-overflow'}}
        {{outlet 'details-slideout'}}
    {{/liquid-if}}
    {{outlet}}
{{else}}
    {{#hide-away tagName='li'
        classNames='header-slideout display-xs display-s display-m'
        tabindex=false
        triggerClass='header-toggle'
        allowedTriggerSelectors='.toggle-control'
        bodyClickClose=true}}
        {{partial 'partials/account/switcher'}}
    {{else}}
        <div class="xs-8-row-10 toggle-control">
            {{partial 'partials/account/display'}}
        </div>
        <div class="xs-2-row-10 header-settings"
            {{action 'toggleSlideout' 'slideouts/account' 'admin'}}>
            <button class="btn btn-expand settings-btn">
                <span class="fa fa-cog"></span>
            </button>
        </div>
    {{/hide-away}}
    <li class='menu-item menu-header display-l'
        {{action 'toggleSlideout' 'slideouts/account' 'admin'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title=(concat 'Admin (' stateManager.owner.name ')')
            classNames='btn-expand'}}
            <span class="fa fa-bars"></span>
        {{/tool-tipster}}
    </li>
    {{#if numPending}}
        {{#link-to 'admin.pending' tagName='li' classNames='menu-item'}}
            {{#tool-tipster position='right'
                theme='tooltipster-clean'
                title=(concat 'Pending (' numPending ')')
                classNames='btn-expand display-l'}}
                <span class="fa fa-clock-o"></span>
            {{/tool-tipster}}
            <div class="btn-expand display-xs display-s display-m">
                <span class="text-bold">Pending</span>
                <span class="badge dark">{{numPending}}</span>
            </div>
        {{/link-to}}
    {{/if}}
    <li class="menu-divider display-l"></li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/new-staff' 'admin'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Add Staff'
            classNames='btn-expand'}}
            <span class="fa fa-user-plus"></span>
        {{/tool-tipster}}
    </li>
    {{#link-to 'admin.people' tagName='li' classNames='menu-item display-l'}}
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='People'
            classNames='btn-expand'}}
            <span class="fa fa-user"></span>
        {{/tool-tipster}}
    {{/link-to}}
    <li class="menu-divider display-l"></li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/teams/list' 'admin'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Teams'
            classNames='btn-expand'}}
            <span class="fa fa-users"></span>
        {{/tool-tipster}}
    </li>

    {{!-- staff members --}}

    <li class="menu-divider display-xs display-s display-m">
        People
        <button class="btn btn-plain v-center-right"
            {{action 'toggleSlideout' 'slideouts/new-staff' 'admin'}}>
            <span class="fa fa-plus"></span>
        </button >
    </li>
    <li class="menu-item display-xs display-s display-m
        {{if (and (not stateManager.viewingTeam) (eq filter 'active')) 'active'}}"
        {{action 'changeFilter' 'active'}}>
        <span class="text-bold">Active</span>
    </li>
    <li class='menu-item display-xs display-s display-m
        {{if (and (not stateManager.viewingTeam) (eq filter 'admins')) 'active'}}'
        {{action 'changeFilter' 'admins'}}>
        <span class="text-bold">Admins</span>
    </li>
    <li class='menu-item display-xs display-s display-m
        {{if (and (not stateManager.viewingTeam) (eq filter 'blocked')) 'active'}}'
        {{action 'changeFilter' 'blocked'}}>
        <span class="text-bold">Blocked</span>
    </li>

    {{!-- teams --}}

    <li class="menu-divider display-xs display-s display-m">
        Teams
        <button class="btn btn-plain v-center-right"
            {{action 'toggleSlideout' 'slideouts/teams/create' 'admin'}}>
            <span class="fa fa-plus"></span>
        </button >
    </li>
    {{#each teams as |team|}}
        {{#link-to 'admin.team' tagName='li'
            classNames='menu-item display-xs display-s display-m'}}
            <span class="text-bold">{{team.name}}</span>
            <span class="badge dark">{{team.numMembers}}</span>
            <span class="indicator" style="background-color:{{team.hexColor}};"></span>
        {{/link-to}}
    {{else}}
        <li class='pad-t text-bold display-xs display-s display-m'>No teams yet.</li>
    {{/each}}

    <li class='menu-footer display-l'>
        <img class="brand" src='assets/images/logo.png' />
    </li>
{{/sliding-drawer}}
