{{title 'Admin ' stateService.owner.name prepend=false separator=" - "}}

{{#sliding-drawer contentsId='menu'
    closeOnContentsClick=true
    allowCloseContentsSelector='.menu-item'
    ignoreCloseContentsSelector='.menu-slideout, .header-slideout, .menu-header'
    bodyId='body'
    as |drawer|}}
    <span class="display-xs display-s display-m menu-toggle">
        <button class="btn btn-plain full-height"
            onclick={{drawer.actions.toggle}}>
            <span class='halo halo-sm bg-color bg-dark text-heading'>
                <span class="fa fa-home"></span>
            </span>
        </button>
    </span>
    {{#liquid-if (get slideoutService.shouldShow (constant "SLIDEOUT.OUTLET.DETAIL"))
        class='animate-slide-from-right animated-overflow'}}
        {{outlet (constant "SLIDEOUT.OUTLET.DETAIL")}}
    {{/liquid-if}}
    {{outlet}}
{{else}}
    <div class="menu">
        <div class="menu__section">
            <div class="display-xs display-s display-m">
                {{#account-switcher user=authService.authUser
                    onLogOut=(service-action "authService" "logout")
                    doRegister=(action (mut accountSwitcher))
                    activeName=stateService.owner.name
                    activeNumber=stateService.owner.phone.content.number
                    toggleClass="xs-8-row-10"}}
                    <button class="xs-2-row-10 textup-account-switcher__display"
                        onclick={{route-action "toggleSlideout" "slideouts/account" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                        <span class="fa fa-cog"></span>
                    </button>
                {{/account-switcher}}
            </div>
            <div class="display-l">
                <div class="menu-item menu-header menu-header-light"
                    {{action "toggleSlideout" "slideouts/account" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                    {{#tool-tip classNames="btn-expand"
                        title=(concat "Admin (" stateService.owner.name ")")
                        side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-home"></span>
                    {{/tool-tip}}
                </div>
            </div>
            {{#if numPending}}
                {{#link-to "admin.pending" tagName="div" classNames="menu-item"}}
                    <div class="display-xs display-s display-m">
                        <div class="btn-expand">
                            <span>Pending</span>
                            <span class="badge dark">{{numPending}}</span>
                        </div>
                    </div>
                    <div class="display-l">
                        {{#tool-tip classNames="btn-expand"
                            title=(concat "Pending (" numPending ")")
                            side=(constant "TOOLTIP.SIDE.RIGHT")}}
                            <span class="fa fa-clock-o"></span>
                        {{/tool-tip}}
                    </div>
                {{/link-to}}
                <div class="display-l">
                    <div class="menu-divider"></div>
                </div>
            {{/if}}

            {{!-- staff members --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider">
                    People
                    <button class="btn btn-plain v-center-right"
                        {{action "toggleSlideout" "slideouts/staff/create" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                        <span class="fa fa-plus"></span>
                    </button >
                </div>
                <div class="menu-item
                    {{if (and (not stateService.viewingTeam) (eq filter (constant "STAFF.FILTER.ACTIVE"))) "active"}}"
                    {{action "changeFilter" (constant "STAFF.FILTER.ACTIVE")}}>
                    <span>Active</span>
                </div>
                <div class="menu-item
                    {{if (and (not stateService.viewingTeam) (eq filter (constant "STAFF.FILTER.ADMINS"))) "active"}}"
                    {{action "changeFilter" (constant "STAFF.FILTER.ADMINS")}}>
                    <span>Admins</span>
                </div>
                <div class="menu-item
                    {{if (and (not stateService.viewingTeam) (eq filter (constant "STAFF.FILTER.DEACTIVATED"))) "active"}}"
                    {{action "changeFilter" (constant "STAFF.FILTER.DEACTIVATED")}}>
                    <span>Deactivated</span>
                </div>
            </div>
            <div class="display-l">
                <div class="menu-item menu-slideout"
                    {{action "toggleSlideout" "slideouts/staff/create" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                    {{#tool-tip classNames="btn-expand" title="Add Staff" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-user-plus"></span>
                    {{/tool-tip}}
                </div>
                {{#link-to "admin.people" tagName="div" classNames="menu-item"}}
                    {{#tool-tip classNames="btn-expand" title="People" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-user"></span>
                    {{/tool-tip}}
                {{/link-to}}
            </div>

            {{!-- teams --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider">
                    Teams
                    <button class="btn btn-plain v-center-right"
                        {{action "toggleSlideout" "slideouts/team/create" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                        <span class="fa fa-plus"></span>
                    </button >
                </div>
                {{#each model.teams as |team|}}
                    {{#link-to "admin.team" team tagName="div"
                        classNames="menu-item"}}
                        <span>{{team.name}}</span>
                        <span class="badge dark">{{team.numMembers}}</span>
                        <span class="indicator" style="background-color:{{team.hexColor}};"></span>
                    {{/link-to}}
                {{else}}
                    <div class="pad-t pad-b">No teams yet.</div>
                {{/each}}
            </div>
            <div class="display-l">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    {{action "toggleSlideout" "slideouts/team/list" "admin" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                    {{#tool-tip classNames="btn-expand" title="Teams" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-users"></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
        <div class="menu__section">
            <div class="display-xs display-s display-m">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startFeedbackSlideout"}}>
                    <span>Support</span>
                </div>
            </div>
            <div class="display-l">
                <div class="border-t menu-item menu-slideout"
                    onclick={{route-action "startFeedbackSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Support"
                        classNames="btn-expand"}}
                        <span class="fa fa-question"></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
    </div>
{{/sliding-drawer}}
