{{title "Admin " (service-prop "stateService" "owner.name") prepend=false separator=" - "}}

{{#sliding-drawer contentsId="menu"
    closeOnContentsClick=true
    allowCloseContentsSelector=".menu-item"
    ignoreCloseContentsSelector=".menu-slideout, .header-slideout, .menu-header"
    bodyId="body"
    as |drawer|}}
    <span class="display-xs display-s display-m menu-toggle">
        <button class="btn btn-plain full-height"
            onclick={{drawer.actions.toggle}}>
            <span class="halo halo-sm bg-color bg-dark text-heading">
                <span class="fa fa-home"></span>
            </span>
        </button>
    </span>
    {{#liquid-if (get (service-prop "slideoutService" "shouldShow") (constant "SLIDEOUT.OUTLET.DETAIL"))
        class="animate-slide-from-right animated-overflow"}}
        {{outlet (constant "SLIDEOUT.OUTLET.DETAIL")}}
    {{/liquid-if}}
    {{outlet}}
{{else}}
    <div class="menu">
        <div class="menu__section">
            <div class="display-xs display-s display-m">
                {{#account-switcher user=(service-prop "authService" "authUser")
                    onLogOut=(service-action "authService" "logout")
                    doRegister=(action (mut accountSwitcher))
                    activeName=(service-prop "stateService" "owner.name")
                    activeNumber=(service-prop "stateService" "owner.phone.content.number")
                    toggleClass="xs-8-row-10"}}
                    <button type="button"
                        class="xs-2-row-10 textup-account-switcher__display"
                        onclick={{service-action "accountSlideoutService" "openSlideout"}}>
                        <span class="fa fa-cog"></span>
                    </button>
                {{/account-switcher}}
            </div>
            <div class="display-l">
                <div class="menu-item menu-header menu-header-light"
                    tabindex="0"
                    onclick={{service-action "accountSlideoutService" "openSlideout"}}>
                    {{#tool-tip classNames="btn-expand"
                        title=(concat "Admin (" (service-prop "stateService" "owner.name") ")")
                        side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-home"></span>
                    {{/tool-tip}}
                </div>
            </div>
            {{#if numPending}}
                {{#link-to "admin.pending" tagName="div" classNames="menu-item"}}
                    <div class="display-xs display-s display-m">
                        <div class="btn-expand">
                            <span>Pending</span>
                            <span class="badge dark">{{numPending}}</span>
                        </div>
                    </div>
                    <div class="display-l">
                        {{#tool-tip classNames="btn-expand"
                            title=(concat "Pending (" numPending ")")
                            side=(constant "TOOLTIP.SIDE.RIGHT")}}
                            <span class="icon-clock"></span>
                        {{/tool-tip}}
                    </div>
                {{/link-to}}
                <div class="display-l">
                    <div class="menu-divider"></div>
                </div>
            {{/if}}

            {{!-- staff members --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider">
                    People
                    <button class="btn btn-plain v-center-right"
                        type="button"
                        onclick={{service-action "slideout/staffService" "openSlideout"
                            (service-prop "stateService" "ownerAsOrg")}}>
                        <span class="icon-thin-plus"></span>
                    </button >
                </div>
                {{#each (object-values (constant "STAFF.FILTER")) as |filter|}}
                    <div class="menu-item {{is-staff-filter filter}}"
                        tabIndex="0"
                        onclick={{service-action "staffListService" "showFilteredStaffs" filter}}>
                        <span>{{capitalize filter}}</span>
                    </div>
                {{/each}}
            </div>
            <div class="display-l">
                <div class="menu-item menu-slideout"
                    tabindex="0"
                    onclick={{service-action "slideout/staffService" "openSlideout"
                        (service-prop "stateService" "ownerAsOrg")}}>
                    {{#tool-tip classNames="btn-expand" title="Add Staff" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="icon-add-contact"></span>
                    {{/tool-tip}}
                </div>
                {{#link-to "admin.people" tagName="div" classNames="menu-item"}}
                    {{#tool-tip classNames="btn-expand" title="People" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="icon-person"></span>
                    {{/tool-tip}}
                {{/link-to}}
            </div>

            {{!-- teams --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider">
                    Teams
                    <button type="button"
                        class="btn btn-plain v-center-right"
                        onclick={{service-action "slideout/teamService" "openNewTeamSlideout"
                            (service-prop "stateService" "ownerAsOrg")}}>
                        <span class="icon-thin-plus"></span>
                    </button >
                </div>
                {{#each model.teams as |team|}}
                    {{#link-to "admin.team" (get team (constant "PROP_NAME.URL_IDENT"))
                        tagName="div"
                        classNames="menu-item"}}
                        <span>{{team.name}}</span>
                        <span class="badge dark">{{team.numMembers}}</span>
                        <span class="indicator" style="background-color:{{team.hexColor}};"></span>
                    {{/link-to}}
                {{else}}
                    <div class="pad-t pad-b">No teams yet.</div>
                {{/each}}
            </div>
            <div class="display-l">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    tabindex="0"
                    onclick={{service-action "slideout/teamService" "openTeamListSlideout"
                        (service-prop "stateService" "ownerAsOrg")}}>
                    {{#tool-tip classNames="btn-expand" title="Teams" side=(constant "TOOLTIP.SIDE.RIGHT")}}
                        <span class="fa fa-users"></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
        <div class="menu__section">
            <div class="display-xs display-s display-m">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    tabindex="0"
                    onclick={{service-action "supportSlideoutService" "openSlideout"}}>
                    <span>Support</span>
                </div>
            </div>
            <div class="display-l">
                <div class="border-t menu-item menu-slideout"
                    tabindex="0"
                    onclick={{service-action "supportSlideoutService" "openSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Support"
                        classNames="btn-expand"}}
                        <span class="icon-question"></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
    </div>
{{/sliding-drawer}}
