{{title "TextUp"}}

{{#liquid-if (get slideoutService.shouldShow (constant "SLIDEOUT.OUTLET.DEFAULT"))
	class='animate-slide-from-left animated-overflow'}}
	<div class="{{if isLocked 'hidden'}}">
		{{outlet (constant "SLIDEOUT.OUTLET.DEFAULT")}}
	</div>
{{/liquid-if}}

<div id="container">
	{{#if isLocked}}
		<div class="single-container single-container-small">
			<div class="single-header">
				<img class="brand" src='assets/images/logo.png' />
		        <h3 class='text-white'>Enter lock code</h3>
			</div>
			<div class="single-body">
				{{lock-control val=lockCode
					lockTarget=authService.authUser.username
					numDigits=4
					doUpdate=(route-action 'updateLockCode')
					doSubmit=(route-action 'verifyLockCode')}}
			</div>
			<div class="single-footer">
				<p class="emphasize text-white">Not {{authService.authUser.name}}?</p>
		        <h4>
		        	<a href="" onclick={{route-action 'logout'}} class='text-white'>
		        		Log Out
		        	</a>
		    	</h4>
			</div>
		</div>
	{{else}}
		{{liquid-outlet}}
	{{/if}}
</div>

{{notification-container notifications=notifications}}
{{loading-slider isLoading=loading}}
{{cookie-consent learnMoreLink=(constant "LINK.PRIVACY_POLICY")}}
