{{title "Log In"}}

<div class="single-container single-container-small">
    <div class="single-header">
    	<img class="brand" src='assets/images/logo.png' />
        <h3>Log in</h3>
    </div>
    <div class="single-body">
        {{#hide-away tabindex=false
            animation='fade'
            hideTriggerOnOpen=true
            clickOutToClose=false
            bodyClickClose=false
            onClose=(action (mut resetUsername) null)
            allowedTriggerSelectors='.forgot-password' as |hideAway|}}
            <div class="single-body-header">
                <h5 class='text-center pad-b'>Forgot password?</h5>
                <p class="text-justify">Don't worry! Happens to all of us. Just type in your username and we'll send a reset email to the email address associated with your account.</p>
            </div>
            <div class="single-body-content">
                <div class="input-group">
                    {{input value=resetUsername type="text" placeholder="Username" class="form-control" autocorrect="off" autocapitalize="off"}}
                    <div class="input-group-addon">
                        {{async-button classNames='btn'
                            action=(route-action 'resetPassword' resetUsername)
                            default='Send'
                            pending='Sending...'}}
                    </div>
                </div>
            </div>
            <div class="single-body-footer text-center">
                <button class='btn btn-default' onclick={{hideAway.actions.close}}>
                    Back
                </button>
            </div>
        {{else}}
            <div class="single-body-header">
                <h5 class='text-center'>Welcome back!</h5>
            </div>
            <div class="single-body-content">
                <div class="form-element">
                    <label for="Username">Username</label>
                    {{input value=username type="text" placeholder="Username" class="form-control" autocorrect="off" autocapitalize="off"}}
                </div>
                <div class="form-element">
                    <label for="Password">Password</label>
                    {{input value=password type="password" placeholder="Password" class="form-control"}}
                </div>
                <div class="row form-element">
                    <div class="xs-row-2">
                        {{input type="checkbox" checked=storeCredentials}}
                        <span class="emphasize pad-l-half">Remember Me</span>
                    </div>
                    <div class="xs-row-2 forgot-password text-right">
                        <a href="#" class="emphasize" tabindex="-1">Forgot Password?</a>
                    </div>
                </div>
            </div>
            <div class="single-body-footer text-center">
                {{async-button classNames='btn btn-default'
                    action=(route-action 'login' username password storeCredentials)
                    default='Log in'
                    pending='Logging in...'}}
            </div>
        {{/hide-away}}
    </div>
    <div class="single-footer">
        <p class="emphasize text-darken">Don't have an account?</p>
        <h4>{{link-to "Sign Up" "signup" classNames="text-darken"}}</h4>
    </div>
</div>

