{{title "Log In"}}

<div class="single-container single-container-small">
    <div class="single-header">
    	<img class="brand" src="/assets/images/logo.png" />
        <h3 class="text-white">Log in</h3>
    </div>
    <div class="single-body">
        {{#hide-show focusOnOpenSelectors=".form__input"
            onClose=(action (mut resetUsername) null) as |hideShow|}}
            <div class="single-body-header">
                {{#if hideShow.isOpen}}
                    <h4 class="text-center pad-b">Forgot password?</h4>
                    <p class="text-justify">Don't worry! Happens to all of us. Just type in your username and we'll send a reset email to the email address associated with your account.</p>
                {{else}}
                    <h4 class="text-center">Welcome back!</h4>
                {{/if}}
            </div>
            <div class="form">
                {{#if hideShow.isOpen}}
                    <div class="form__group">
                        <label class="form__label" for="Username">Username</label>
                        {{input value=resetUsername
                            type="text"
                            placeholder="Username"
                            class="form__input"
                            autocorrect="off"
                            autocapitalize="off"
                            enter=(service-action "passwordResetService" "getToken" resetUsername)}}
                    </div>
                {{else}}
                    <div class="form__group">
                        <label class="form__label" for="Username">Username</label>
                        {{input value=username
                            type="text"
                            placeholder="Username"
                            class="form__input"
                            autocorrect="off"
                            autocapitalize="off"
                            enter=(action "login" username password storeCredentials)}}
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="Password">Password</label>
                        {{input value=password
                            type="password"
                            placeholder="Password"
                            class="form__input"
                            allowShowPassword=true
                            enter=(action "login" username password storeCredentials)}}
                    </div>
                    <div class="form__group">
                        <div class="xs-row-2 flex flex--align-center">
                            {{input id="log-in-remember-me" type="checkbox" checked=storeCredentials}}
                            <label class="form__label form__label--emphasize form__label--no-spacing"
                                for="log-in-remember-me">
                                Remember Me
                            </label>
                        </div>
                        <div class="xs-row-2 text-right flex flex--align-center flex--justify-end">
                            <button class="form__label form__label--emphasize btn-link"
                                type="button"
                                onclick={{hideShow.actions.open}}>
                                Forgot Password?
                            </button>
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="single-body-footer flex flex--spacing-between flex--justify-center">
                {{#if hideShow.isOpen}}
                    <div class="flex__item">
                        <button class="btn"
                            type="button"
                            onclick={{hideShow.actions.close}}>
                            Back
                        </button>
                    </div>
                    <div class="flex__item">
                        {{async-button classNames="btn btn-default"
                            disableWhen=(not resetUsername)
                            action=(service-action "passwordResetService" "getToken" resetUsername)
                            default="Send reset"
                            pending="Sending..."}}
                    </div>
                {{else}}
                    <div class="flex__item">
                        {{async-button classNames="btn btn-default"
                            action=(action "login" username password storeCredentials)
                            default="Log in"
                            pending="Logging in..."}}
                    </div>
                {{/if}}
            </div>
        {{/hide-show}}
    </div>
    <div class="single-footer">
        <p class="emphasize text-white">Don't have an account?</p>
        <h4>{{link-to "Sign Up" "signup" classNames="text-white"}}</h4>
    </div>
</div>

