{{title (service-prop "stateService" "owner.name") prepend=false separator=" - "}}

{{tour-components/tour-manager doRegister=(service-action "tourService" "registerManagerAndTryStart")
    onTourFinish=(service-action "tourService" "onTourFinish")}}
{{#if (not (service-prop "tourService" "isTourOngoing"))}}
    {{message-modal url=(config "appMessage.messageEndpoint")
        display=(service-prop "appMessageService" "shouldShow")
        onClose=(service-action "appMessageService" "closeMessage")}}
{{/if}}

{{#sliding-drawer contentsId="menu"
    closeOnContentsClick=true
    allowCloseContentsSelector=".menu-item"
    ignoreCloseContentsSelector=".menu-slideout, .header-slideout, .menu-header"
    bodyId="body"
    doRegister=(action (mut slidingMenu))
    as |drawer|}}
    <span id="tour-mobile-parent" class="display-xs display-s display-m menu-toggle">
        <button id="tour-openSlideoutButton"
            class="btn btn-plain full-height"
            onclick={{drawer.actions.toggle}}>
            {{#if (service-prop "stateService" "ownerIsTeam")}}
                <p class="halo halo-sm text-heading"
                    style="background-color:{{service-prop "stateService" "owner.hexColor"}};
                        color:{{contrast-color (service-prop "stateService" "owner.hexColor")}};">
                    {{abbreviate (service-prop "stateService" "owner.name") 1}}
                </p>
            {{else}}
                <span class="halo halo-sm bg-color bg-brand text-heading">
                    <span class="icon-person"></span>
                </span>
            {{/if}}
        </button>
    </span>
    {{#liquid-if (get slideoutService.shouldShow (constant "SLIDEOUT.OUTLET.DETAIL"))
        class="animate-slide-from-right animated-overflow"}}
        {{outlet (constant "SLIDEOUT.OUTLET.DETAIL")}}
    {{/liquid-if}}
    {{outlet}}
{{else}}
    <div class="menu">
        <div class="menu__section">
            <div id="tour-mobileSettings" class="display-xs display-s display-m">
                {{#account-switcher user=(service-prop "authService" "authUser")
                    onLogOut=(service-action "authService" "logout")
                    doRegister=(action (mut accountSwitcher))
                    activeName=(service-prop "stateService" "owner.name")
                    activeNumber=(service-prop "stateService" "owner.phone.content.number")
                    toggleClass="xs-8-row-10"}}
                    <button class="xs-2-row-10 textup-account-switcher__display"
                        onclick={{route-action "toggleSlideout" "slideouts/account" "main" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                        <span class="fa fa-cog"></span>
                    </button>
                {{/account-switcher}}
            </div>
            <div class="display-l">
                <div class="menu-item menu-header"
                    style="background-color:{{service-prop "stateService" "owner.hexColor"}};
                        color:{{contrast-color (service-prop "stateService" "owner.hexColor")}};"
                    onclick={{route-action "toggleSlideout" "slideouts/account" "main" (constant "SLIDEOUT.OUTLET.DEFAULT")}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title=(concat "Account (" (service-prop "stateService" "owner.name") ")")
                        classNames="btn-expand"}}
                        <h4 class="match-color">{{abbreviate (service-prop "stateService" "owner.name") 1}}</h4>
                    {{/tool-tip}}
                </div>
            </div>
            {{#if (service-prop "stateService" "owner.phone.isFulfilled")}}
                <div class="display-xs display-s display-m">
                    <div class="menu-item menu-slideout
                        {{if (get (owner-policy/self (service-prop "stateService" "owner.phone.content") (service-prop "authService" "authUser")) "schedule.isAvailableNow") "success"}}"
                        onclick={{route-action "startAvailabilitySlideout"}}>
                        <div class="btn-expand">
                            <span id="tour-openAvailabilityButtonMobile">Notifications</span>
                        </div>
                    </div>
                </div>
                <div class="display-l">
                    <div class="menu-item menu-slideout
                        {{if (get (owner-policy/self (service-prop "stateService" "owner.phone.content") (service-prop "authService" "authUser")) "schedule.isAvailableNow") "success"}}"
                        onclick={{route-action "startAvailabilitySlideout"}}>
                        {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                            title="Notifications"
                            classNames="btn-expand"}}
                            {{#if (get (owner-policy/self (service-prop "stateService" "owner.phone.content") (service-prop "authService" "authUser")) "schedule.isAvailableNow")}}
                                <span class="icon-availability-yes" id="tour-openAvailabilityButton">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            {{else}}
                                <span class="icon-availability-no" id="tour-openAvailabilityButton">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            {{/if}}
                        {{/tool-tip}}
                    </div>
                </div>
            {{/if}}
            <div class="display-xs display-s display-m">
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startComposeSlideout"}}>
                    <div class="btn-expand">
                        <span id="tour-openMessageButtonMobile">Compose</span>
                    </div>
                </div>
            </div>
            <div class="display-l">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startComposeSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Compose"
                        classNames="btn-expand"}}
                        <span class="fa fa-comment" id="tour-openMessageButton"></span>
                    {{/tool-tip}}
                </div>
            </div>
            <div class="display-xs display-s display-m">
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startCallSlideout"}}>
                    <div class="btn-expand">
                        <span id="tour-openCallButtonMobile">Call</span>
                    </div>
                </div>
            </div>
            <div class="display-l">
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startCallSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Call"
                        classNames="btn-expand"}}
                        <span class="icon-phone" id="tour-openCallButton"></span>
                    {{/tool-tip}}
                </div>
            </div>
            {{#if (can-download)}}
                <div class="display-xs display-s display-m">
                    <div class="menu-item menu-slideout"
                        onclick={{route-action "startMultipleExportSlideout"}}>
                        <div class="btn-expand">
                            <span id="tour-openExportButtonMobile">Export</span>
                        </div>
                    </div>
                </div>
                <div class="display-l">
                    <div class="menu-item menu-slideout"
                        onclick={{route-action "startMultipleExportSlideout"}}>
                        {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                            title="Export"
                            classNames="btn-expand"}}
                            <span class="fa fa-file" id="tour-openExportButton"></span>
                        {{/tool-tip}}
                    </div>
                </div>
            {{/if}}

            {{!-- contacts --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider" >
                    Contacts
                    <button class="btn btn-plain v-center-right"
                        type="button"
                        onclick={{route-action "startNewContactSlideout"}}>
                        <span class="icon-thin-plus" id="tour-addNewContactButton"></span>
                    </button >
                </div>
                <div class="menu-item
                    {{if (and (service-prop "stateService" "viewingContacts")
                        (eq filter (constant "CONTACT.FILTER.ALL"))) "active"}}"
                    {{action "showFilteredContacts" (constant "CONTACT.FILTER.ALL")}}>
                    <span>All</span>
                </div>
                <div class="menu-item
                    {{if (and (service-prop "stateService" "viewingContacts")
                        (eq filter (constant "CONTACT.FILTER.UNREAD"))) "active"}}"
                    {{action "showFilteredContacts" (constant "CONTACT.FILTER.UNREAD")}}>
                    <span>Unread</span>
                </div>
                <div class="menu-item
                    {{if (and (service-prop "stateService" "viewingContacts")
                        (eq filter (constant "CONTACT.FILTER.ARCHIVED"))) "active"}}"
                    {{action "showFilteredContacts" (constant "CONTACT.FILTER.ARCHIVED")}}>
                    <span>Archived</span>
                </div>
                <div class="menu-item
                    {{if (and (service-prop "stateService" "viewingContacts")
                        (eq filter (constant "CONTACT.FILTER.BLOCKED"))) "active"}}"
                    {{action "showFilteredContacts" (constant "CONTACT.FILTER.BLOCKED")}}>
                    <span>Blocked</span>
                </div>
            </div>
            <div class="display-l">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startNewContactSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Add Contact"
                        classNames="btn-expand"}}
                        <span class="icon-add-contact" id="tour-openNewContactButton"></span>
                    {{/tool-tip}}
                </div>
                {{#link-to "main.search" tagName="div" classNames="menu-item"}}
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Search Contacts"
                        classNames="btn-expand"}}
                        <span class="icon-search"></span>
                    {{/tool-tip}}
                {{/link-to}}
                {{#link-to "main.contacts" tagName="div" classNames="menu-item"}}
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Contacts"
                        classNames="btn-expand"}}
                        <span class="icon-person" id="tour-openContactListButton"></span>
                    {{/tool-tip}}
                {{/link-to}}
            </div>

            {{!-- tags --}}

            <div class="display-xs display-s display-m">
                <div class="menu-divider">
                    Tags
                    <button class="btn btn-plain v-center-right"
                        type="button"
                        onclick={{route-action "startNewTagSlideout"}}>
                        <span class="icon-thin-plus" id="tour-createNewTagButtonMobile"></span>
                    </button >
                </div>
                {{#if model.phone.isFulfilled}}
                    {{#each model.phone.content.tags as |tag|}}
                        {{#link-to "main.tag" (get tag (constant "PROP_NAME.URL_IDENT"))
                            tagName="div"
                            classNames="menu-item"}}
                            <span>
                                <span class="indicator margin-r-quarter"
                                    style="background-color:{{tag.hexColor}};"></span>
                                {{tag.name}}
                            </span>
                            <span class="badge dark">{{tag.numMembers}}</span>
                        {{/link-to}}
                    {{else}}
                        <div class="text-bold">
                            <div class="pad-t pad-b">No tags yet.</div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
            <div class="display-l">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout" id="tour-openTagsListButton"
                    onclick={{route-action "startTagListSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Tags"
                        classNames="btn-expand"}}
                        <span class="icon-tag" ></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
        <div class="menu__section" id="tour-supportButton">
            <div class="display-xs display-s display-m">
                <div class="menu-divider"></div>
                <div class="menu-item menu-slideout"
                    onclick={{route-action "startFeedbackSlideout"}}>
                    <span>Support</span>
                </div>
            </div>
            <div class="display-l">
                <div class="border-t menu-item menu-slideout"
                    onclick={{route-action "startFeedbackSlideout"}}>
                    {{#tool-tip side=(constant "TOOLTIP.SIDE.RIGHT")
                        title="Support"
                        classNames="btn-expand"}}
                        <span class="icon-question"></span>
                    {{/tool-tip}}
                </div>
            </div>
        </div>
    </div>
{{/sliding-drawer}}
