{{title stateManager.owner.name prepend=false separator=" - "}}

{{#sliding-drawer contentsId='menu'
    closeOnContentsClick=true
    allowCloseContentsSelector='.menu-item'
    ignoreCloseContentsSelector='.menu-slideout, .header-slideout, .menu-header'
    bodyId='body'
    doRegister=(action (mut slidingMenu))
    as |drawer|}}
    <span class="display-xs display-s display-m menu-toggle">
        <button class="btn btn-plain full-height"
            onclick={{drawer.actions.toggle}}>
            {{#if stateManager.ownerIsTeam}}
                <p class='halo halo-sm text-heading'
                    style='background-color:{{stateManager.owner.hexColor}};
                        color:{{contrast-color stateManager.owner.hexColor}};'>
                    {{abbreviate stateManager.owner.name 1}}
                </p>
            {{else}}
                <span class='halo halo-sm bg-color bg-brand text-heading'>
                    <span class="fa fa-user"></span>
                </span>
            {{/if}}
        </button>
    </span>
    {{#liquid-if showSlideout class='animate-slide-from-right animated-overflow'}}
        {{outlet 'details-slideout'}}
    {{/liquid-if}}
    {{outlet}}
{{else}}
    {{#hide-away tagName='li'
        classNames='header-slideout display-xs display-s display-m'
        tabindex=false
        triggerClass='header-toggle'
        allowedTriggerSelectors='.toggle-control'
        doRegister=(action (mut accountSwitcher))
        bodyClickClose=false}}
        {{partial 'partials/account/switcher'}}
    {{else}}
        <div class="xs-8-row-10 toggle-control">
            {{partial 'partials/account/display'}}
        </div>
        <div class="xs-2-row-10 header-settings"
            {{action 'toggleSlideout' 'slideouts/account' 'main'}}>
            <button class="btn btn-expand settings-btn">
                <span class="fa fa-cog"></span>
            </button>
        </div>
    {{/hide-away}}
    {{#if stateManager.ownerIsTeam}}
        <li class='menu-item menu-header display-l'
            style='background-color:{{stateManager.owner.hexColor}};
                color:{{contrast-color stateManager.owner.hexColor}};'
            {{action 'toggleSlideout' 'slideouts/account' 'main'}}>
            {{#tool-tipster position='right'
                theme='tooltipster-clean'
                title=(concat 'Account (' stateManager.owner.name ')')
                classNames='btn-expand'}}
                <h4 class='match-color'>{{abbreviate stateManager.owner.name 1}}</h4>
            {{/tool-tipster}}
        </li>
    {{else}} {{!-- is staff member, see admin.hbs for admin menu bar --}}
        <li class='menu-item menu-header display-l'
            {{action 'toggleSlideout' 'slideouts/account' 'main'}}>
            {{#tool-tipster position='right'
                theme='tooltipster-clean'
                title=(concat 'Account (' stateManager.owner.name ')')
                classNames='btn-expand'}}
                <span class="fa fa-user"></span>
            {{/tool-tipster}}
        </li>
    {{/if}}
    {{#if authManager.authUser.schedule.isFulfilled}}
        <li class='menu-item menu-slideout display-l
            {{if stateManager.isPhoneAvailable "success"}}'
            {{action 'toggleSlideout' 'slideouts/availability' 'main'}}>
            {{#tool-tipster position='right'
                theme='tooltipster-clean'
                title='Availability'
                classNames='btn-expand'}}
                {{#if stateManager.isPhoneAvailable}}
                    <span class="fa fa-calendar-check-o"></span>
                {{else}}
                    <span class="fa fa-calendar-times-o"></span>
                {{/if}}
            {{/tool-tipster}}
        </li>
        <li class='menu-item menu-slideout display-xs display-s display-m
            {{if stateManager.isPhoneAvailable "success"}}'
            {{action 'toggleSlideout' 'slideouts/availability' 'main'}}>
            <div class="btn-expand">
                <span>Availability</span>
            </div>
        </li>
    {{/if}}
    <li class="menu-divider display-l"></li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/compose' 'main'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Compose'
            classNames='btn-expand'}}
            <span class="fa fa-comments"></span>
        {{/tool-tipster}}
    </li>
    <li class='menu-item menu-slideout display-xs display-s display-m'
        {{action 'toggleSlideout' 'slideouts/compose' 'main'}}>
        <div class="btn-expand">
            <span>Compose</span>
        </div>
    </li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/call' 'main'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Call'
            classNames='btn-expand'}}
            <span class="fa fa-phone"></span>
        {{/tool-tipster}}
    </li>
    <li class='menu-item menu-slideout display-xs display-s display-m'
        {{action 'toggleSlideout' 'slideouts/call' 'main'}}>
        <div class="btn-expand">
            <span>Call</span>
        </div>
    </li>

    {{!-- contacts --}}

    <li class="menu-divider display-l"></li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/contact' 'main'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Add Contact'
            classNames='btn-expand'}}
            <span class="fa fa-user-plus"></span>
        {{/tool-tipster}}
    </li>
    {{#link-to 'main.search' tagName='li' classNames='menu-item display-l'}}
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Search Contacts'
            classNames='btn-expand'}}
            <span class="fa fa-search"></span>
        {{/tool-tipster}}
    {{/link-to}}
    {{#link-to 'main.contacts' tagName='li' classNames='menu-item display-l'}}
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Contacts'
            classNames='btn-expand'}}
            <span class="fa fa-user"></span>
        {{/tool-tipster}}
    {{/link-to}}
    <li class="menu-divider display-xs display-s display-m">
        Contacts
        <button class="btn btn-plain v-center-right"
            {{action 'toggleSlideout' 'slideouts/contact' 'main'}}>
            <span class="fa fa-plus"></span>
        </button >
    </li>
    <li class="menu-item display-xs display-s display-m
        {{if (and stateManager.viewingContacts (eq filter 'all')) 'active'}}"
        {{action 'changeFilter' 'all'}}>
        <span>All</span>
    </li>
    <li class="menu-item display-xs display-s display-m
        {{if (and stateManager.viewingContacts (eq filter 'unread')) 'active'}}"
        {{action 'changeFilter' 'unread'}}>
        <span>Unread</span>
    </li>
    <li class="menu-item display-xs display-s display-m
        {{if (and stateManager.viewingContacts (eq filter 'archived')) 'active'}}"
        {{action 'changeFilter' 'archived'}}>
        <span>Archived</span>
    </li>
    <li class="menu-item display-xs display-s display-m
        {{if (and stateManager.viewingContacts (eq filter 'blocked')) 'active'}}"
        {{action 'changeFilter' 'blocked'}}>
        <span>Blocked</span>
    </li>

    {{!-- tags --}}

    <li class="menu-divider display-l"></li>
    <li class='menu-item menu-slideout display-l'
        {{action 'toggleSlideout' 'slideouts/tags/list' 'main'}}>
        {{#tool-tipster position='right'
            theme='tooltipster-clean'
            title='Tags'
            classNames='btn-expand'}}
            <span class="fa fa-tags"></span>
        {{/tool-tipster}}
    </li>
    <li class="menu-divider display-xs display-s display-m">
        Tags
        <button class="btn btn-plain v-center-right"
            {{action 'toggleSlideout' 'slideouts/tags/create-edit' 'main'}}>
            <span class="fa fa-plus"></span>
        </button >
    </li>
    {{#if model.phone.isFulfilled}}
        {{#each model.phone.content.tags as |tag|}}
            {{#link-to 'main.tag' tag tagName='li'
                classNames='menu-item display-xs display-s display-m'}}
                <span>
                    <span class="indicator margin-r-quarter"
                        style="background-color:{{tag.hexColor}};"></span>
                    {{tag.name}}
                </span>
                <span class="badge dark">{{tag.numMembers}}</span>
            {{/link-to}}
        {{else}}
            <li class='text-bold display-xs display-s display-m'>
                <div class="pad-t pad-b">No tags yet.</div>
            </li>
        {{/each}}
    {{/if}}

    {{!-- feedback --}}

    <li class="menu-divider display-xs display-s display-m"></li>
    <li class='menu-item menu-slideout display-xs display-s display-m'
        {{action 'toggleSlideout' 'slideouts/feedback' 'main'}}>
        <span>Feedback</span>
    </li>
    <li class='menu-footer display-l'>
        <li class='border-t menu-item menu-slideout'
            {{action 'toggleSlideout' 'slideouts/feedback' 'main'}}>
            {{#tool-tipster position='right'
                theme='tooltipster-clean'
                title='Feedback'
                classNames='btn-expand'}}
                <span class="fa fa-question-circle"></span>
            {{/tool-tipster}}
        </li>
    </li>
{{/sliding-drawer}}
