<div class="single-container">
    <div class="single-header">
        <img class="brand" src='assets/images/logo.png' />
        <h3>Hello, {{authManager.authUser.name}}!</h3>
        <div class="subtitle">
            <a class='text-white' href="#" {{action 'logout'}}>
                Done editing info? <b>Log out.</b>
            </a>
        </div>
    </div>
    <div class="single-body">
        <div class="single-body-header">
            <div class="text-center pad-b">
                <h5>One more thing...</h5>
            </div>
            <p class="text-justify">
                {{#if authManager.authUser.isPending}}
                    <span>Your account is waiting for an administrator's approval. You will be emailed when you receive confirmation.</span>
                {{else if authManager.authUser.org.isPending}}
                    <span>Your account's organization is still pending verification in our closed beta. Please check your email for additional instructions on how to proceed with the verification process.</span>
                {{else}}
                    <span>Your administrator hasn't assigned approved you for a TextUp phone or assigned you to a team with a TextUp phone.</span>
                {{/if}}
                <span>If you have any questions, feel free to contact us at <span class='text-bold'>connect@textup.org</span></span>
            </p>
        </div>
        <div class="single-body-content">
            {{partial 'partials/staff/settings'}}
            <div class="pad-t text-center">
                <button class="btn" type='button'>
                    Cancel
                </button>
                <button class="btn btn-default" type='button'>
                    Update
                </button>
            </div>
            <hr>
            {{partial 'partials/staff/username-with-confirm'}}
            {{partial 'partials/staff/password-with-confirm'}}
        </div>
    </div>
    <div class="single-footer"></div>
</div>


