{{title "Pending"}}

<div class="single-container">
    <div class="single-header">
        <img class="brand" src="/assets/images/logo.png" />
        <h3 class="text-white">Hello, {{service-prop "authService" "authUser.name"}}!</h3>
        <div class="subtitle display-m display-l">
            <button type="button"
                class="btn-link text-white"
                onclick={{service-action "authService" "logout"}}>
                Log Out
            </button>
        </div>
    </div>
    <div class="single-body">
        <div class="single-body-header">
            <div class="text-center pad-b">
                <h5>One more thing...</h5>
            </div>
            <p class="text-justify">
                {{#if (service-prop "authService" "authUser.isPending")}}
                    <span>Your account is waiting for an administrator's approval. You will be emailed when you receive confirmation.</span>
                {{else if (service-prop "authService" "authUser.org.content.isPending")}}
                    <span>Your organization, <span class="text-bold">{{service-prop "authService" "authUser.org.content.name"}}</span>, is still pending verification in our closed beta. Please check your email for additional instructions on how to proceed with the verification process.</span>
                {{else}}
                    <span>Your administrator has not assigned you a TextUp phone and has not assigned you to a team with a TextUp phone.</span>
                {{/if}}
                <span>If you have any questions, feel free to contact us at <span class="text-bold">connect@textup.org</span></span>
            </p>
        </div>
        <div class="single-body-content">
            {{#with (service-prop "authService" "authUser") as |staff|}}
                {{#model-form/staff staff=staff
                    onRevert=(service-action "dataService" "revert" staff)
                    onSave=(service-action "dataService" "persist" staff)
                    onUpdateLockCode=(service-action "staffService" "updateLockCode" staff)
                    onUpdatePassword=(service-action "staffService" "updatePassword" staff)
                    onUpdateUsername=(service-action "staffService" "updateUsername" staff)
                    onValidateCredentials=(service-action "validateAuthService" "checkPassword"
                        staff.username)
                    as |staffForm|}}
                    {{#if (and staff.isDirty (not staffForm.isModifyingAPropertyRequiringConfirm))}}
                        <div class="flex flex--justify-center flex--spacing-between">
                            <div class="flex__item">
                                <button class="btn"
                                    type="button"
                                    onclick={{service-action "dataService" "revert" staff}}>
                                    Cancel
                                </button>
                            </div>
                            <div class="flex__item">
                                {{#action-button class="btn btn-default"
                                    disabled=(not (v-get staff "isValid"))
                                    onAction=(service-action "dataService" "persist" staff)}}
                                    Update
                                {{/action-button}}
                            </div>
                        </div>
                    {{/if}}
                {{/model-form/staff}}
            {{/with}}
        </div>
    </div>
    <div class="single-footer">
        <div class="display-xs display-s text-bold margin-t margin-b">
            <button type="button"
                class="btn-link text-white"
                onclick={{service-action "authService" "logout"}}>
                Done editing info? <b>Log out.</b>
            </button>
        </div>
    </div>
</div>


