{{title "Pending"}}

<div class="single-container">
    <div class="single-header">
        <img class="brand" src='assets/images/logo.png' />
        <h3 class='text-white'>Hello, {{authManager.authUser.name}}!</h3>
        <div class="subtitle display-m display-l">
            <a class='text-white' href="#" onclick={{route-action 'logout'}}>
                Done editing info? <b>Log out.</b>
            </a>
        </div>
    </div>
    <div class="single-body">
        <div class="single-body-header">
            <div class="text-center pad-b">
                <h5>One more thing...</h5>
            </div>
            <p class="text-justify">
                {{#if authManager.authUser.isPending}}
                    <span>Your account is waiting for an administrator's approval. You will be emailed when you receive confirmation.</span>
                {{else if authManager.authUser.org.content.isPending}}
                    <span>Your organization, <span class="text-bold">{{authManager.authUser.org.content.name}}</span>, is still pending verification in our closed beta. Please check your email for additional instructions on how to proceed with the verification process.</span>
                {{else}}
                    <span>Your administrator has not assigned you a TextUp phone and has not assigned you to a team with a TextUp phone.</span>
                {{/if}}
                <span>If you have any questions, feel free to contact us at <span class='text-bold'>connect@textup.org</span></span>
            </p>
        </div>
        <div class="single-body-content">
            {{#with authManager.authUser as |staff|}}
                {{partial 'partials/staff/settings'}}
                {{#if staff.hasDirtyAttributes}}
                    {{!-- separate if loops to prevent multiple-set deprecation --}}
                    {{#if (and (not usernameDropdown.isOpen)
                        (not passwordDropdown.isOpen)
                        (not codeDropdown.isOpen))}}
                        <div class="pad-t text-center">
                            <button class="btn" type='button'
                                onclick={{route-action 'revert' staff}}>
                                Cancel
                            </button>
                            {{async-button classNames='btn btn-default'
                                disableWhen=(not (v-get staff 'isValid'))
                                action=(route-action 'persist' staff)
                                default='Update'
                                pending='Updating...'}}
                        </div>
                    {{/if}}
                {{/if}}
                <hr>
                {{partial 'partials/staff/code-with-confirm'}}
                {{partial 'partials/staff/username-with-confirm'}}
                {{partial 'partials/staff/password-with-confirm'}}
            {{/with}}
        </div>
    </div>
    <div class="single-footer">
        <div class="display-xs display-s text-bold margin-t margin-b">
            <a class='text-white' href="#" onclick={{route-action 'logout'}}>
                Done editing info? <b>Log out.</b>
            </a>
        </div>
    </div>
</div>


