{{title "Set Up"}}

<div class="single-container">
    <div class="single-header">
    	<img class="brand" src="/assets/images/logo.png" />
        <h3 class="text-white">Set Up Account</h3>
        <div class="subtitle">
            <button type="button"
                class="btn-link text-bold text-white"
                onclick={{service-action "authService" "logout"}}>
                Log out
            </button>
        </div>
    </div>
    <div class="single-body margin-b-double">
	    <div class="single-body-header">
	        <h5 class="text-center pad-b">Welcome to TextUp, {{service-prop "authService" "authUser.name"}}!</h5>
	        <p class="text-justify">Harness the power of TextUp by <b>connecting your personal cell phone to your account.</b> Please enter your personal cell phone below to get started. We"ll send you a text message with a verification code after you submit your number.</p>
	    </div>
	    <div class="single-body-content">
            <p class="text-bold text-big margin-b">Request a verification code</p>
            <div class="row">
                {{phone-control classNames="xs-full-row m-7-row-10 margin-b"
                    number=(service-prop "userSetupService" "inProgressPersonalNumber")
                    onChange=(service-mut "userSetupService" "inProgressPersonalNumber")}}
                {{#action-button classNames='btn-default xs-full-row m-3-row-10'
                    disabled=(not (service-prop "userSetupService" "inProgressPersonalNumber"))
                    onAction=(service-action "userSetupService" "startPersonalNumberSetup")}}
                    Get code
                {{/action-button}}
            </div>
            <hr>
            <p class="text-bold text-big margin-b">Have a verification code already?</p>
            <div class="row">
                <div class="xs-full-row m-7-row-10 margin-b">
                    <input class="form-control"
                        type="text"
                        value={{service-prop "userSetupService" "verificationCode"}}
                        onkeyup={{service-mut "userSetupService" "verificationCode" value="target.value"}}
                        placeholder="Enter verification code..."
                        autocorrect="off"
                        autocapitalize="off">
                </div>
                {{#action-button classNames='btn-default xs-full-row m-3-row-10'
                    disabled=(not (service-prop "userSetupService" "verificationCode"))
                    onAction=(route-action "finishPersonalNumberSetup")}}
                    Finish set up
                {{/action-button}}
            </div>
	    </div>
	    <div class="single-body-footer text-center">
	    	<span>
	    		<button class="btn btn-span btn-default btn-plain"
                    type="button"
	    			onclick={{route-action "skipSetup"}}>
	    			I'll add my personal phone later...
	    		</button>
	    	</span>
	    </div>
	</div>
</div>

