{{title "Set Up"}}

<div class="single-container">
    <div class="single-header">
    	<img class="brand" src="assets/images/logo.png" />
        <h3 class="text-white">Set Up Account</h3>
        <div class="subtitle">
        	<a href="" class="text-bold text-white"
        		{{action "logout"}}>
        		Log out
    		</a>
        </div>
    </div>
    <div class="single-body margin-b-double">
	    <div class="single-body-header">
	        <h5 class="text-center pad-b">Welcome to TextUp, {{authService.authUser.name}}!</h5>
	        <p class="text-justify">Harness the power of TextUp by <b>connecting your personal cell phone to your account.</b> Please enter your personal cell phone below to get started. We"ll send you a text message with a verification code after you submit your number.</p>
	    </div>
	    <div class="single-body-content">
            <p class="text-bold text-big margin-b">Request a verification code</p>
            <div class="row">
                {{phone-control classNames="xs-full-row m-7-row-10 margin-b"
                    number=personalNumber
                    onChange=(action (mut personalNumber))}}
                {{#action-button classNames='btn-default xs-full-row m-3-row-10'
                    disabled=(not personalNumber)
                    onAction=(route-action "startVerifyPersonalPhone" personalNumber)}}
                    Get code
                {{/action-button}}
            </div>
            <hr>
            <p class="text-bold text-big margin-b">Have a verification code already?</p>
            <div class="row">
                <div class="xs-full-row m-7-row-10 margin-b">
                    {{input class="form-control"
                        value=verificationCode
                        type="text"
                        placeholder="Enter verification code..."
                        autocorrect="off"
                        autocapitalize="off"
                        enter=(route-action "finishVerifyPersonalPhone" personalNumber verificationCode)}}
                </div>
                {{#action-button classNames='btn-default xs-full-row m-3-row-10'
                    disabled=(not verificationCode)
                    onAction=(route-action "finishVerifyPersonalPhone" personalNumber verificationCode)}}
                    Finish set up
                {{/action-button}}
            </div>
	    </div>
	    <div class="single-body-footer text-center">
	    	<span>
	    		<button class="btn btn-span btn-default btn-plain"
                    type="button"
	    			onclick={{route-action "skipSetup"}}>
	    			I'll add my personal phone later...
	    		</button>
	    	</span>
	    </div>
	</div>
</div>

